<div [id]="'label_'+node.label.label">

    <span [ngStyle]="{'color': node.nodes ? '' : 'transparent'}" [ngClass]="node.nodes ? 'link-cursor': ''">
        <i class="fa mr-2" [ngClass]="showChildren ? 'fa-chevron-down' : 'fa-chevron-right'"
            (click)="toggleChildren()"></i>
    </span>

    <div class="custom-control custom-checkbox custom-control-inline custom-control-primary mb-1">
        <input type="checkbox" class="custom-control-input" [id]="'select_'+node.label.label"
            [name]="'select_'+node.label.label" [checked]="isTheNodeSelected(node.label.label)"
            (change)="toggleLabel(node.label)">
        <label class="custom-control-label" [for]="'select_'+node.label.label">
            <span class="badge badge-primary" [ngStyle]="{'background-color': node.label.color}">
                {{node.label.label}}
            </span>
        </label>
    </div>

    <div *ngIf="showChildren">
        <div *ngIf="node.nodes" class="ml-4">
            <div *ngFor="let labelNode of node.nodes">
                <app-label-node [node]="labelNode" [labelslist]="selectedLabelsList"></app-label-node>
            </div>
        </div>
    </div>
</div>