
  <div class="block block-bordered block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">Report <small>by Application Environnment RobotDecli</small></h3>
      <button type="button" class="btn-block-option" (click)="expand = !expand">
          <i class="si" [ngClass]="{'si-arrow-down': !expand, 'si-arrow-up': expand}"></i>
        </button>
    </div>
    <div class="block-content row" *ngIf="expand">
      <div class="chart-container" *ngFor="let chart of charts">
        <canvas baseChart 
        [data]="chart.data" 
        [labels]="chart.labels" 
        [legend]="chart.legend" 
        [colors]="chart.colors" 
        [chartType]="'polarArea'"
        [options]="chart.options">
        </canvas>
      </div>
    </div>
  </div>