<app-datatable-page 
    [pageSort]="defaultPageSort" 
    [columns]="columns" 
    [servlet]="servlet" 
    [selectedRows]="selectedRows"
    [selection]="true" 
    [refreshResults]="refreshResultsEvent.asObservable()">

    <!--START Template for create button-->
    <ng-template datatable-filter-tmp>
        <button type="button" class="btn btn-sm btn-info mr-4 mb-3" (click)="createTestCaseHeader()">
            <i class="fa fa-fw fa-plus download mr-2"></i>Test Case
        </button>
    </ng-template>
    <!--END Template for create button-->

    <!--START Template for mass action buttons-->
    <ng-template datatable-mass-action-tmp>
        <app-actions [selectedRows]="selectedRows"></app-actions>
    </ng-template>
    <!--END Template for mass action buttons-->

    <!--START Template for end rows buttons-->
    <ng-template datatable-end-line-tmp let-row="row">
            <div class="row-menu">
                    <div class="actions-section">
                        <button class="btn btn-outline-danger" (click)="deleteTestCase(row)">
                            <i class="fa fa-trash-alt"></i>
                        </button>

                <button class="btn btn-outline-success">
                    <i class="fa fa-play"></i>
                </button>

                        <button class="btn btn-outline-info" (click)="editTestCaseHeader(row)">
                            <i class="fa fa-pen"></i>
                        </button>

                <button class="btn btn-outline-primary" (click)="duplicateTestCaseHeader(row)">
                    <i class="fa fa-copy"></i>
                </button>
            </div>
        </div>
    </ng-template>
    <!--END Template for end rows buttons-->

</app-datatable-page>
