<app-datatable-page [pageSort]="defaultPageSort" [columns]="columns" [servlet]="servlet" [selectedRows]="selectedRows"
    [selection]="true" [refreshResults]="refreshResultsEvent.asObservable()">

    <!--START Template for create button-->
    <ng-template cerberusDatatableFilter>
        <button type="button" class="btn btn-sm btn-info" (click)="createTestCaseHeader()" id="createTestCaseButton">
            <i class="fa fa-fw fa-plus download mr-2"></i>Test Case
        </button>
    </ng-template>
    <!--END Template for create button-->

    <!--START Template for mass action buttons-->
    <ng-template cerberusDatatableMassAction>
        <app-actions [selectedRows]="selectedRows" (redirectToScriptButtonClicked)="redirectToTestCaseScript($event)">
        </app-actions>
    </ng-template>
    <!--END Template for mass action buttons-->

    <!-- START Template for end rows buttons -->
    <ng-template cerberusDatatableEndLineAction let-row="row">
        <div class="row-menu">
            <div class="actions-section">
                <div class="btn-group btn-group-sm" data-toggle="buttons" role="group" aria-label="Icons Text group">
                    <button type="button" class="btn btn-outline-secondary" (click)="editTestCaseHeader(row)">
                        <i class="fa fa-fw fa-pen"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="redirectToTestCaseScript(row)">
                        <i class="fa fa-fw fa-list-ol"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="duplicateTestCaseHeader(row)">
                        <i class="fa fa-fw fa-copy"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="runSingleTestCase()">
                        <i class="fa fa-fw fa-play"></i>
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

</app-datatable-page>