<!-- Sidebar -->
<nav id="sidebar" aria-label="Main Navigation">
  <!-- Side Header -->
  <div class="bg-header-dark">
    <div class="content-header bg-white-10">
      <!-- Logo -->
      <a class="font-w600 font-size-lg text-white" routerLink="/analyse/dashboard">
        <span class="smini-visible">
          <!-- <span class="text-white-75">C</span><span class="text-white">e</span> -->
          <img src="/assets/media/logos/logo_cerberus_medium.png" width="30" height="30">
        </span>
        <span class="smini-hidden">
          <!-- <span class="text-white-75">Cerb</span><span class="text-white">erus</span> -->
          <img src="/assets/media/logos/logo_cerberus_medium.png" width="30" height="30"> <span
            class="text-white">Cerberus</span>
        </span>
      </a>
      <!-- END Logo -->

      <!-- Options -->
      <div>
        <!-- Toggle Sidebar Style -->
        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
        <!-- Class Toggle, functionality initialized in Helpers.coreToggleClass() -->
        <a class="js-class-toggle text-white-75" 
          (click)="toggleNightMode()">
          <i class="fa" [ngClass]="(_nightMode)? 'fa-toggle-on' : 'fa-toggle-off'" id="sidebar-style-toggler"></i>
        </a>
        <!-- END Toggle Sidebar Style -->

        <!-- Close Sidebar, Visible only on mobile screens -->
        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
        <a class="d-lg-none text-white ml-2" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
          <i class="fa fa-times-circle"></i>
        </a>
        <!-- END Close Sidebar -->
      </div>
      <!-- END Options -->
    </div>
  </div>
  <!-- END Side Header -->
  <!-- Side Navigation -->
  <div class="test content-side content-side-full">
    <ul class="nav-main">
      <li class="nav-main-item">
        <a class="nav-main-link" routerLink="/analyse/dashboard" routerLinkActive="active">
          <i class="nav-main-link-icon si si-cursor"></i>
          <span class="nav-main-link-name">Dashboard</span>
          <!-- <span class="nav-main-link-badge badge badge-pill badge-success">5</span> -->
        </a>
      </li>
      <ng-template ngFor let-menu [ngForOf]="menus">
        <li class="nav-main-heading">{{ menu.name }}</li>
        <li class="nav-main-item" [ngClass]="{'open': menuitem.expanded&&menuitem.submenu}" style="cursor: pointer;" *ngFor='let menuitem of menu.data'>
          <a class="nav-main-link" [ngClass]="menuitem.submenu ? 'nav-main-link-submenu' : ''" [routerLink]="menuitem.submenu ? null : menuitem.link" (click)="toggleMenu(menuitem)">
            <i *ngIf="menuitem.icon_class" class="nav-main-link-icon si" [ngClass]="menuitem.icon_class"></i>
            <span class="nav-main-link-name">{{menuitem.name}}</span>
          </a>
          <ul class="no-padding nav-main-submenu" *ngIf="menuitem.submenu && menuitem.expanded">
            <li class="nav-main-item" *ngFor="let submenuitem of menuitem.submenu">
              <a class="nav-main-link" [ngClass]="submenuitem.submenu ? 'nav-main-link-submenu' : ''"
                [routerLink]="submenuitem.submenu ? null : submenuitem.link">
                <i *ngIf="submenuitem.icon_class" class="nav-main-link-icon si" [ngClass]="submenuitem.icon_class"></i>
                <span class="nav-main-link-name">{{submenuitem.name}}</span>
              </a>              
            </li>
          </ul>
        </li>
      </ng-template>
    </ul>
  </div>
  <!-- END Side Navigation -->
</nav>
<!-- END Sidebar -->