  <!-- Footer -->
  <footer id="page-footer" class="bg-body-light">
    <div class="content py-0">
      <div class="row font-size-sm">
        <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-right">
          <i class="fa fa-calendar-alt"></i> <span class="mlr-1 ">2018-11-25 17:55:29</span> <i class="fa fa-clock"></i>
          <span class="mlr-1 ">515 ms</span>
        </div>
        <div class="col-sm-6 order-sm-1 text-center text-sm-left">
          <a class="font-w600" href="https://goo.gl/mDBqx1" target="_blank">Cerberus 4.0 (Snapshot)</a> &copy; <span
            data-toggle="year-copy">2019</span>
        </div>
      </div>
    </div>
  </footer>
  <!-- END Footer -->