  <ng-select [items]="applicationList"
             [selectableGroup]="true"
             [multiple]="true"
             [closeOnSelect]="false"
             bindLabel="application"
             bindValue="application"
             placeholder="Select an application" [(ngModel)]='appliSelect' [clearable]="true">
    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
      <input type="checkbox" [ngModel]="item$.selected"/> {{item.application | uppercase }}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input type="checkbox" [ngModel]="item$.application"/> {{item.application}}
    </ng-template>
  </ng-select>
