<div class="block block-bordered control mb-0" *ngIf="control">
  <div class="block-header ml-6" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">
    <div class="input-group" (click)="focusOnControl()">
      <div class="input-group-prepend">
        <span class="input-group-text custom">
          {{control.sort}}
        </span>
      </div>
      <div class="input-group-prepend" *ngIf="findControlCrossReference(control.control).icon" [ngbPopover]="control.control"
        triggers="mouseenter:mouseleave">
        <span class="input-group-text custom">
          <i [ngClass]="findControlCrossReference(control.control).icon"></i>
        </span>
      </div>
      <input type="text" [id]="'step'+control.step+'action'+control.sequence+'control'+control.sort" [(ngModel)]="control.description"
        class="form-control br-lr-1 bg-transparent b-0" name="activeStepDescription" placeholder="Control Description">
    </div>
    <div *ngIf="showControlAddButtons" class="block-options">
      <button type="button" class="btn btn-sm btn-outline-primary mr-1"> <i class="fa fa-fw fa-plus"></i> </button>
      <button type="button" class="btn btn-sm btn-outline-success mr-1"> <i class="fa fa-fw fa-plus"></i> </button>
    </div>
    <div class="block-options">
      <button *ngIf="control.conditionOper != 'always'" type="button" class="btn-block-option info_block_options"
        [ngbPopover]="control.conditionOper == 'never' ? 'This control is disabled' : 'This control execution is conditioned'"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw" [ngClass]="control.conditionOper == 'never' ? 'fa-times' : 'fa-question' "></i>
      </button>
      <button *ngIf="control.fatal == 'Y'" type="button" class="btn-block-option info_block_options" ngbPopover="This control is fatal"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-exclamation"></i>
      </button>
      <button type="button" class="btn-block-option" (click)="control.toDelete = !control.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
      <button type="button" [id]="'control' + control.sort +'dragControl'" class="btn-block-option">
        <i class="fa fa-arrows-alt-v"></i>
      </button>
    </div>
  </div>
</div>
<!-- OLD -->
<!-- 
<div class="block block-bordered mb-1 ml-2" [id]="'control' + control.sort" [ngClass]="control.toDelete ? 'toDelete' : ''"
  (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">
  <div class="block-header block-header-default" [ngClass]="control.toDelete ? 'toDelete' : ''">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text controlHeaderSort">
          {{ control.sequence }}.{{ control.sort }}
        </span>
      </div>
      <input type="text" [(ngModel)]="control.description" class="form-control" name="test" placeholder="Control Description">
    </div>
    <div class="block-options">
      <button *ngIf="control.fatal == 'Y'" type="button" class="btn-block-option info_block_options" ngbPopover="This control is fatal">
        <i class="far fa-fw fa-life-ring"></i>
      </button>
      <button *ngIf="control.conditionOper != 'always'" type="button" class="btn-block-option info_block_options"
        [ngbPopover]="control.conditionOper == 'never' ? 'This control is disabled' : 'This control execution is conditioned'">
        <i class="far fa-fw" [ngClass]="control.conditionOper == 'never' ? 'fa-times-circle' : 'fa-question-circle' "></i>
      </button>
      <button type="button" class="btn-block-option" (click)="showedControlHeader = !showedControlHeader">
        <i class="far fa-fw" [ngClass]="showedControlHeader ? 'fa-minus-square' : 'fa-plus-square'"></i>
      </button>
      <button type="button" class="btn-block-option" (click)="control.toDelete = !control.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <div class="block-content">
    <div name="controlHeader" *ngIf="showedControlHeader">
      <div class="row">
          <div class="col-md-6">
              <div class="custom-control custom-block custom-control-info push">
                <input type="checkbox" class="custom-control-input" [id]="'control'+control.sort+'fatal'" [name]="'control'+control.sort+'fatal'"
                  [checked]="control.fatal == 'Y'" (change)="control.fatal = $event.target.checked ? 'Y' : 'N'">
                <label class="custom-control-label" [for]="'control'+control.sort+'fatal'">
                  <span class="d-block text-center">Fatal</span>
                </label>
                <span class="custom-block-indicator"> <i class="fa fa-check"></i> </span>
              </div>
            </div>
        <div class="col-md-6" *ngIf="inv_condition_oper">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Condition</span>
              </div>
              <select class="form-control br-tp-0" id="active_step_condition" name="activeStepCondition" [(ngModel)]="control.conditionOper">
                <option *ngFor='let condition of inv_condition_oper' [ngValue]='condition.value'>{{condition.value}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="hasConditionCrossReference(control.conditionOper)">
        <div [ngClass]="findConditionCrossReference(control.conditionOper).value1 && findConditionCrossReference(control.conditionOper).value2 ? 'col-md-6' : 'col-md-12'"
          *ngIf="findConditionCrossReference(control.conditionOper).value1">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findConditionCrossReference(control.conditionOper).value1 }}</span>
              </div>
              <input type="text" class="form-control" id="activeStepParameter1" name="activeStepParameter1" [(ngModel)]="control.conditionVal1">
            </div>
          </div>
        </div>
        <div [ngClass]="findConditionCrossReference(control.conditionOper).value1 && findConditionCrossReference(control.conditionOper).value2 ? 'col-md-6' : 'col-md-12'"
          *ngIf="findConditionCrossReference(control.conditionOper).value2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findConditionCrossReference(control.conditionOper).value2 }}</span>
              </div>
              <input type="text" class="form-control" id="activeStepParameter2" name="activeStepParameter2" [(ngModel)]="control.conditionVal2">
            </div>
          </div>
        </div>
      </div>
      <h4 class="content-heading" style="padding-top: 0px;"></h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Control</span>
            </div>
            <select class="form-control br-tp-0" [id]="'control'+control.sort+'select'" [name]="'control'+control.sort+'select'"
              [(ngModel)]="control.control">
              <option *ngFor='let control of inv_control' [ngValue]='control.value'>{{control.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="hasControlCrossReference(control.control)">
        <div class="col-md-12" *ngIf="findControlCrossReference(control.control).value1">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findControlCrossReference(control.control).value1 }}</span>
              </div>
              <input type="text" class="form-control" [id]="'control'+(control.sequence)+'_'+control.sort+'value1'"
                [name]="'control'+(control.sequence)+'_'+control.sort+'value1'" [(ngModel)]="control.conditionVal1">
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="findControlCrossReference(control.control).value2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findControlCrossReference(control.control).value2 }}</span>
              </div>
              <input type="text" class="form-control" [id]="'control'+(control.sequence)+'_'+control.sort+'value2'"
                [name]="'control'+(control.sequence)+'_'+control.sort+'value2'" [(ngModel)]="control.conditionVal2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showedControlFooter" class="block-content block-content-full block-content-sm text-right">
    <button type="button" class="btn btn-sm btn-success mr-1" (click)="addControl()">
      <i class="fa fa-plus"></i> Control
    </button>
    <button type="button" class="btn btn-sm btn-primary ml-1">
      <i class="fa fa-plus"></i> Action
    </button>
  </div>
</div>
-->