.tracability-list-item {
    margin-bottom: 10px;
    li:nth-child(1) {
        width: 40%;
    }

    li:nth-child(2) {
        width: 100%;
    }
}
.material {
    box-shadow: none;
  }

  .delete-btn {
      width: 30px;
      height: 30px;
      padding: 0;
      line-height: 30px;
  }