<div class="block-header">
    <!--Title-->
    <h3 class="block-title" *ngIf="mode==='EDIT'">Edit New Data Library <small>ID : {{datalib.testDataLibID}}</small>
    </h3>
    <h3 class="block-title" *ngIf="mode==='DUPLICATE'">Duplicate New Data Library</h3>
    <h3 class="block-title" *ngIf="mode==='CREATE'">Create New Data Library</h3>
</div>
<form class="block-content" [formGroup]="datalibForm" (ngSubmit)="onSubmit(datalibForm.value)">
    <!-- Start Header -->
    <div class="row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input type="text" class="form-control" formControlName="name">

            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                </div>
                <select class="form-control" formControlName="type">
                    <option value="INTERNAL">INTERNAL</option>
                    <option value="SQL">SQL</option>
                    <option value="SERVICE">SERVICE</option>
                    <option value="CSV">CSV</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">System</span>
                </div>
                <select class="form-control" formControlName="system">
                    <option *ngFor="let system of systemsList" [value]="system.value">{{system.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Environment</span>
                </div>
                <select class="form-control" formControlName="environment">
                    <option *ngFor="let environment of environmentList" [value]="environment.value">
                        {{environment.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Country</span>
                </div>
                <select class="form-control" formControlName="country">
                    <option *ngFor="let country of countriesList" [value]="country.value">{{country.value}}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <!--BLOCK WITH TABS-->
    <div class="block block-rounded block-bordered">
        <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled" data-toggle="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': paneActive===1}" (click)="paneActive = 1">Definition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': paneActive===2}" (click)="paneActive = 2">SubData</a>
            </li>
            <li class="nav-item" *ngIf="mode!=='CREATE'">
                <a class="nav-link" [ngClass]="{'active': paneActive===3}" (click)="paneActive = 3">Tracability</a>
            </li>
        </ul>
        <div class="block-content tab-content">
            <!--Definition TAB-->
            <div class="tab-pane" [ngClass]="{'active': paneActive===1}" role="tabpanel">
                <!--SERVICE configuration-->
                <div *ngIf="datalibForm.value.type==='SERVICE'" >
                        <!-- <ng-container *ngTemplateOutlet="templateServiceTab"></ng-container> -->
                        <div class="block block-rounded block-bordered">
                                <div class="block-header">
                                    <h3 class="block-title">SERVICE configuration</h3>
                                </div>
                                <div class="block-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Database</span>
                                                </div>
                                                <select class="form-control" formControlName="databaseUrl">
                                                    <!-- ! -->
                                                    <option *ngFor="let database of databasesList" [value]="database.value">
                                                        {{database.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Service</span>
                                                </div>
                                                <select class="form-control" formControlName="service">
                                                    <option *ngFor="let service of servicesList" [value]="service.service">
                                                        {{service.service}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Service Path </span>
                                                </div>
                                                <input type="text" class="form-control" formControlName="servicepath">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Operation </span>
                                                </div>
                                                <input type="text" class="form-control" [value]="'operation ?'"> <!-- TODO -->
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Envelope </span>
                                                </div>
                                                <textarea type="text" class="form-control" formControlName="envelope"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <!--END SERVICE configuration-->

                <!--SQL configuration-->
                <div *ngIf="datalibForm.value.type==='SQL'" >
                        <!-- <ng-container *ngTemplateOutlet="templateSqlTab"></ng-container> -->
                        <div class="block block-rounded block-bordered">
                                <div class="block-header">
                                    <h3 class="block-title">SQL configuration</h3>
                                </div>
                                <div class="block-content">
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Database </span>
                                            </div>
                                            <select class="form-control" formControlName="database">
                                                <option *ngFor="let database of databasesList">
                                                    {{database.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Script </span>
                                            </div>
                                            <textarea type="text" class="form-control" formControlName="script"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <!--END SQL configuration-->

                <!--CSV configuration-->
                <div *ngIf="datalibForm.value.type==='CSV'" >
                        <!-- <ng-container *ngTemplateOutlet="templateCsvTab"></ng-container> -->
                        <div class="block block-rounded block-bordered">
                                <div class="block-header">
                                    <h3 class="block-title">CSV configuration</h3>
                                </div>
                                <div class="block-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Database </span>
                                                </div>
                                                <select class="form-control" formControlName="databaseCsv">
                                                    <option *ngFor="let database of databasesList">
                                                        {{database.value}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Separator </span>
                                                </div>
                                                <input type="text" class="form-control" formControlName="separator">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">CSV URL </span>
                                                    </div>
                                                    <input type="text" class="form-control" formControlName="csvUrl">
                                                </div>
                                            </div>
                                        <div class="col-md-12">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">CSV File </span>
                                                </div>
                                                <div class="custom-file">
                                                    <label class="custom-file-label">No file selected</label>
                                                    <input type="file" class="form-control custom-file-input js-custom-file-input-enabled" formControlName="file"> <!-- Todo -->
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="custom-control custom-checkbox custom-control-inline custom-control-primary">
                                                        <input type="checkbox" class="custom-control-input" id="automatic-fied" checked="">
                                                        <label class="custom-control-label" for="automatic-fied">Automatically feed subdata's list with the first line of csv ?</label>
                                                    </div>
                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <!--END CSV configuration-->

                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Group</span>
                            </div>
                            <input type="text" class="form-control" formControlName="group">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox custom-control-inline custom-control-primary">
                            <input type="checkbox" class="custom-control-input" id="privateData" [checked]="datalib.privateData==='Y'">
                            <label class="custom-control-label" for="privateData">This data will be editable by admin Only</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea type="text" class="form-control" formControlName="libdescription"></textarea>
                        </div>
                    </div>
                </div>


            </div>
            <!--END Definition TAB-->
            <!--SubData TAB-->
            <div class="tab-pane" [ngClass]="{'active': paneActive===2}" role="tabpanel">
                <button type="button" class="btn btn-info" (click)="addSubdata()">Add Subdata</button>
                <ngx-datatable #myTable class="material fullscreen" [rowHeight]="50" [headerHeight]="50" [rows]="data" [rowClass]="getRowClass"
                    [columnMode]="'force'">     
                    <ngx-datatable-column>
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                <button type="button" class="btn delete-btn" [ngClass]="(row.toDelete)? 'btn-info' : 'btn-danger'" (click)="deleteSubdata(row)"><i class="fa" [ngClass]="(row.toDelete)? 'fa-plus-square' : 'fa-trash'" ></i></button>
                            </ng-template>
                    </ngx-datatable-column>
                    <ng-template ngFor let-column let-index="index" [ngForOf]="columns">
                            <ngx-datatable-column *ngIf="column.condition" [resizeable]="false" [name]="column.name" [prop]="column.prop">
                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <div style="width:100%; height: 100%;"
                                              title="Double click to edit"
                                              (dblclick)="editing[rowIndex + '-' + column.prop] = true"
                                              *ngIf="!editing[rowIndex + '-' + column.prop]">
                                              <span *ngIf="!value">...</span>{{value}}
                                            </div>
                                            <input
                                              autofocus
                                              (blur)="updateValue($event, column.prop, rowIndex)"
                                              *ngIf="editing[rowIndex + '-' + column.prop]"
                                              type="text"
                                              [value]="value"
                                            />
                                          </ng-template>
                            </ngx-datatable-column>
                    </ng-template>

                </ngx-datatable>
            </div>
            <!-- END SubData TAB-->
            <!--SubData TAB-->
            <div class="tab-pane" [ngClass]="{'active': paneActive===3}" role="tabpanel">
                <div class="row">
                    <div class="col-md-12 tracability-list-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item bg-secondary text-light">Creation Date </li>
                            <li class="list-group-item">{{datalib.created | date:'d MMMM y   HH:mm'}}</li>
                        </ul>
                    </div>
                    <div class="col-md-12 tracability-list-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item bg-secondary text-light">Modification Date </li>
                            <li class="list-group-item">{{datalib.lastModified | date:'d MMMM y   HH:mm'}}</li>
                        </ul>
                    </div>
                    <div class="col-md-12 tracability-list-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item bg-secondary text-light">Created by </li>
                            <li class="list-group-item">{{datalib.creator}}</li>
                        </ul>
                    </div>

                    <div class="col-md-12 tracability-list-item">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item bg-secondary text-light">Modified by </li>
                            <li class="list-group-item">{{datalib.lastModifier}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--END SubData TAB-->
        </div>
    </div>
    <!--END BLOCK WITH TABS-->
    <div class="row">
        <button class="col-md-12 btn btn-info" type="submit" *ngIf="mode==='EDIT'">Save</button>
        <button class="col-md-12 btn btn-info" type="submit" *ngIf="mode==='DUPLICATE'">Duplicate</button>
        <button class="col-md-12 btn btn-info" type="submit" *ngIf="mode==='CREATE'">Create</button>
    </div>

</form>
