<div *ngIf="testcase" class="block-content pt-0">

  <!-- TABS -->
  <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled custom-sm" data-toggle="tabs" role="tablist">
    <li *ngFor="let tab of tabs" class="nav-item">
      <a class="nav-link" [ngClass]="selectedTab == tab ? 'active show' : ''" (click)="selectedTab = tab">{{tab}}</a>
    </li>
  </ul>
  <!-- END TABS -->

  <div class="block-content tab-content">

    <!-- SCRIPT TAB -->
    <div *ngIf="selectedTab == tabs[0]" class="tab-pane active show" id="scriptTab" role="tabpanel">

      <!-- SCRIPT CONTENT -->
      <div class="row">

        <!-- STEP LIST -->
        <div class="col-md-6">
          <app-script [testcase]="testcase"></app-script>
        </div>
        <!-- END STEP LIST -->

        <!-- SETTINGS TOOLBAR -->
        <div class="col-md-6">
          <app-settings></app-settings>
        </div>
        <!-- END SETTINGS TOOLBAR -->

      </div>
      <!-- END SCRIPT CONTENT -->

    </div>
    <!-- END SCRIPT TAB -->

    <!-- PROPERTIES TAB -->
    <div *ngIf="selectedTab == tabs[1]" class="tab-pane active show" id="propertiesTab" role="tabpanel">

      <!-- PROPERTIES -->
      <app-properties [testfolder]="testcase.info.test" [testcaseid]="testcase.info.testCase" [testcase]="testcase"
        [inherited]="false">
      </app-properties>

      <!-- INHERITED PROPERTIES -->
      <app-properties [testfolder]="testcase.info.test" [testcaseid]="testcase.info.testCase" [testcase]="testcase"
        [inherited]="true">
      </app-properties>

    </div>
    <!-- END PROPERTIES TAB -->
  </div>
</div>