<div class="block block-rounded block-bordered" *ngIf="testcase">

  <div class="block-header block-header-default">
    <h3 class="block-title">Testcase <small>script</small></h3>
    <div class="block-options">
      <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"><i
          class="si si-size-fullscreen"></i></button>
      <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
        data-action-mode="demo">
        <i class="si si-refresh"></i>
      </button>
    </div>
  </div>

  <div class="block-content">
    <!-- TABS -->
    <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled" data-toggle="tabs" role="tablist">
      <li *ngFor="let tab of tabs" class="nav-item">
        <a class="nav-link" [ngClass]="selectedTab == tab ? 'active show' : ''" (click)="selectedTab = tab">{{tab}}</a>
      </li>
    </ul>
    <div class="block-content tab-content">

      <!-- SCRIPT TAB -->
      <div *ngIf="selectedTab == tabs[0]" class="tab-pane active show" id="scriptTab" role="tabpanel">
        <!-- SCRIPT CONTENT -->
        <div class="row push" *ngIf="testcase.stepList.length == 0">
          <div class="col-md-12 mt-3s text-center">
            <p>The test case is empty <i class="far fa-frown-open"></i></p>
          </div>
          <div class="col-md-12 text-center">
            <div class="btn-group" role="group" aria-label="Horizontal Outline Primary">
              <button type="button" class="btn btn-outline-primary" (click)="addAStep()"><i
                  class="fa fa-fw fa-plus mr-1"></i>
                Step</button>
              <button type="button" class="btn btn-outline-primary"><i class="fa fa-fw fa-plus mr-1"></i>Use
                Step</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="testcase.stepList.length != 0">
          <!-- STEP LIST -->
          <div class="col-md-6">
            <div [id]="stepListBlockId" role="tablist" aria-multiselectable="true" class="stepList" cdkDropList
              [cdkDropListData]="testcase.stepList" (cdkDropListDropped)="dropStep($event)">
              <div *ngFor="let step of testcase.stepList; let index = index" class="stepDrag" cdkDrag
                cdkDragLockAxis="y">
                <app-step [step]="step" [stepIndex]="index | trueindex">
                  <button slot="drag-step" type="button" id="step{{ index | trueindex }}drag"
                    class="btn btn-sm btn-light drag-cursor btn-drag-step" cdkDragHandle>
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                </app-step>
              </div>
              <div class="push">
                <div class="col-md-12 text-center">
                  <button type="button" class="btn btn-outline-primary mr-3" (click)="addAStep()">
                    <i class="fa fa-fw fa-plus mr-1"></i>Step
                  </button>
                  <button type="button" class="btn btn-outline-primary">
                    <i class="fa fa-fw fa-plus mr-1"></i>Use Step
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- END STEP LIST -->
          <!-- SETTINGS TOOLBAR -->
          <div class="col-md-6">
            <app-settings></app-settings>
          </div>
          <!-- END SETTINGS TOOLBAR -->
        </div>
        <!-- END SCRIPT CONTENT -->
      </div>
      <!-- END SCRIPT TAB -->

      <!-- PROPERTIES TAB -->
      <div *ngIf="selectedTab == tabs[1]" class="tab-pane active show" id="propertiesTab" role="tabpanel">
        <!-- PROPERTIES CONTENT -->
        <div class="row">
          <!-- PROPERTY LIST -->
          <div class="col-md-4">
            <ul *ngIf="propertiesList" class="list-group push">
              <li *ngFor="let property of propertiesList | uniqueproplist" class="list-group-item"
                [ngClass]="property.property_id == activePropertyId ? 'active' : ''"
                (click)="setActiveProperty(property.property_id)">
                {{ property.property ? property.property : 'Property Name' }} (id: {{ property.property_id }})
                <button class="btn-block-option" name="deleteProp" type="button" style="float: right;"
                  (click)="removePropertiesById(property.property_id)">
                  <i class="far fa-fw fa-trash-alt"
                    [ngClass]="property.property_id == activePropertyId ? 'white' : ''"></i>
                </button>
              </li>
            </ul>
            <button type="button" class="btn btn-outline-primary" (click)="addProperty()">
              <i class="fa fa-fw fa-plus mr-1"></i>
              Property
            </button>
          </div>
          <!-- END PROPERTY LIST -->

          <!-- ACTIVE PROPERTY CONTENT -->
          <div *ngIf="activeProperty.length > 0" class="col-md-8">
            <app-property [propertiesById]="activeProperty" (propertyValueAdded)="addPropertyValue($event)"
              (propertyValueRemoved)="removePropertyValue($event)">
            </app-property>
          </div>
          <div *ngIf="activeProperty.length == 0" class="col-md-8">
            <div class="block block-rounded block-bordered block-rounded">
              <div class="block-header block-header-default">
                <h3 class="block-title text-center"><small>No property selected</small></h3>
              </div>
            </div>
          </div>
          <!-- END ACTIVE PROPERTY CONTENT -->

        </div>
        <!-- END PROPERTIES CONTENT -->
      </div>
      <!-- END PROPERTIES TAB -->
    </div>
    <!-- END TABS -->
    <div id="testcasescript_modal_footer" class="row push">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-info mr-1" (click)="saveTestCase()">
          <i class="fa fa-fw fa-check mr-1"></i> Save
        </button>
        <!-- 
        <button type="button" class="btn btn-secondary mr-1" (click)="debug()">
          <i class="fa fa-fw fa-bug mr-1"></i> Debug
        </button>
        -->
      </div>
    </div>
  </div>
</div>