language: node_js
node_js:
  - "10"
dist: trusty
sudo: required
branches:
  only:
  - master
before_script:
  - npm install -g @angular/cli
script:
  - ng lint --force=true
  - ng build --prod
deploy:
  provider: script
  script: sh ./deploy/scripts/deploy.sh
  on:
    branch: master