<div class="block">
    <div class="block-header block-header-default">

        <!-- SIDE CONTENT TITLE -->
        <h3 class="block-title">
            <span id="massUpdateLabelsTitle">Labels Mass Update</span>
        </h3>
        <!-- END SIDE CONTENT TITLE -->

        <!-- UPDATE / CLOSE BUTTON -->
        <div class="block-options">
            <button type="button" id="addLabels" class="btn btn-sm btn-primary mr-1">Add</button>
            <button type="button" id="removeLabels" class="btn btn-sm btn-danger mr-1">Remove</button>
            <button type="button" id="cancelMassUpdateLabels" class="btn btn-sm btn-secondary"
                (click)="closeSideContent()">
                Close
            </button>
        </div>
        <!-- END UPDATE / CLOSE BUTTON -->

    </div>
    <div class="block-content">
        <app-labels-tab [mode]="LabelHierarchyMode.MassUpdate" [system]="system" [selectedlabels]="selectedLabelsList">
        </app-labels-tab>
    </div>
</div>