<div id="activeControlSettings" class="row">

    <!-- CONTROL DESCRIPTION -->
    <div class="col-md-12">
        <div class="form-group">
            <label for="description"><i class="fa fa-info mr-2"></i>Description</label>
            <input type="text" [(ngModel)]="control.description" class="form-control form-control-sm" name="description"
                placeholder="Control Description" [disabled]="readonly"
                [ngClass]="control.description == '' ? 'has-warning':''">
            <div *ngIf="control.description == ''" class="warning-feedback">
                You should consider giving a description
            </div>
        </div>
    </div>
    <!-- END CONTROL DESCRIPTION -->

    <!-- CONTROL OPERATOR -->
    <div class="col-md-12">
        <div class="form-group">
            <label for="activeControl"><i class="fa fa-search mr-1"></i> Control</label>
            <select class="form-control form-control-sm br-tp-0" id="activeControl" name="activeControl"
                [(ngModel)]="control.control" [disabled]="readonly">
                <option *ngFor='let control of controls' [ngValue]='control.value'>{{control.value}}</option>
            </select>
        </div>
    </div>
    <!-- END CONTROL OPERATOR -->

    <div class="col-md-12" *ngIf="hasControlCrossReference(control.control)">

        <!-- VALUE 1 -->
        <div *ngIf="findControlCrossReference(control.control).value1">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ findControlCrossReference(control.control).value1 }}</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="activeControlValue1"
                        name="activeControlValue1" [(ngModel)]="control.value1" [readonly]="readonly">
                </div>
            </div>
        </div>
        <!-- END VALUE 1 -->

        <!-- VALUE 2 -->
        <div *ngIf="findControlCrossReference(control.control).value2">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ findControlCrossReference(control.control).value2 }}</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="activeControlValue2"
                        name="activeControlValue2" [(ngModel)]="control.value2" [readonly]="readonly">
                </div>
            </div>
        </div>
        <!-- END VALUE 2 -->

    </div>

    <!-- CONDITION OPERATOR-->
    <div class="col-md-12" *ngIf="conditionsOperators">
        <div class="form-group">
            <label for="activeControlCondition"><i class="fa fa-question mr-2"></i>Condition</label>
            <select class="form-control form-control-sm br-tp-0" id="activeControlCondition"
                name="activeControlCondition" [(ngModel)]="control.conditionOperator" [disabled]="readonly">
                <option *ngFor='let condition of conditionsOperators' [ngValue]='condition.value'>
                    {{condition.value}}
                </option>
            </select>
        </div>
    </div>
    <!-- END CONDITION OPERATOR-->

    <div class="col-md-12" *ngIf="hasConditionCrossReference(control.conditionOperator)">

        <!-- CONDITION VALUE 1 -->
        <div *ngIf="findConditionCrossReference(control.conditionOperator).value1">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            {{ findConditionCrossReference(control.conditionOperator).value1 }}
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="activeControlConditionValue1"
                        name="activeControlConditionValue1" [(ngModel)]="control.conditionVal1" [readonly]="readonly">
                </div>
            </div>
        </div>
        <!-- END CONDITION VALUE 1 -->

        <!-- CONDITION VALUE 2 -->
        <div *ngIf="findConditionCrossReference(control.conditionOperator).value2">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span
                            class="input-group-text">{{ findConditionCrossReference(control.conditionOperator).value2 }}</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="activeControlConditionValue2"
                        name="activeControlConditionValue2" [(ngModel)]="control.conditionVal2" [readonly]="readonly">
                </div>
            </div>
        </div>
        <!-- END CONDITION VALUE 2 -->

    </div>

    <!-- FATAL SWITCH -->
    <div class="col-md-12">
        <div class="form-group">
            <div class="custom-control custom-switch custom-control-inline ml-1">
                <input type="checkbox" class="custom-control-input" id="activeControlFatal" name="activeControlFatal"
                    [checked]="control.isFatal" (change)="control.isFatal = !control.isFatal" [disabled]="readonly">
                <label class="custom-control-label" for="activeControlFatal">
                    Fatal
                </label>
            </div>
        </div>
    </div>
    <!-- END FATAL SWITCH -->

</div>