.sticky-offset { top: 100px; }
.btn-block-option { color: #495057; }
.btn-block-option:hover { color: #495057; }
.block-header {
        padding: 0.25rem 0.80rem;
}
.fa.fa-ellipsis-v {
     font-size: 0.8em;
}
