<div class="row">
  <div class="col-md-6">

<!--  <div class="col-md-2">
    <ng-select [items]="testcasesList | unique: 'status'"
               [selectableGroup]="true"
               [multiple]="true"
               [closeOnSelect]="false"
               bindLabel="status"
               bindValue="status"
               placeholder="Select a status" [(ngModel)]='selectedStatus' [clearable]="true">
      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <input type="checkbox" [ngModel]="item$.selected"/> {{item.status | uppercase}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input type="checkbox" [ngModel]="item$.application"/> {{item.status}}
      </ng-template>
    </ng-select>
  </div>-->
    <app-application-filter (applicationSelected)="filterApplicationHandler($event)"></app-application-filter>
    <app-label-filter></app-label-filter>

  </div>
</div>
