<div class="filter-container">
    <input class="input-search" placeholder="Search" [(ngModel)]="userSearch" (keyup)="updateSearch()" (change)="updateSearch()" >
    <app-filter [dataList]="testList" [field]="'test'" (dataSelected)="updateTest($event)"></app-filter>
    <app-filter [dataList]="applicationList" [field]="'application'" (dataSelected)="updateApplication($event)"></app-filter>
    <app-filter [dataList]="statusList" [field]="'value'" (dataSelected)="updateStatus($event)"></app-filter>
    <app-filter [dataList]="labelList" [field]="'label'"></app-filter>
    <button (click)="sendFilter($event)">TATA</button>
</div>
