.ng-dropdown-panel, .ng-select-bottom {
  z-index: 1000;
}

.ng-select, .ng-select-container {
  max-width: 250px;
  max-height: 35px;
  display: inline-flex;
  flex-wrap: nowrap;
}
.ui-select-choices {
  position: fixed;
  top: auto;
  left: auto;
  width: inherit;
}

.select-container {
  display: inline-flex;
  .close-icon {
    display: inline-flex;
    margin: 10px 5px;
  }
}
