<!-- TEXT SEARCH FIELD -->
<div class="input-group mr-2 mb-3" *ngIf="column.filterMode==='SEARCH_FIELD'">
  <div class="input-group-prepend link-cursor form-control-sm p-0" (mouseenter)="mouseOverOnFilter = true"
    (mouseleave)="mouseOverOnFilter = false">
    <span class="form-control-sm input-group-text custom-sm-font">
      <i class="fa fa-fw mr-1" (click)="removeFilter()" [ngClass]="mouseOverOnFilter ? 'fa-trash' : 'fa-filter'"
        style="color:#495057;"></i>
      {{column.displayName}}
    </span>
  </div>
  <input type="text" class="form-control form-control-sm" (keyup.enter)="validField()" (blur)="validField()"
    [(ngModel)]="data" [placeholder]="column.placeholder">
</div>
<!-- END TEXT SEARCH FIELD -->

<!-- DROPDOWN FIELD -->
<div class="input-group mr-2 mb-3" *ngIf="column.filterMode==='DROPDOWN'">
  <div class="input-group-prepend link-cursor form-control-sm p-0" (mouseenter)="mouseOverOnFilter = true"
    (mouseleave)="mouseOverOnFilter = false">
    <span class="form-control-sm input-group-text custom-sm-font">
      <i class="fa fa-fw mr-1" (click)="removeFilter()" [ngClass]="mouseOverOnFilter ? 'fa-trash' : 'fa-filter'"
        style="color:#495057;"></i>
      {{column.displayName}}
    </span>
  </div>

  <ng-select class="custom custom-icon custom-sm" [items]="dataList" [selectableGroup]="true"
    [multiple]="column.multiple" [closeOnSelect]="false" [bindValue]="id" [bindLabel]="label" [(ngModel)]='model'
    (open)="updateModel()" (add)="onAdd($event)" (remove)="applyFilter()" (change)="onChange($event)"
    (clear)="applyFilter()" [clearable]="true" (close)="applyFilter()" (search)="onSearch($event)"
    (keyup.enter)="onKeyUpEnter($event)">

    <!-- NOT WORKING RIGHT NOW -->
    <ng-template *ngIf="column.type=='label'" ng-option-tmp let-item="item" let-index="index">
      <div class="label" [style.background-color]="item.color">{{item.label}}</div>
    </ng-template>

    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear" let-search="searchTerm">
      <!-- <i class="fa fa-fw fa-folder-open mr-2" style="color:#495057;"></i> -->
      <span class="nav-main-link-badge badge badge-pill badge-primary mr-2">
        <span *ngIf="items.length == 1"> {{ items[0] }}</span>
        <span *ngIf="items.length > 1"> {{ items.length }} </span>
      </span>
    </ng-template>

    <ng-template ng-header-tmp>
      <div class="row ml-1 mr-1">
        <!-- TO DO : disable buttons -->
        <!-- SELECT ALL BUTTON -->
        <button class="col mr-2 btn btn-info btn-sm" (click)="onSelectAll()">
          <i class="fa fa-fw fa-check mr-1"></i>
          Select all
        </button>
        <!-- CLEAR ALL BUTTON -->
        <button class="col btn btn-danger btn-sm" (click)="onClearAll()">
          <i class="fa fa-fw fa-times mr-1"></i>
          Clear all
        </button>
      </div>
    </ng-template>

  </ng-select>
</div>
<!-- END DROPDOWN FIELD -->