.ng-select-displayedcolumns {
  width: 200px;
}

.ng-select-addfilterscolumns {
  width: 200px;
}

.selected {
  border-bottom: 2px solid #0077ff;
}

.filtersDropdown {
  height: 23rem !important;
  overflow: auto;
}