<div class="bg-body-light">
    <div class="content content-full pb-0 m-0">
        <div class="d-flex flex-column flex-sm-row align-items-sm-center">

            <div class="form-inline">

                <ng-template *ngIf="filterTemplate" [ngTemplateOutlet]="filterTemplate"></ng-template>

                <div class="input-group mr-4 mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-columns"></i>
                        </span>
                    </div>
                    <ng-select class="ng-select-displayedcolumns" bindLabel="name"
                        placeholder="Columns : {{ columnActive }}" [items]="columns" [closeOnSelect]="false"
                        (change)="resetColumnDrop" [searchable]="false" [clearable]="false">

                        <ng-template ng-header-tmp>
                            <div class="row ml-1 mr-1">
                                <button type="button" class="col-12 btn btn-sm btn-secondary mr-2 pl-2 pr-2 pt-1 pb-1"
                                    (click)="resetDefaultColumns()">
                                    <i class="fa fa-fw fa-redo-alt mr-1"></i>Reset
                                </button>
                            </div>
                        </ng-template>

                        <!--Content in the top container-->
                        <ng-template ng-label-tmp>
                            <div>Selected : {{ columnActive }}</div>
                        </ng-template>
                        <!--List of columns (underline if selected)-->
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div (click)="toggleColumn(item)">
                                <span *ngIf="item.active" class="text-primary-dark bold">
                                    <i class="ml-1 fa fa-check-circle text-primary-dark"></i>
                                    {{item.displayName}}
                                </span>
                                <span *ngIf="!item.active">{{item.displayName}}</span>
                            </div>
                        </ng-template>

                    </ng-select>
                </div>

                <div class="input-group mr-4 mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-search mr-2"></i>Quick Search
                        </button>
                    </div>
                    <input id="quickSearch" type="text" class="form-control" (keyup)="onKeyUp()" (blur)="applySystem()"
                        [(ngModel)]="gloabalSearchModel" placeholder="Keyword">
                </div>

                <div class="ng-select-addfilterscolumns mb-3">
                    <ng-select class="custom column-selector mr-2" bindLabel="displayName" multiple="true"
                        dropdownPosition="bottom" placeholder="Add Filters" [items]="searchableColumns"
                        [closeOnSelect]="false" [searchable]="true" [clearable]="false">

                        <!-- SELECTED VALUE(S) TEMPLATE -->
                        <ng-template ng-multi-label-tmp let-items="items" let-search="searchTerm">
                            <span class="nav-main-link-badge badge badge-pill badge-primary mr-2">
                                <span>{{ activeFilters.length }}</span>
                            </span>
                        </ng-template>
                        <!-- END SELECTED VALUE(S) TEMPLATE -->

                        <!--List of filters (underline if selected)-->
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div (click)="addFilter(item)">
                                <span *ngIf="item.filterDisplayed; else elseTemplate" class="text-primary-dark bold">
                                    <i class="ml-1 fa fa-check-circle text-primary-dark"></i>
                                    {{item.displayName}}
                                </span>
                                <ng-template #elseTemplate>{{item.displayName}}</ng-template>
                            </div>
                        </ng-template>

                    </ng-select>
                </div>

                <ng-template ngFor let-column [ngForOf]="columns">
                    <app-filter *ngIf="column.filterDisplayed" class="filter-drop" [column]="column" [servlet]="servlet"
                        (applyFilterOutput)=applySystem() (remove)="removeFilter($event)">
                    </app-filter>
                </ng-template>

            </div>
        </div>
    </div>
</div>

<div class="header-area bg-body-light" style="height: 40px;">
    <ng-template *ngIf="massActionTemplate" [ngTemplateOutlet]="massActionTemplate"></ng-template>
</div>