<div class="header-area">
    <div class="filter-container">
        <div class="main-side">
            <!-- Global Search Field -->
            <input type="text" class="form-control" (keyup)="onKeyUp()" (blur)="applySystem()"
                [(ngModel)]="gloabalSearchModel" placeholder="Search...">

            <!--Distinct filters-->
            <ng-template ngFor let-column [ngForOf]="columns">
                <app-filter *ngIf="column.dropActive" class="filter-drop" [column]="column" [servlet]="servlet"
                    (applyFilterOutput)=applySystem()></app-filter>
            </ng-template>
            <!--Like filters-->
            <ng-template ngFor let-column [ngForOf]="columns">
                <app-filterlike *ngIf="column.fieldActive" [column]="column" (applyFilterOutput)=applySystem()>
                </app-filterlike>
            </ng-template>


            <!--Filter Selector-->
            <ng-select class="column-selector custom auto-width" bindLabel="name" placeholder="Add Filters"
                [items]="searchableColumns" [closeOnSelect]="false" [searchable]="true" [clearable]="false">

                <!--Content in the top container-->
                <ng-template ng-label-tmp>
                    <div>Add Filters</div>
                </ng-template>

                <!--List of filters (underline if selected)-->
                <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div [ngClass]="{'selected': item.dropActive || item.fieldActive}" (click)="addFilter(item)">{{item.displayName}}</div>
                </ng-template>

            </ng-select>


        </div>
        <div class="right-side">

            <ngb-pagination [(page)]="page.number" [pageSize]="page.size" [collectionSize]="page.totalCount"
                [maxSize]="5" [boundaryLinks]="true" (pageChange)="applySystem()" [rotate]="true" [ellipses]="false">
                <ng-template ngbPaginationPrevious><i class="fa fa-angle-left"></i></ng-template>
                <ng-template ngbPaginationNext><i class="fa fa-angle-right"></i></ng-template>
                <ng-template ngbPaginationFirst><i class="fa fa-angle-double-left"></i></ng-template>
                <ng-template ngbPaginationLast><i class="fa fa-angle-double-right"></i></ng-template>
            </ngb-pagination>
            <div *ngIf="selectedRows">{{selectedRows.length}} selected / {{page.totalCount}} total</div>
            <div *ngIf="!selection">Total : {{page.totalCount}}</div>

        </div>
    </div>

</div>