<div class="modal-header">
    <h4 class="modal-title">List of test cases affected by this entry</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="accordion" id="accordionExample">
        <!-- <ul class="list-group"> -->
            <!-- <li class="list-group-item"*ngFor="let drop of requestResponseTable"> -->
                <div class="card" *ngFor="let drop of requestResponseTable">
                    <div class="card-header" id="headingOne" [ngClass]="{'header-active': drop.expanded}" >
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" (click)="drop.expanded = !drop.expanded">
                                {{drop[0]}} <i class="si"
                                    [ngClass]="{'si-arrow-down': !drop.expanded, 'si-arrow-right': drop.expanded}"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" [ngClass]="{'show' : drop.expanded}"
                        aria-labelledby="headingOne" data-parent="#accordionExample">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let testcase of drop[3]">{{testcase.TestCaseNumber}} :
                                {{testcase.TestCaseDescription}}</li>
                        </ul>
                    </div>
                </div>
            <!-- </li> -->
        <!-- </ul> -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>