<div class="block block-bordered mb-0" [id]="'propertyValue'+index" (mouseenter)="showActions=true"
    (mouseleave)="showActions=false">
    <div class="block-header block-header-default block-header-sm">

        <!-- ROW HEADER -->
        <div class="row full-width">
            <div class="col-3">
                <div class="input-group custom-sm">

                    <!-- SHOW / HIDE BUTTON -->
                    <button class="btn btn-sm btn-light no-background ml-4"
                        (click)="propertyValueDetailsDisplay = !propertyValueDetailsDisplay">
                        <i class="fa"
                            [ngClass]="propertyValueDetailsDisplay ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    </button>
                    <!-- END SHOW / HIDE BUTTON -->

                    <!-- NUMBER OF VALUES -->
                    <div class="input-group-prepend">
                        <span class="input-group-text no-background fs-1"
                            [ngClass]="propertyvalue.toDelete == true ? 'to-delete-color' : ''">
                            {{ propertyvalue.property }}
                        </span>
                    </div>
                    <!-- END NUMBER OF VALUES -->

                    <!-- DUPLICATE VALUE BUTTON -->
                    <button *ngIf="showActions && inherited == false"
                        class="btn btn-sm btn-light no-background custom-sm" ngbPopover="Duplicate Value"
                        triggers="mouseenter:mouseleave" (click)="duplicateAPropertyValue()">
                        <i class="fa fa-copy"></i>
                    </button>
                    <!-- END DUPLICATE VALUE BUTTON -->

                    <!-- DELETE VALUE BUTTON -->
                    <button *ngIf="isDeleteButtonDisplayed() && inherited == false"
                        class="btn btn-sm no-background custom-sm" [ngbPopover]="getDeletionPopoverText()"
                        triggers="mouseenter:mouseleave" (click)="deleteAPropertyValue()"
                        [ngClass]="propertyvalue.toDelete == true ? 'to-delete-color' : 'btn-light'">
                        <i class="fa fa-trash"></i>
                    </button>
                    <!-- END DELETE VALUE BUTTON -->

                </div>
            </div>

            <!-- PROPERTY VALUE TYPE -->
            <div class="col-2">
                <h3 class="block-title fs-1" style="color: #495057; font-weight: 600;">
                    {{propertyvalue.type}}
                </h3>
            </div>
            <!-- END PROPERTY VALUE TYPE -->

            <!-- PROPERTY VALUE VALUE1 PREVIEW -->
            <div class="col-3">
                <h3 class="block-title fs-1" style="color: #495057; font-weight: 600;">
                    {{propertyvalue.value1 | slice:0:30}}</h3>
            </div>
            <!-- PROPERTY VALUE VALUE1 PREVIEW -->

            <!-- SELECTED COUNTRIES LIST -->
            <div class="col-4">
                <span *ngFor="let country of testcase.countries"
                    [ngClass]="isACountrySelected(country.value) ? 'badge-primary' : 'badge-secondary'"
                    class="badge link-cursor mr-1" (click)="toggleCountry(country)">{{country.value}}</span>
            </div>
            <!-- SELECTED COUNTRIES LIST -->

        </div>
        <!-- ROW HEADER -->

    </div>
    <!-- PROPERTY VALUE CONTENT -->
    <div *ngIf="propertyValueDetailsDisplay" class="row block-content pl-5">

        <!-- DESCRIPTION FIELD -->
        <div class="col-12">
            <div class="form-group">
                <label for="propertyValueDescription">Description</label>
                <input type="text" class="form-control form-control-sm" name="description"
                    placeholder="property value description" [(ngModel)]="propertyvalue.description"
                    [disabled]="areFieldsEnabled()">
            </div>
        </div>
        <!-- END DESCRIPTION FIELD -->

        <!-- LEFT SECTION -->
        <div class="col-md-2">

            <!-- TYPE -->
            <div class="form-group">
                <label for="propertyValueType">Type</label>
                <select class="form-control form-control-sm" name="propertyValueType" [(ngModel)]="propertyvalue.type"
                    (change)="onTypeChange($event)" [disabled]="areFieldsEnabled()">
                    <option *ngFor="let inv of propertyTypesList">{{ inv.value }}</option>
                </select>
            </div>
            <!-- END TYPE -->

            <!-- DATALIB -->
            <div class="form-group" *ngIf="propertyvalue.type === 'getFromDataLib' && dataLibraries.length > 0">
                <label for="dataLibrarySelected">Data Library</label>
                <select class="form-control form-control-sm" name="dataLibrarySelected"
                    [(ngModel)]="propertyvalue.value2" [disabled]="areFieldsEnabled()">
                    <option *ngFor="let datalib of dataLibraries" [ngValue]="datalib.name">
                        {{datalib.name}} 
                        ( {{datalib.environment}} {{datalib.country}}) 
                        - {{datalib.description}}
                    </option>
                </select>
            </div>
            <!-- END DATALIB -->

            <!-- DB FIELD -->
            <div *ngIf="propertyvalue.type=='getFromSql'" class="form-group">
                <label for="propertyValueDB">Database</label>
                <select class="form-control form-control-sm" name="propertyValueType"
                    [(ngModel)]="propertyvalue.database" [disabled]="areFieldsEnabled()">
                    <option *ngFor="let inv of propertyDatabases">{{ inv.value }}</option>
                </select>
            </div>
            <!-- END DB FIELD -->

            <!-- SHOW ADVANCED BUTTON -->
            <button type="button" class="btn btn-sm btn-alt-secondary mt-2"
                (click)="showAdvancedSettings = !showAdvancedSettings">
                <i class="fa fa-fw opacity-50 mr-1"
                    [ngClass]="showAdvancedSettings ? 'fa-angle-down' : 'fa-angle-right'"></i> Advanced
            </button>
            <!-- END SHOW ADVANCED BUTTON-->

        </div>
        <!-- END LEFT SECTION -->

        <!-- RIGHT SECTION -->
        <div class="col-10">

            <!-- VALUE EDITOR -->
            <div class="form-group">
                <label for="example-textarea-input">Value</label>
                <ngx-monaco-editor (keyup)="debug($event)" class="form-control" [options]="editorOptions"
                    [(ngModel)]="propertyvalue.value1">
                </ngx-monaco-editor>
            </div>
            <!-- END VALUE EDITOR -->

        </div>
        <!-- END RIGHT SECTION -->

        <!-- ADVANCED SECTION -->
        <div *ngIf="showAdvancedSettings" class="col-12 row">

            <!-- PROPERTY VALUE 2 FIELD -->
            <div class="col-8" *ngIf="settingFieldReferenced(propertyvalue.type,'value2')">
                <div class="form-group">
                    <label for="propertyValue2">Value 2</label>
                    <input type="text" class="form-control form-control-sm" name="propertyValue2" placeholder="optional"
                        [(ngModel)]="propertyvalue.value2" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END PROPERTY VALUE 2 FIELD -->

            <!-- LENGTH FIELD -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'length')">
                <div class="form-group">
                    <label for="propertyValueLength"><i class="fa fa-ruler-horizontal mr-1"></i>Length</label>
                    <input type="number" class="form-control form-control-sm" name="length" placeholder="optional"
                        [(ngModel)]="propertyvalue.length" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END LENGTH FIELD -->

            <!-- CACHE EXPIRE FIELD -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'cacheExpire')">
                <div class="form-group">
                    <label for="cacheExpire"><i class="fa fa-history mr-1"></i>Cache</label>
                    <input type="number" class="form-control form-control-sm" name="cacheExpire" placeholder="ms"
                        [(ngModel)]="propertyvalue.cacheExpire" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END CACHE EXPIRE FIELD -->

            <!-- NATURE -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'nature')">
                <div class="form-group">
                    <label for="propertyValueNature"><i class="fa fa-tree mr-1"></i>Nature</label>
                    <select class="form-control form-control-sm" name="propertyValueNature"
                        [(ngModel)]="propertyvalue.nature" [disabled]="areFieldsEnabled()">
                        <option *ngFor="let inv of propertyNatures">{{ inv.value }}</option>
                    </select>
                </div>
            </div>
            <!-- END NATURE -->

            <!-- RETRY NUMBER FIELD -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'retryNb')">
                <div class="form-group">
                    <label for="retryNb"><i class="fa fa-redo-alt mr-1"></i>Retry Number</label>
                    <input type="number" class="form-control form-control-sm" name="retryNb" placeholder="number"
                        [(ngModel)]="propertyvalue.retryNb" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END RETRY NUMBER FIELD -->

            <!-- RETRY PERIOD FIELD -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'retryPeriod')">
                <div class="form-group">
                    <label for="retryPeriod"><i class="fa fa-redo-alt mr-1"></i>Retry Period</label>
                    <input type="number" class="form-control form-control-sm" name="retryPeriod" placeholder="ms"
                        [(ngModel)]="propertyvalue.retryPeriod" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END RETRY PERIOD FIELD -->

            <!-- RANK -->
            <div class="col-2" *ngIf="settingFieldReferenced(propertyvalue.type,'rank')">
                <div class="form-group">
                    <label for="rank"><i class="fa fa-star mr-1"></i>Rank</label>
                    <input type="number" class="form-control form-control-sm" name="rank" placeholder="number"
                        [(ngModel)]="propertyvalue.rank" [disabled]="areFieldsEnabled()">
                </div>
            </div>
            <!-- END RANK -->

        </div>
        <!-- END ADVANCED SECTION -->

    </div>


</div>