<form *ngIf="serviceForm" [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm.value)">
    <div id="serviceInteraction" class="block no-shadow">

        <!--  SIDE CONTENT HEADER -->
        <div class="block-header block-header-default">

            <!-- SIDE CONTENT TITLE -->
            <h3 class="block-title" [ngSwitch]="mode">
                <span id="createServiceTitle" *ngSwitchCase="'CREATE'">Create Service</span>
                <span id="editServiceTitle" *ngSwitchCase="'EDIT'">Edit Service</span>
            </h3>
            <!-- END SIDE CONTENT TITLE -->

            <!-- SAVE / CLOSE BUTTON -->
            <div class="block-options">
                <button type="submit" id="submitInteraction" class="btn btn-sm btn-primary mr-1">
                    {{saveButtonTitle}}
                </button>
                <button type="button" id="closeInteraction" class="btn btn-sm btn-secondary"
                    (click)="closeSideContent()">Close</button>
            </div>
            <!-- END SAVE / CLOSE BUTTON -->

        </div>
        <!--  END SIDE CONTENT HEADER -->

        <!-- SIDE CONTENT CONTENT -->
        <div class="block-content">
            <div class="row">

                <!-- SERVICE NAME -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label id="serviceLabel" for="serviceName" class="form-label">
                            Service Name
                            <i class="fa fa-info-circle ml-0 info" placement="bottom" ngbPopover="Name of the service (unique)" triggers="mouseenter:mouseleave"></i>
                        </label>
                        <input id="serviceName" type="text" class="form-control" name="ServiceName" placeholder="Service Name" formControlName="service"
                            [readonly]="mode === InteractionMode.EDIT" />
                    </div>
                </div>
                <!-- END SERVICE NAME -->

                <!-- SERVICE TYPE -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label id="serviceTypeLabel" for="serviceType" class="form-label">
                            Type
                        </label>
                        <select id="serviceType" name="ServiceType" formControlName="type" class="form-select form-control">
                            <option *ngFor="let type of invariantsService.serviceTypeList" value= {{type.value}}>
                                {{type.value}} - {{ type.description }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- END SERVICE TYPE -->

                <div class="col-md-12">
                    <div class="form-group">
                        <ngb-tabset [destroyOnHide]="false">

                            <!-- TAB DEFINITION -->
                            <ngb-tab title="Definition">                            
                                <ng-template ngbTabContent>
                                    <div class="row p-3">    
                                        <!-- APPLICATION -->
                                        <div class="form-group col-12">
                                            <label id="serviceTypeLabel" for="serviceApplication" class="form-label">
                                                Application
                                            </label>
                                            <select id="serviceApplication" name="ServiceApplication" formControlName="application" class="form-select form-control">
                                                <option *ngFor="let app of applications" value="{{app.application}}">
                                                    {{app.application}} - {{ app.description }}
                                                </option>
                                            </select>
                                        </div>
                                        <!-- END APPLICATION -->
    
                                        <!-- SERVICE METHOD -->
                                        <div class="form-group col-12 col-xl-6">
                                            <label id="serviceMethodLabel" for="serviceMethod" class="form-label">
                                                Method
                                            </label>
                                            <select id="serviceMethod" name="ServiceMethod" formControlName="method" class="form-select form-control"
                                                    [attr.disabled]="isSOAPType() ? true : null">
                                                <ng-container *ngFor="let method of invariantsService.serviceMethodList">
                                                    <option  value="{{method.value}}"  *ngIf="showMethod(method.value)">
                                                        {{method.value}} - {{ method.description }}
                                                    </option>
                                                </ng-container>
                                            </select>
                                        </div>
                                        <!-- END SERVICE METHOD -->
    
                                        <!-- SERVICE PATH -->                                
                                        <div class="form-group col-12 col-xl-6">
                                            <label id="servicePathLabel" for="servicePath" class="form-label">
                                                Service Path
                                                <i class="fa fa-info-circle ml-0 info" placement="bottom" ngbPopover='This field is used to set the location of your service. You can put a URL as following: http://myservice.fr/users/1 ftp://username:password@host:port/myFile.txt. You can also put a relative path as following: /users/1 /myFile.txt' triggers="mouseenter:mouseleave"></i>
                                            </label>
                                            <input id="servicePath" type="text" class="form-control" name="ServicePath" placeholder="Service Path" formControlName="servicePath" />
                                        </div>
                                        <!-- END SERVICE PATH -->    
    
                                        <!-- SERVICE OPERATION -->                                
                                        <div *ngIf="isSOAPType()" class="form-group col-12">
                                            <label id="serviceOperationLabel" for="serviceOperation" class="form-label">
                                                Operation
                                            </label>
                                            <input id="serviceOperation" type="text" class="form-control" name="ServiceOperation" placeholder="Service Operation" formControlName="operation" />
                                        </div>
                                        <!-- END SERVICE OPERATION -->
    
                                        <!-- SERVICE KAFKA TOPIC -->                                
                                        <div *ngIf="isKAFKAType()" class="form-group col-12 col-md-6">
                                            <label id="kafkaTopicLabel" for="kafkaTopic" class="form-label">
                                                Kafka Topic
                                            </label>
                                            <input id="kafkaTopic" type="text" class="form-control" name="kafkaTopic" placeholder="Kafka Topic" formControlName="kafkaTopic" />
                                        </div>
                                        <!-- END SERVICE KAFKA TOPIC -->
    
                                        <!-- SERVICE KAFKA FILTER PATH -->                                
                                        <div *ngIf="isKAFKAType()" class="form-group col-12 col-md-6">
                                            <label id="kafkaFilterPathLabel" for="kafkaFilterPath" class="form-label">
                                                Kafka Filter Path
                                            </label>
                                            <input id="kafkaFilterPath" type="text" class="form-control" name="kafkaFilterPath" placeholder="Kafka Filter Path" formControlName="kafkaFilterPath" />
                                        </div>
                                        <!-- END SERVICE KAFKA FILTER PATH -->
    
                                        <!-- SERVICE KAFKA FILTER VALUE -->                                
                                        <div *ngIf="isKAFKAType()" class="form-group col-12 col-md-6">
                                            <label id="kafkaFilterPathLabel" for="kafkaFilterValue" class="form-label">
                                                Kafka Filter Value
                                            </label>
                                            <input id="kafkaFilterValue" type="text" class="form-control" name="kafkaFilterValue" placeholder="Kafka Filter Value" formControlName="kafkaFilterValue" />
                                        </div>
                                        <!-- END SERVICE KAFKA FILTER VALUE -->
    
                                        <!-- FOLLOW REDIRECT -->
                                        <div *ngIf="isRESTType()"  class="form-group col-12">
                                            <div class="custom-control custom-switch custom-control-primary">
                                                <input id="serviceFollowRedirect" type="checkbox" class="custom-control-input" name="ServiceFollowRedirect" formControlName="isFollowRedir" value="1">
                                                <label id="serviceFollowRedirectLabel" class="custom-control-label" for="serviceFollowRedirect">Follow Redirect</label>
                                            </div>
                                        </div>
                                        <!-- END FOLLOW REDIRECT -->
    
                                        <!-- GROUP -->
                                        <div class="form-group col-12 " [class.col-md-6]="isKAFKAType()">
                                            <label id="serviceGroupLabel" for="serviceGroup" class="form-label">
                                                Group
                                            </label>
                                            <input id="serviceGroup" type="text" class="form-control" name="ServiceGroup" placeholder="Service Group" formControlName="group" />
                                        </div>
                                        <!-- END GROUP -->
    
                                        <!-- SERVICE DESCRIPTION  -->
                                        <div class="form-group col-12">
                                            <label id="serviceDescriptionLabel" for="serviceDescription" class="form-label">
                                                Description
                                            </label>
                                            <textarea id="serviceDescription" class="form-control" name="ServiceDescription" placeholder="Service Description" formControlName="description">{{service.description}}</textarea>
                                        </div>
                                        <!-- END SERVICE DESCRIPTION -->
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <!-- END TAB DEFINITION -->

                            <!-- TAB REQUEST -->
                            <ngb-tab title="Request">                            
                                <ng-template ngbTabContent>                                       
                                    <div class="row p-3">                                                                     
                                        <div class="col-12">                                 
                                            <!-- SERVICE ATTACHMENT URL  -->
                                            <div *ngIf="isSOAPType()" class="form-group">
                                                <label id="serviceAttachmentURLLabel" for="serviceAttachmentURL" class="form-label">
                                                    Attachment URL
                                                </label>
                                                <input id="serviceAttachmentURL" class="form-control" name="ServiceAttachmentURL" placeholder="URL" formControlName="attachementurl">
                                            </div>
                                            <!-- END SERVICE ATTACHMENT URL -->                                   
                                            <!-- SERVICE KAFKA KEY  -->
                                            <div *ngIf="isKAFKAType()" class="form-group">
                                                <label id="serviceKafkaKeyLabel" for="serviceKafkaKey" class="form-label">
                                                    Kafka Key
                                                </label>
                                                <input id="serviceKafkaKey" class="form-control" name="ServiceKafkaKey" placeholder="Key" formControlName="kafkaKey">
                                            </div>
                                            <!-- END KAFKA KEY -->                              
                                            <!-- SERVICE FTP FILE  -->
                                            <div *ngIf="isFTPType()" class="form-group">
                                                <label id="serviceFTPFileLabel" for="serviceFTPFile" class="form-label">
                                                    FTP File
                                                </label>

                                                <div  draggable="true" ngClass="{{dragAreaClass}}" >
                                                    <div *ngIf="!serviceForm.get('file').value && !serviceForm.get('fileName').value">                                                        
                                                        <i class="fa fa-upload  fa-3x"></i>
                                                        <h3 class="mt-2 mb-2">Drag a file here</h3> 
                                                        <p class="mt-2 mb-2">or</p>
                                                    </div>
                                                    <div *ngIf="serviceForm.get('fileName').value">                                                        
                                                        <i class="fa fa-file fa-3x"></i>
                                                        <h4 class="mt-2 mb-2">{{ serviceForm.get('fileName').value }}</h4> 
                                                    </div>
                                                    <a href="javascript:void(0)" class="btn btn-primary" (click)="ServiceFTPFile.click()">
                                                        Browse File
                                                    </a>
                                                    <input name="ServiceFTPFile" type="file" #ServiceFTPFile [multiple]="false"
                                                         (change)="onFileChange($event)" style="display:none" />
                                                </div>                              
                                            </div>
                                            <!-- END FTP FILE -->                        
                                            <!-- SERVICE REQUEST  -->
                                            <div class="form-group" *ngIf="showServiceRequest()" >
                                                <label id="serviceRequestLabel" for="serviceRequest" class="form-label">
                                                    {{ (isFTPType() && !isGETMethod()) ? 'File Content' : 'Service Request'}}
                                                </label>
                                                <textarea id="serviceRequest" class="form-control" name="ServiceRequest"
                                                placeholder="Service Request" formControlName="srvRequest">{{service.srvRequest}}</textarea>
                                            </div>
                                            <!-- END SERVICE REQUEST -->
                                        </div> 
                                    </div>          
                                </ng-template>
                            </ngb-tab>
                            <!-- END TAB REQUEST -->

                            <!-- TAB REQUEST DETAIL -->
                            <ngb-tab [title]="isKAFKAType() ? 'KAFKA Props':'Request Detail' ">                            
                                <ng-template ngbTabContent>                                                                          
                                    <div class="row pt-3">                                                                      
                                        <div class="col-md-12">                                 
                                            <!-- SERVICE REQUEST DETAILS  -->
                                            <div class="form-group">
                                                <table class="table table-bordered table-hover" id="contentTable" formArrayName="contentList">
                                                    <thead>
                                                        <tr>
                                                            <th ></th>
                                                            <th class="text-center" id="contentActiveHeader" name="contentActiveHeader">Active</th>
                                                            <th class="text-center" id="contentSortHeader" name="contentSortHeader">Sort</th>
                                                            <th class="text-center" id="contentKeyHeader" name="contentKeyHeader">Key</th>
                                                            <th class="text-center" id="contentValueHeader" name="contentValueHeader">Value</th>
                                                            <th class="text-center" id="contentDescriptionHeader" name="contentDescriptionHeader">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="contentTableBody">     
                                                        <ng-container *ngFor="let item of contentList.controls; let i=index" [formGroupName]="i">                                                      
                                                            <tr [class.table-danger]="item.toDelete">
                                                                <td>
                                                                    <button id="deleteContentItem-{{ i }}"  type="button" class="btn btn-secondary btn-sm" (click)="item.toDelete = !item.toDelete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <select id="contentItemActive-{{ i }}" name="ContentItemActive" formControlName="active" class="form-select form-control form-control-sm">
                                                                        <ng-container *ngFor="let act of invariantsService.serviceContentActList">
                                                                            <option  value="{{act.value}}">
                                                                                {{ act.description }}
                                                                            </option>
                                                                        </ng-container>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input id="contentItemSort-{{ i }}" type="text" class="form-control form-control-sm" name="ContentItemSort" placeholder="Service Group" formControlName="sort" maxlength="4" />
                                                                </td>
                                                                <td>
                                                                    <input id="contentItemKey-{{ i }}" type="text" class="form-control form-control-sm" name="ContentItemKey" placeholder="Key"  formControlName="key" maxlength="255" />
                                                                </td>
                                                                <td>
                                                                    <textarea id="contentItemValue-{{ i }}" class="form-control form-control-sm" name="ContentItemValue" placeholder="Value" formControlName="value"  rows="1" >{{value}}</textarea>
                                                                </td>
                                                                <td>
                                                                    <input id="contentItemDescription-{{ i }}" type="text" class="form-control form-control-sm" name="ContentItemDescription" placeholder="Description" maxlength="200" />
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>  
                                                <button type="button" class="btn btn-secondary mt-2" id="addContent" (click)="addContent()" [disabled]="isSOAPType() || isFTPType() ? 'true' : ''">Add Content</button>
                                            </div>
                                            <!-- END SERVICE REQUEST DETAILS -->
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <!-- END TAB REQUEST DETAIL -->

                            <!-- TAB HEADER -->
                            <ngb-tab title="Header">                            
                                <ng-template ngbTabContent>
                                                                       
                                    <div class="row pt-3">    
                                        <div class="col-12">                                 
                                            <!-- SERVICE REQUEST HEADER  -->
                                            <div class="form-group">                                            
                                                <table class="table table-bordered table-hover" id="headerTable" formArrayName="headerList">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th class="text-center" id="headerActiveHeader" name="headerActiveHeader">Active</th>
                                                            <th class="text-center" id="headerSortHeader" name="headerSortHeader">Sort</th>
                                                            <th class="text-center" id="headerKeyHeader" name="headerKeyHeader">Key</th>
                                                            <th class="text-center" id="headerValueHeader" name="headerValueHeader">Value</th>
                                                            <th class="text-center" id="headerDescriptionHeader" name="headerDescriptionHeader">Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="headerTableBody">     
                                                        <ng-container *ngFor="let item of headerList.controls; let i=index" [formGroupName]="i">                                                      
                                                            <tr [class.table-danger]="item.toDelete">
                                                                <td>
                                                                    <button id="deleteHeaderItem-{{ i }}"  type="button" class="btn btn-secondary btn-sm" (click)="item.toDelete = !item.toDelete">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <select id="headerItemActive-{{ i }}" name="HeaderItemActive" formControlName="active" class="form-select form-control form-control-sm">
                                                                        <ng-container *ngFor="let act of invariantsService.serviceContentActList">
                                                                            <option  value="{{act.value}}">
                                                                                {{ act.description }}
                                                                            </option>
                                                                        </ng-container>
                                                                    </select>
                                                                </td>
                                                                <td>
                                                                    <input id="headerItemSort-{{ i }}" type="text" class="form-control form-control-sm" name="HeaderItemSort" placeholder="Service Group" formControlName="sort" maxlength="4" />
                                                                </td>
                                                                <td>
                                                                    <input id="headerItemKey-{{ i }}" type="text" class="form-control form-control-sm" name="HeaderItemKey" placeholder="Key"  formControlName="key" maxlength="255" />
                                                                </td>
                                                                <td>
                                                                    <textarea id="headerItemValue-{{ i }}" class="form-control form-control-sm" name="HeaderItemValue" placeholder="Value" formControlName="value"  rows="1" >{{value}}</textarea>
                                                                </td>
                                                                <td>
                                                                    <input id="headerItemDescription-{{ i }}" type="text" class="form-control form-control-sm" name="HeaderItemDescription" placeholder="Description" maxlength="200" />
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                                <button type="button" class="btn btn-secondary mt-2" id="addHeader" (click)="addHeader()" [disabled]="isFTPType() ? 'true' : ''">Add Header</button>
                                            </div>
                                            <!-- END SERVICE REQUEST HEADER -->
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <!-- END TAB HEADER -->

                            <!-- TAB TRACEABILITY -->
                            <ngb-tab *ngIf="mode === InteractionMode.EDIT" title="Traceability">                            
                                <ng-template ngbTabContent>                                                  
                                    <div class="row p-3">                                   
                                        <div class="col-12">  
                                        
                                            <!-- CREATION -->
                                            <label class="d-block" class="form-label">Creation</label>
                                            
                                            <!-- DATE CREATED -->
                                            <div class="row form-group">                                            
                                                <div class="col-xl-6 col-12 mb-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Date</span>
                                                        </div>
                                                        <span class="form-control text-left" id="dateCreated" type="text">
                                                            <i class="fa fa-calendar-day mr-1"></i>
                                                            {{service.DateCreated | date:'MMM d, yyyy'}}
                                                        </span>
                                                    </div>     
                                                </div>
                                                <!-- END DATE CREATED -->
                                                <!-- USER CREATED -->
                                                <div class="col-xl-6 col-12 mb-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Issuer</span>
                                                        </div>
                                                        <span class="form-control text-left" id="userCreated" type="text">
                                                            <i class="fa fa-user-edit mr-1"></i>
                                                            {{service.UsrCreated}}
                                                        </span>
                                                    </div>     
                                                </div>
                                                <!-- END USER CREATED -->
                                            </div>
                                            <!-- END CREATION -->

                                            <!-- LAST UPDATE -->
                                            <label class="d-block" class="form-label">Last Update</label>
                                            
                                            <!-- LAST UPDATE DATE -->
                                            <div class="row form-group">                                            
                                                <div class="col-xl-6 col-12 mb-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Date</span>
                                                        </div>
                                                        <span class="form-control text-left" id="dateModif" type="text">
                                                            <i class="fa fa-calendar-day mr-1"></i>
                                                            {{service.DateModif | date:'MMM d, yyyy'}}
                                                        </span>
                                                    </div>     
                                                </div>
                                                <!-- END LAST UPDATE DATE -->
                                                <!-- LAST UPDATE USER -->
                                                <div class="col-xl-6 col-12 mb-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Issuer</span>
                                                        </div>
                                                        <span class="form-control text-left" id="userModif" type="text">
                                                            <i class="fa fa-user-edit mr-1"></i>
                                                            {{service.UsrModif}}
                                                        </span>
                                                    </div>     
                                                </div>
                                                <!-- END LAST UPDATE USER -->
                                            </div>
                                            <!-- END LAST UPDATE -->
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <!-- END TAB TRACEABILITY -->

                        </ngb-tabset> 
                    </div>
                </div>
            </div>
        </div>
        <!-- END SIDE CONTENT CONTENT -->
    </div>
</form>