.drag-area, .drop-area {
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    width: 100%;
    padding: 15px;
}
.drop-area {
  background-color: #eff;
}
.code-editor{
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    line-height: normal;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    direction: ltr;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}