<div id="activeStepSettings" class="row">

    <!-- UNLINK BUTTON -->
    <div *ngIf="readonly" class="col-md-12 text-center">
        <button type="button" class="btn btn-rounded btn-alt-danger mr-1 mb-3"
            ngbPopover="This step's content is from another test case" triggers="mouseenter:mouseleave">
            <i class="fa fa-fw fa-unlink mr-1"></i> Unlink
        </button>
    </div>
    <!-- END UNLNK BUTTON -->

    <!-- STEP DESCRIPTION -->
    <div class="col-md-12">
        <div class="form-group">
            <label for="description"><i class="fa fa-info mr-2"></i>Description</label>
            <input type="text" [(ngModel)]="step.description" class="form-control form-control-sm" name="description"
                placeholder="Step Description" [disabled]="readonly"
                [ngClass]="step.description == '' ? 'has-warning':''">
            <div *ngIf="step.description == ''" class="warning-feedback">
                You should consider giving a description
            </div>
        </div>
    </div>
    <!-- END STEP DESCRIPTION -->

    <!-- LOOP OPERATOR-->
    <div *ngIf="stepLoopOperators" class="col-md-12">
        <div class="form-group">
            <label for="activeStepLoop"><i class="fa fa-redo mr-2"></i>Loop</label>
            <select class="form-control form-control-sm br-tp-0" id="activeStepLoop" name="activeStepLoop"
                [(ngModel)]="step.loop" [disabled]="readonly">
                <option *ngFor='let steploop of stepLoopOperators' [ngValue]='steploop.value'>{{steploop.value}}
                </option>
            </select>
        </div>
    </div>
    <!-- END LOOP OPERATOR-->

    <!-- CONDITION OPERATOR-->
    <div *ngIf="conditionsOperators" class="col-md-12">
        <div class="form-group">
            <label for="activeStepCondition"><i class="fa fa-question mr-2"></i>Condition</label>
            <select class="form-control form-control-sm br-tp-0" id="activeStepCondition" name="activeStepCondition"
                [(ngModel)]="step.conditionOper" [disabled]="readonly">
                <option *ngFor='let condition of conditionsOperators' [ngValue]='condition.value'>
                    {{condition.value}}
                </option>
            </select>
        </div>
    </div>
    <!-- END CONDITION OPERATOR-->

    <!-- CONDITION VALUE 1 -->
    <div *ngIf="findConditionCrossReference(step.conditionOper).value1" class="col-md-12">
        <div class="form-group">
            <div class="input-group custom-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ findConditionCrossReference(step.conditionOper).value1 }}
                    </span>
                </div>
                <input type="text" class="form-control form-control-sm" id="activeStepParameter1"
                    name="activeStepParameter1" [(ngModel)]="step.conditionVal1" [readonly]="readonly">
            </div>
        </div>
    </div>
    <!-- END CONDITION VALUE 1 -->

    <!-- CONDITION VALUE 2 -->
    <div class="col-md-12" *ngIf="findConditionCrossReference(step.conditionOper).value2">
        <div class="form-group">
            <div class="input-group custom-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ findConditionCrossReference(step.conditionOper).value2 }}
                    </span>
                </div>
                <input type="text" class="form-control form-control-sm" id="activeStepParameter2"
                    name="activeStepParameter2" [(ngModel)]="step.conditionVal2" [readonly]="readonly">
            </div>
        </div>
    </div>
    <!-- END CONDITION VALUE 2 -->

    <!-- FORCE EXECUTION SWITCH -->
    <div class="col-md-12">
        <div class="form-group">
            <div class="custom-control custom-switch custom-control-inline ml-1">
                <input type="checkbox" class="custom-control-input" id="activeStepforceExecution"
                    name="activeStepforceExecution" [checked]="step.forceExecution"
                    (change)="step.forceExecution = !step.forceExecution" [disabled]="readonly">
                <label class="custom-control-label" for="activeStepforceExecution">
                    Force Execution
                </label>
            </div>
        </div>
    </div>
    <!-- END FORCE EXECUTION SWITCH -->

</div>