<!-- title section -->
<div class="bg-body-light">
  <div class="content content-full">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
      <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Test Case Script</h1>
      <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Test Management</li>
          <li class="breadcrumb-item">Test</li>
          <li class="breadcrumb-item active" aria-current="page">Testcase Edition</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- END title section -->

<div class="content">

  <app-tc-selector [test]='selectedTest' (SelectedTestChange)='receiveTest($event)' [testcase]='selectedTestCase'
    (SelectedTestCaseChange)='receiveTestCase($event)'>
  </app-tc-selector>

  <app-tc-header *ngIf='testcase' [test]='selectedTest' [testcase]='selectedTestCase' [testcaseheader]="testcase.info"></app-tc-header>

  <app-tc-script *ngIf='testcase' [testcase]="testcase"></app-tc-script>

</div>