<!-- MODAL HEADER -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Library Step(s)</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- END MODAL HEADER -->

<!-- MODAL BODY -->
<div class="modal-body" *ngIf="librarySteps">

  <!-- NO STEPS AVAILABLE MESSAGE -->
  <p class="text-center" *ngIf="librarySteps.length === 0">
    There is no library step for the system you selected: {{user.defaultSystem[0]}}
  </p>
  <!-- END NO STEPS AVAILABLE MESSAGE -->

  <!-- MODAL CONTENT-->
  <div class="row" *ngIf="librarySteps.length !== 0">

    <!-- INFORMATION & SEARCH BANNER -->
    <div class="col-12">
      <div class="block-header block-header-rtl custom-sm mb-3 pl-0">

        <div class="block-title font-size-sm font-w600">
          <i class="fa fa-info-circle mr-1"></i> Showing steps from system : {{user.defaultSystem[0]}}
        </div>

        <div class="block-options">
          <div class="form-check-inline mr-0">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-text-alt">
                  <i class="fa fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-sm form-control-alt search-field" id="quickSearch"
                style="min-width: 20rem;" placeholder="Quick Search" (keyup)="filterSteps($event)">
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END INFORMATION & SEARCH BANNER -->

    <!-- LEFT SECTION -->
    <div class="col-md-6">

      <!-- LIST OF AVAILABLE STEPS BY TEST FOLDER -->
      <app-testfoldergroup *ngFor="let testfoldergroup of stepsByTest; let index = index"
        [testfoldergroup]="testfoldergroup" [selectedSteps]="selectedSteps" [testFolderIndex]="index">
      </app-testfoldergroup>
      <!-- END LIST OF AVAILABLE STEPS BY TEST FOLDER -->

    </div>
    <!-- END LEFT SECTION -->

    <!-- RIGHT SECTION -->
    <div class="col-md-6">

      <div class="block block-rounded block-bordered">
        <div class="block-header custom-sm">
          <div class="input-group">
            <div class="input-group-prepend">
              <input type="text" name="description" class="form-control form-control-sm full-height no-background"
                value="Selection" disabled>
            </div>
          </div>
        </div>

        <!-- NO SELECTION MESSAGE -->
        <div *ngIf="selectedSteps.length === 0" class="text-center">
          <p>
            <i class="fa fa-search mr-2"></i>
            No step selected
          </p>
        </div>
        <!-- END NO SELECTION MESSAGE -->

        <!-- LIST OF SELECTED STEPS -->
        <div *ngIf="selectedSteps.length > 0" cdkDropList (cdkDropListDropped)="drop($event)"
          class="block-content selected-steps pb-2">
          <div *ngFor="let step of selectedSteps; let index = index" class="selected-step" cdkDrag cdkDragLockAxis="y">

            <app-selectedstep [step]="step" [selectedsteps]="selectedSteps">
            </app-selectedstep>

          </div>
        </div>
      </div>
      <!-- END LIST OF SELECTED STEPS -->

    </div>
    <!-- END RIGHT SECTION -->

  </div>
  <!-- END MODAL CONTENT-->

</div>
<!-- END MODAL BODY -->

<!-- MODAL FOOTER -->
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="addStepsAndClose()">Add</button>
</div>
<!-- END MODAL FOOTER -->