<app-filters 
    (systemApply)="applyFilters($event)" 
    (pageApply)="pageUpdate($event)"
    [page]="page" 
    [columns]="columns"
    [selectedRows]="selectedRows"
    [servlet]="servlet"
    [selection]="selection">
</app-filters>

<!-- <div class="content"> -->
    <!-- <div class="block-content"> -->
        <app-table 
            [rows]="rows" 
            [columns]="columns" 
            [testcaseslist]="true" 
            [page]="page" 
            [selection]="selection"
            [massAction]="massAction"
            [selected]="selectedRows"
            (pageUpdate)="pageUpdate($event)"
            (sort)="applyFilters($event)">
        </app-table>
    <!-- </div> -->
<!-- </div> -->

