.page {
    height: calc(100vh - 75px);
    display: flex;
    align-items: stretch;
    flex-direction: column;

    &>* {
        width: 100%;
    }

    app-table {
        display: inline-flex;
        height: 100%;
    }
}