<div *ngIf="user" class="page">
    <app-filters (globalSearchContentChange)="updateGlobalSearch($event)" (resetPreferencesEmitter)="resetPreferences()" [page]="page" [columns]="columns"
         [servlet]="servlet" [filterTemplate]="filterTemplate" [userHasPreferencesSetted]="userHasPreferencesSetted"
         [initialSearch]="globalSearch" [massActionTemplate]="massActionTemplate" (columnChangeEmitter)="onColumnChange()">
    </app-filters>

    <app-table [rows]="rows" [columns]="columns" [testcaseslist]="true" [page]="page" [selection]="selection"
        [massAction]="massAction" [selected]="selectedRows" [endLineActionTemplate]="endLineActionTemplate"
        (pageUpdate)="pageUpdate($event)" (sort)="applyFilters($event)" (columnAddedForFiltering)="openFiltersModal()"
        (order)="onReorder($event)" >
    </app-table>
</div>