.plr-0{
    padding: 1.25rem 0px;
}

.ml-0 {
    margin-right: 0.25rem;
}

.ptb-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.label-color {
    color:white;
}

.label {
    color:white;
    border-color: transparent;
}

.label:hover {
    opacity: 0.65;
}

.label:disabled{
    background-color: transparent !important;
}

.label-list-title {
    border-color: transparent !important;
    color: #495057;
    cursor: default !important;
}

.block-label-list {
    padding: 0.75rem 0.75rem 1px !important;
}

.info { cursor: pointer; }
.info:hover { color: #35579c; }