<div class="data-table">
  <input (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  <table mat-table [dataSource]="testcasesList" class="mat-elevation-z8">
    <ng-container matColumnDef="testCase">
      <th mat-header-cell *matHeaderCellDef> Test Case ID </th>
      <td mat-cell *matCellDef="let element"> {{element.testCase}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="application">
      <th mat-header-cell *matHeaderCellDef> Application </th>
      <td mat-cell *matCellDef="let element"> {{element.application}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!--<div>{{testcasesList | json}}</div>-->
