.fa-color {
  color: #ffb119 !important;
}
.fa-bg {
  background-color: #ffb119 !important;
  border: 1px solid #ffb119;
  color: white;
}
.ok-color {
  color: #7ac839 !important;
}
.ok-bg {
  background-color: #7ac839 !important;
  border-color: #7ac839;
  color: white;
}
.ko-color {
  color: #f14100 !important;
}
.ko-bg {
  background-color: #f14100 !important;
  border-color: #f14100;
  color: white;
}
