<div class="block block-bordered mb-0" [id]="'propertyValue'+index" (mouseenter)="showActions=true"
    (mouseleave)="showActions=false">
    <div class="block-header block-header-default block-header-sm">

        <!-- ROW HEADER -->
        <div class="row full-width">
            <div class="col-3">
                <div class="input-group custom-sm">

                    <!-- SHOW / HIDE BUTTON -->
                    <button class="btn btn-sm btn-light no-background ml-4"
                        (click)="propertyValueDetailsDisplay = !propertyValueDetailsDisplay">
                        <i class="fa"
                            [ngClass]="propertyValueDetailsDisplay ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                    </button>
                    <!-- END SHOW / HIDE BUTTON -->

                    <!-- NUMBER OF VALUES -->
                    <div class="input-group-prepend">
                        <span class="input-group-text no-background fs-1"
                            [ngClass]="propertyvalue.toDelete == true ? 'to-delete-color' : ''">
                            {{ propertyvalue.property }}
                        </span>
                    </div>
                    <!-- END NUMBER OF VALUES -->

                    <!-- DUPLICATE VALUE BUTTON -->
                    <button *ngIf="showActions && inherited == false"
                        class="btn btn-sm btn-light no-background custom-sm" ngbPopover="Duplicate Value"
                        triggers="mouseenter:mouseleave" (click)="duplicateAPropertyValue()">
                        <i class="fa fa-copy"></i>
                    </button>
                    <!-- END DUPLICATE VALUE BUTTON -->

                    <!-- DELETE VALUE BUTTON -->
                    <button *ngIf="isDeleteButtonDisplayed() && inherited == false"
                        class="btn btn-sm no-background custom-sm" [ngbPopover]="getDeletionPopoverText()"
                        triggers="mouseenter:mouseleave" (click)="deleteAPropertyValue()"
                        [ngClass]="propertyvalue.toDelete == true ? 'to-delete-color' : 'btn-light'">
                        <i class="fa fa-trash"></i>
                    </button>
                    <!-- END DELETE VALUE BUTTON -->

                </div>
            </div>

            <!-- PROPERTY VALUE TYPE -->
            <div class="col-2">
                <h3 class="block-title fs-1" style="color: #495057; font-weight: 600;">
                    {{propertyvalue.type}}
                </h3>
            </div>
            <!-- END PROPERTY VALUE TYPE -->

            <!-- PROPERTY VALUE VALUE1 PREVIEW -->
            <div class="col-3">
                <h3 class="block-title fs-1" style="color: #495057; font-weight: 600;">
                    {{propertyvalue.value1 | slice:0:30}}</h3>
            </div>
            <!-- PROPERTY VALUE VALUE1 PREVIEW -->

            <!-- SELECTED COUNTRIES LIST -->
            <div class="col-4">
                <span *ngFor="let country of testcase.info.countryList"
                    [ngClass]="isACountrySelected(country.country) ? 'badge-primary' : 'badge-secondary'"
                    class="badge link-cursor mr-1" (click)="toggleCountry(country.country)">{{country.country}}</span>
            </div>
            <!-- SELECTED COUNTRIES LIST -->

        </div>
        <!-- ROW HEADER -->

    </div>
    <!-- PROPERTY VALUE CONTENT -->
    <div *ngIf="propertyValueDetailsDisplay" class="row block-content pl-5">

        <!-- TYPE FIELD -->
        <div class="col-3">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            type
                        </span>
                    </div>
                    <select class="form-control form-control-sm" name="type" [(ngModel)]="propertyvalue.type"
                        (change)="onTypeChange($event)" [disabled]="areFieldsEnabled()">
                        <option *ngFor="let inv of propertyTypesList">{{ inv.value }}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END TYPE FIELD -->

        <!-- DESCRIPTION FIELD -->
        <div class="col-9">
            <div class="form-group">
                <div class="input-group custom-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            description
                        </span>
                    </div>
                    <input type="text" class="form-control form-control-sm" name="description"
                        [(ngModel)]="propertyvalue.description" [disabled]="areFieldsEnabled()">
                </div>
            </div>
        </div>
        <!-- END DESCRIPTION FIELD -->

        <!-- VALUE EDITOR -->
        <div class="col-12">
            <div class="form-group">
                <label for="example-textarea-input">Value</label>
                <ngx-monaco-editor class="form-control" [options]="editorOptions" [(ngModel)]="propertyvalue.value1">
                </ngx-monaco-editor>
            </div>
        </div>
        <!-- END VALUE EDITOR -->

    </div>
    <!-- END PROPERTY VALUE CONTENT -->

</div>