<div class="block block-rounded block-bordered" *ngIf="testcase">
  <div class="block-header block-header-default">
    <h3 class="block-title">Testcase <small>script</small></h3>
    <div class="block-options">
      <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"><i
          class="si si-size-fullscreen"></i></button>
      <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle"
        data-action-mode="demo">
        <i class="si si-refresh"></i>
      </button>
    </div>
  </div>
  <div class="block-content">
    <div class="row push" *ngIf="testcase.stepList.length == 0">
      <div class="col-md-12 mt-3s text-center">
        <p>The test case is empty <i class="far fa-frown-open"></i></p>
      </div>
      <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Horizontal Outline Primary">
          <button type="button" class="btn btn-outline-primary" (click)="addAStep()"><i
              class="fa fa-fw fa-plus mr-1"></i>
            Step</button>
          <button type="button" class="btn btn-outline-primary"><i class="fa fa-fw fa-plus mr-1"></i>Use Step</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="testcase.stepList.length != 0">
      <div class="col-md-7">
        <div id="stepList" role="tablist" aria-multiselectable="true" cdkDropList (cdkDropListDropped)="drop($event)">
          <div *ngFor='let step of testcase.stepList; first as isFirst' cdkDragLockAxis="y" cdkDrag>
            <app-step (stepFocused)="receiveStep($event)" [step]="step" [isfirstStep]="isFirst">
              <button slot="drag-handle" type="button" class="btn btn-primary" cdkDragHandle>
                <i class="fa fa-arrows-alt-v"></i>
              </button>
            </app-step>
          </div>
          <div class="push">
            <button type="button" class="col-md-4 mr-2 btn btn-outline-primary" (click)="addAStep()"><i
                class="fa fa-fw fa-plus mr-1"></i>Step</button>
            <button type="button" class="col-md-4 btn btn-outline-primary"><i class="fa fa-fw fa-plus mr-1"></i>Use
              Step</button>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <app-settings></app-settings>
      </div>
    </div>
    <div class="row push" *ngIf="!testcase.stepList.length == 0">
      <div class="col-md-12">
        <button class="btn btn-light full-width border" type="button"> Save All </button>
      </div>
    </div>
  </div>
</div>