<div class="block block-rounded block-bordered block-rounded">
  <div class="block-header block-header-default">
    <ng-content select="[slot=prop-name]"></ng-content>
    <div class="block-options">
      <button type="button" class="btn-block-option" (click)="debug()">
        <i class="fa fa-bug"></i>
      </button>
    </div>
  </div>
  <div class="block-content">
    <div class="row">
      <div class="col-md-12">
        <!-- UNASSIGNED COUNTRIES LIST -->
        <div *ngIf="unassignedCountriesList" class="block block-bordered block-rounded">
          <ul [id]="DragAndDropId" cdkDropList cdkDropListOrientation="horizontal"
            [cdkDropListData]="unassignedCountriesList" [cdkDropListConnectedTo]="DragAndDropList"
            (cdkDropListDropped)="dropCountry($event)" class="nav nav-tabs nav-tabs-block" data-toggle="tabs"
            role="tablist">
            <li class="nav-item default-cursor">
              <a class="nav-link active">Unassigned:</a>
            </li>
            <li *ngFor="let country of unassignedCountriesList" class="nav-item" cdkDrag>
              <a class="nav-link">{{country}}</a>
            </li>
          </ul>
        </div>
        <div class="block-content block-content-full block-content-sm font-size-sm text-right">
          <button class="btn btn-sm btn-secondary mr-1" name="collapseAll" type="button"
            (click)="showPropCountriesMainContent = false">
            <i class="si fa-fw si-arrow-right mr-1"></i> Collapse All
          </button>
          <button class="btn btn-sm btn-secondary mr-1" name="expandAll" type="button"
            (click)="showPropCountriesMainContent = true">
            <i class="si fa-fw si-arrow-down mr-1"></i> Expand All
          </button>
        </div>
        <!-- END UNASSIGNED COUNTRIES LIST -->
        <!-- PROPERTY VALUES LIST -->
        <div *ngFor="let prop of propertiesByName; let index = index">
          <app-propertyvalue [propertyvalue]="prop" [index]="index | trueindex"
            [showMainContent]="showPropCountriesMainContent">
          </app-propertyvalue>
        </div>
        <!-- END PROPERTY VALUES LIST -->
        <div class="text-center push">
          <button type="button" class="btn btn-outline-primary mr-1" (click)="addAProperty()">
            <i class="fa fa-fw fa-plus mr-1"></i> New
          </button>
        </div>
      </div>
    </div>
  </div>