<div class="block block-bordered block-rounded">
  <ul [id]="DragAndDropId" cdkDropList cdkDropListOrientation="horizontal" cdkDragLockAxis="x"
    [cdkDropListData]="prop.country" [cdkDropListConnectedTo]="DragAndDropList"
    (cdkDropListDropped)="dropCountry($event)" (cdkDropListExited)="dropOutPropCountry($event)"
    (cdkDropListEntered)="dropInPropCountry($event)"
    class="nav nav-tabs nav-tabs-block align-items-center js-tabs-enabled">
    <li class="nav-item default-cursor">
      <a class="nav-link active text-muted"><i class="fa fa-ellipsis-v"></i></a>
    </li>
    <li *ngFor="let country of prop.country" class="nav-item" cdkDrag>
      <a class="nav-link">{{country}}</a>
    </li>
    <li *ngIf="showEmptyCountryList" class="nav-item default-cursor">
      <a class="nav-link active text-muted">Empty</a>
    </li>
  </ul>
  <div *ngIf="showMainContent" class="block-content">
    <div class="row">

      <!-- TYPE -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="propType">Type</label>
          <div class="input-group">
            <select class="form-control br-tp-0" name="propType" [(ngModel)]="prop.type">
              <option *ngFor="let ptype of inv_propertyTypeList" [value]="ptype.value">
                {{ ptype.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <!-- END TYPE -->

      <!-- DESCRIPTION -->
      <div class="col-md-8">
        <div class="form-group">
          <label for="propDesc">Description</label>
          <div class="input-group">
            <input type="text" class="form-control" name="propDesc" [(ngModel)]="prop.description">
          </div>
        </div>
      </div>
      <!-- END DESCRIPTION -->

      <!-- DATABASE -->
      <div *ngIf="findPropertyTypeCrossReference(prop.type).db" class="col-md-3">
        <div class="form-group">
          <label for="propValue2">
            {{ findPropertyTypeCrossReference(prop.type).db }}
            <i class="fa fa-info-circle ml-1 info" placement="top"
              *ngIf="findPropertyTypeCrossReference(prop.type).db_description"
              [ngbPopover]="findPropertyTypeCrossReference(prop.type).db_description"
              triggers="mouseenter:mouseleave"></i>
          </label>
          <select class="form-control br-tp-0" name="propValue2" [(ngModel)]="prop.database">
            <option *ngFor="let db of inv_propertyDatabaseList" [value]="db.value">
              {{ db.value }}
            </option>
          </select>
        </div>
      </div>
      <!-- END DATABASE -->

      <!-- VALUE 1 -->
      <div [ngClass]="'col-md-'+getValue1Width(prop.type)">
        <div class="form-group">
          <label for="propValue1">
            {{ findPropertyTypeCrossReference(prop.type).value1 }}
            <i class="fa fa-info-circle ml-1 info" placement="top"
              [ngbPopover]="findPropertyTypeCrossReference(prop.type).description1"
              triggers="mouseenter:mouseleave"></i>
          </label>
          <textarea class="form-control" name="propValue1" rows="4"
            placeholder="Textarea content..">{{prop.value1}}</textarea>
        </div>
      </div>
      <!-- END VALUE 1 -->

      <!-- VALUE 2 -->
      <div *ngIf="findPropertyTypeCrossReference(prop.type).value2" class="col-md-12">
        <div class="form-group">
          <label for="propValue2">
            {{ findPropertyTypeCrossReference(prop.type).value2 }}
            <i class="fa fa-info-circle ml-1 info" placement="top"
              *ngIf="findPropertyTypeCrossReference(prop.type).description2"
              [ngbPopover]="findPropertyTypeCrossReference(prop.type).description2"
              triggers="mouseenter:mouseleave"></i>
          </label>
          <div class="input-group">
            <div class="input-group-prepend" *ngIf="findPropertyTypeCrossReference(prop.type).icon_value2">
              <span class="input-group-text">
                <i [ngClass]="findPropertyTypeCrossReference(prop.type).icon_value2"></i>
              </span>
            </div>
            <input type="text" class="form-control" name="propValue2" [(ngModel)]="prop.value2">
          </div>
        </div>
      </div>
      <!-- END VALUE 2 -->

      <!-- SHOW / HIDE ADVANCED BUTTON -->
      <div class="col-md-12 text-right push">
        <button type="button" class="btn btn-sm btn-light mr-1" (click)="showAdvanced = !showAdvanced">
          <i class="si fa-fw mr-1" [ngClass]="showAdvanced ? 'si-arrow-down' : 'si-arrow-right'"></i>Advanced
        </button>
        <ng-content select="[slot=removeButton]"></ng-content>
      </div>
      <!-- END SHOW / HIDE ADVANCED BUTTON -->

      <!-- ADVANCED SECTION -->
      <div class="row col-md-12" *ngIf="showAdvanced && findPropertyTypeCrossReference(prop.type).fields">

        <!-- LENGTH -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('length')">
          <div class="form-group">
            <label for="propLength">
              Length
              <i class="fa fa-info-circle info" placement="top" ngbPopover="Maximum length of the returned result."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-arrows-alt-h"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propLength" [(ngModel)]="prop.length">
            </div>
          </div>
        </div>
        <!-- END LENGTH -->

        <!-- ROW LIMIT -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('rowLimit')">
          <div class="form-group">
            <label for="propRowLimit">
              Row Limit
              <i class="fa fa-info-circle info" placement="top"
                ngbPopover="Maximum number of the returned set of lines."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-list-ul"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propRowLimit" [(ngModel)]="prop.rowLimit">
            </div>
          </div>
        </div>
        <!-- END ROW LIMIT -->

        <!-- NATURE -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('nature')">
          <div class="form-group">
            <label for="propNature">
              Nature
              <ng-template #naturePopContent>
                STATIC: select always the same Data Library <br>
                RANDOM : select randomly a Data Library with the same name, country, sytem and env <br>
                RANDOM NEW : select randomly a Data Library value that hasn't been selected yet. <br>
                NOT IN USE : select a Data Library value that isn't used by another test case at the same time.
              </ng-template>
              <i class="fa fa-info-circle info" placement="top" [ngbPopover]="naturePopContent"
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-database"></i>
                </span>
              </div>
              <select class="form-control br-tp-0" name="propNature" [(ngModel)]="prop.nature">
                <option *ngFor="let nature of inv_propertyNatureList" [value]="nature.value">
                  {{ nature.value }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!-- END NATURE -->

        <!-- CACHE EXPIRE -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('cacheExpire')">
          <div class="form-group">
            <label for="propCacheExpire">
              Cache Expire
              <i class="fa fa-info-circle info" placement="top"
                ngbPopover="Duration (in seconds) allowing the variable be persitent."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-history"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propCacheExpire" [(ngModel)]="prop.cacheExpire">
            </div>
          </div>
        </div>
        <!-- END CACHE EXPIRE -->

        <!-- RETRY NB -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('retryNb')">
          <div class="form-group">
            <label for="propRetryNumber">
              Retry Number
              <i class="fa fa-info-circle info" placement="top"
                ngbPopover="Number of retry iteration."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-redo"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propRetryNumber" [(ngModel)]="prop.retryNb">
            </div>
          </div>
        </div>
        <!-- END RETRY NB -->

        <!-- RETRY PERIOD -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('retryPeriod')">
          <div class="form-group">
            <label for="propRetryPeriod">
              Retry Period
              <i class="fa fa-info-circle info" placement="top"
                ngbPopover="Duration when the request can be retried."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-redo"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propRetryPeriod" [(ngModel)]="prop.retryPeriod">
            </div>
          </div>
        </div>
        <!-- END RETRY PERIOD -->

        <!-- RANK -->
        <div class="col-md-4" *ngIf="findPropertyTypeCrossReference(prop.type).fields.includes('rank')">
          <div class="form-group">
            <label for="propCacheExpire">
              Rank
              <i class="fa fa-info-circle info" placement="top"
                ngbPopover="Authority of the property: affect the display."
                triggers="mouseenter:mouseleave"></i>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-trophy"></i>
                </span>
              </div>
              <input type="number" class="form-control" name="propRank" [(ngModel)]="prop.rank">
            </div>
          </div>
        </div>
        <!-- END RANK -->

      </div>
      <!-- END ADVANCED SECTION -->

    </div>
  </div>
</div>