<div class="block-header block-header-sm" style="border: 1px solid #e7eaf2;" (mouseenter)="showActions=true"
    (mouseleave)="showActions=false">
    <div class="row full-width">
        <div class="col-3">
            <div class="input-group">

                <!-- SHOW / HIDE BUTTON -->
                <button class="btn btn-sm btn-light no-background custom-sm"
                    (click)="propertyValuesDisplayed = !propertyValuesDisplayed">
                    <i class="fa" [ngClass]="propertyValuesDisplayed ? 'fa-chevron-down' : 'fa-chevron-right'"></i>
                </button>
                <!-- END SHOW / HIDE BUTTON -->

                <!-- NUMBER OF VALUES -->
                <div class="input-group-prepend custom-sm">
                    <span class="badge badge-primary custom-margin-sm  mr-2 mt-2 mb-2">
                        {{propertygroup.values.length}}
                    </span>
                </div>
                <!-- END NUMBER OF VALUES -->

                <!-- PROPERTY NAME -->
                <input type="text" class="form-control form-control-alt form-control-sm"
                    [value]="propertygroup.property" (keyup)="onPropertyNameChange($event)"
                    [ngClass]="propertyNameIsAlreadyUsed ? 'is-invalid' : ''">
                <!-- END PROPERTY NAME -->

                <!-- ERROR SIGN -->
                <button *ngIf="propertyNameIsAlreadyUsed" class="btn btn-sm btn-light no-background custom-sm red-color"
                    ngbPopover="The property name is already used" triggers="mouseenter:mouseleave">
                    <i class="fa fa-exclamation-triangle"></i>
                </button>
                <!-- END ERROR SIGN -->

                <!-- ERROR SIGN -->
                <button *ngIf="showActions" class="btn btn-sm btn-light no-background custom-sm" ngbPopover="Add Value"
                    triggers="mouseenter:mouseleave">
                    <i class="fa fa-plus"></i>
                </button>
                <!-- END ERROR SIGN -->

            </div>
        </div>

        <!-- COUNTRY LIST -->
        <div class="col-4 offset-5">
            <span *ngFor="let country of formatCountryList(testcase.info.countryList)" class="badge link-default mr-1"
                [ngClass]="isACountrySelected(country) ? 'badge-primary' : 'badge-secondary'">{{country}}</span>
        </div>
        <!-- END COUNTRY LIST -->
    </div>
</div>

<div *ngIf="propertyValuesDisplayed">

    <!-- PROPERTY VALUES LIST -->
    <app-propertyvalue *ngFor="let propertyvalue of propertygroup.values; let i = index" [propertyvalue]="propertyvalue"
        [testcase]="testcase" [propertyvalueIndex]="i" [propertygroup]="propertygroup">
    </app-propertyvalue>
    <!-- END PROPERTY VALUES LIST -->

</div>