.block-run{
  margin-top: 70px;
  border: 1px solid #dadeec;
  width:40%;
  position: absolute;
  background-color: #ffffff;
  z-index:10;
  right: 0;
  top:0;
  bottom: 0;
}
.block-content {
  padding-bottom: 1.25rem;
  padding-top: 0.25rem;
}

