.test{
  margin-top: 70px;
  border: 1px solid #dadeec;
  height: 100%;
  width:40%;
  position: absolute;
  background-color: #ffffff;
  z-index:10;
  right: 0;
  top:0;
}
.block-content {
  padding-bottom: 1.25rem;
}
