<div class="dd-handle" (click)="toggleChildren(label)">
    <i class="fa fa-folder text-warning mr-1"></i> <span class="badge badge-primary"
        [style.backgroundColor]="label.label.color"> {{label.label.value}}</span> <i *ngIf="label.children" class="si"
        [ngClass]="{'si-arrow-right': label.expand, 'si-arrow-down': !label.expand}"></i>
</div>
<div class="progress">

    <div 
        *ngFor="let status of statusList" 
        class="progress-bar" 
        role="progressbar"
        [style.width]="label.values[status.label]+'%'" 
        [style.backgroundColor]="status.color"
        [attr.aria-valuenow]="label.values[status.label]" 
        aria-valuemin="0" 
        aria-valuemax="100" 
        placement="top"
        [ngbPopover]="status.label" 
        triggers="mouseenter:mouseleave" 
        container="body">
    </div>
</div>
<ol class="dd-list" *ngIf="label.children && label.expand">
    <li class="dd-item" data-id="23" *ngFor="let childLabel of label.children">
        <app-label-progress [label]="childLabel"></app-label-progress>
    </li>
</ol>