<form *ngIf="testcaseHeaderForm" [formGroup]="testcaseHeaderForm" (ngSubmit)="onSubmit(testcaseHeaderForm.value)">
    <div class="block no-shadow">
        <div class="block-header block-header-default">

            <!-- SIDE CONTENT TITLE -->
            <h3 class="block-title" [ngSwitch]="mode">
                <span id="createTestCaseTitle" *ngSwitchCase="'CREATE'">Create Test Case</span>
                <span id="editTestCaseTitle" *ngSwitchCase="'EDIT'">Edit Test Case Header</span>
                <span id="duplicateTestCaseTitle" *ngSwitchCase="'DUPLICATE'">Duplicate Test Case</span>
            </h3>
            <!-- END SIDE CONTENT TITLE -->

            <!-- SAVE / CLOSE BUTTON -->
            <div class="block-options">
                <button type="submit" id="submitInteraction"
                    class="btn btn-sm btn-primary mr-1">{{saveButtonTitle}}</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="closeSideContent()">Close</button>
            </div>
            <!-- END SAVE / CLOSE BUTTON -->

        </div>

        <div class="block-content">
            <!-- TEST FOLDER & TESTCASE FOLDER -->
            <div class="row">

                <!-- TEST FOLDER SECTION -->
                <div id="sideContent_TestFolder" class="col-md-6">
                    <div class="form-group">
                        <label for="TestFolder">
                            Test Folder
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="A test is a transversal grouping of Test Cases." popoverTitle="Test Folder"
                                triggers="mouseenter:mouseleave"></i>
                        </label>
                        <ng-select name="TestFolder" class="custom-sm" [items]="testfolders" bindLabel="test"
                            bindValue="test" formControlName="test" placeholder="Select a Test" [addTag]="true"
                            (change)="refreshNewTestCase()">
                            <ng-template ng-label-tmp let-item="item">
                                {{item.test}} : {{item.description}}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                {{item.test}} : {{item.description}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <!-- END TEST FOLDER SECTION -->

                <!-- TEST CASE SECTION -->
                <div id="sideContent_TestCase" class="col-md-6">
                    <div class="form-group">
                        <label for="TestCase">
                            Test Case
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="A testcase is a unique identifier for your scenario along with the Test Folder"
                                popoverTitle="Test Case" triggers="mouseenter:mouseleave"></i>
                        </label>
                        <input type="text" class="form-control form-control-sm" name="TestCase" placeholder="Text Input"
                            formControlName="testCase">
                    </div>
                </div>
                <!-- END TEST CASE SECTION -->

            </div>

            <div class="block block-rounded block-bordered" *ngIf="testcaseheader">
                <div class="block-content p-0">

                    <!-- TABS LIST-->
                    <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled custom-sm" data-toggle="tabs" role="tablist">
                        <li *ngFor="let tab of tabs" class="nav-item">
                            <a class="nav-link" [ngClass]="selectedTab == tab ? 'active show' : ''"
                                (click)="selectedTab = tab">{{tab}}</a>
                        </li>
                    </ul>
                    <!-- END TABS LIST -->

                    <!-- TABS CONTENTS -->
                    <div class="block-content tab-content">

                        <!-- DEFINITION TAB -->
                        <div *ngIf="selectedTab == tabs[0]" class="tab-pane active show" id="definitionTab"
                            role="tabpanel">
                            <app-definition-tab [definition]="testcaseHeaderForm.get('definition')">
                            </app-definition-tab>
                        </div>
                        <!-- END TAB -->

                        <!-- SETTINGS TAB -->
                        <div *ngIf="selectedTab == tabs[1]" class="tab-pane active show" id="settingsTab"
                            role="tabpanel">
                            <app-execution-settings-tab [countries]="testcaseheader.countries"
                                [settings]="testcaseHeaderForm.get('settings')" [system]="testcaseheader.system">
                            </app-execution-settings-tab>
                        </div>
                        <!-- END TAB -->

                        <!-- LABELS TAB -->
                        <div *ngIf="selectedTab == tabs[2]" class="tab-pane active show" id="labelsTab" role="tabpanel">
                            <app-labels-tab [test]="test" [testcase]="testcase" [system]="testcaseheader.system"
                                [selectedlabels]="testcaseheader.labels">
                            </app-labels-tab>

                        </div>
                        <!-- END TAB -->

                        <!-- BUGS TAB -->
                        <div *ngIf="selectedTab == tabs[3]" class="tab-pane active show" id="bugsTab" role="tabpanel">
                            <app-bugs-report-tab [bugs]="testcaseheader.bugs"
                                [bugsReport]="testcaseHeaderForm.get('bugsReport')">
                            </app-bugs-report-tab>
                        </div>
                        <!-- END TAB -->

                        <!-- DEPENDENCY TAB -->
                        <div *ngIf="selectedTab == tabs[4]" class="tab-pane active show" id="dependencyTab"
                            role="tabpanel">
                            <app-dependencies-tab [dependencies]="testcaseheader.dependencies"
                                [testfolders]="testfolders">
                            </app-dependencies-tab>
                        </div>
                        <!-- END DEPENDENCY TAB -->

                        <!-- AUDIT TAB -->
                        <div *ngIf="selectedTab == tabs[5]" class="tab-pane active show" id="auditTab" role="tabpanel">

                            <app-audit-tab [audit]="testcaseHeaderForm.get('audit')" [testcaseheader]="testcaseheader">
                            </app-audit-tab>

                        </div>
                        <!-- END AUDIT TAB -->

                    </div>
                    <!-- END TABS CONTENTS -->

                </div>
            </div>
        </div>
    </div>
</form>