<form [formGroup]="testcaseHeaderForm" (ngSubmit)="onSubmit(testcaseHeaderForm.value)">
    <div class="block">
        <div class="block-header block-header-default">

            <!-- SIDE CONTENT TITLE -->
            <h3 class="block-title" [ngSwitch]="mode">
                <span *ngSwitchCase="'CREATE'">Create Test Case</span>
                <span *ngSwitchCase="'EDIT'">Edit Test Case Header</span>
                <span *ngSwitchCase="'DUPLICATE'">Duplicate Test Case</span>
            </h3>
            <!-- END SIDE CONTENT TITLE -->

            <!-- SAVE / CLOSE BUTTON -->
            <div class="block-options">
                <button type="button" class="btn btn-sm btn-primary mr-1" type="submit">{{saveButtonTitle}}</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="closeSideContent()">Close</button>
            </div>
            <!-- END SAVE / CLOSE BUTTON -->

        </div>
        <div class="block-content">
            <!-- TEST FOLDER & TESTCASE FOLDER -->
            <div class="row">

                <!-- TEST FOLDER SECTION -->
                <div id="sideContent_TestFolder" class="col-md-6">
                    <div class="form-group">
                        <label for="TestFolder">
                            Test Folder
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="A test is a transversal grouping of test case." popoverTitle="Test Folder"
                                triggers="mouseenter:mouseleave"></i>
                        </label>
                        <ng-select name="TestFolder" class="custom-sm" [items]="testsList" bindLabel="test"
                            bindValue="test" formControlName="test" placeholder="Select a Test">
                            <ng-template ng-label-tmp let-item="item">
                                {{item.test}} : {{item.description}}
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item">
                                {{item.test}} : {{item.description}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <!-- END TEST FOLDER SECTION -->

                <!-- TEST CASE SECTION -->
                <div id="sideContent_TestCase" class="col-md-6">
                    <div class="form-group">
                        <label for="TestCase">
                            Test Case
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="A testcase is a unique identifier for your scenario along with the Test Folder"
                                popoverTitle="Test Case" triggers="mouseenter:mouseleave"></i>
                        </label>
                        <input type="text" class="form-control form-control-sm" name="TestCase" placeholder="Text Input"
                            formControlName="testCase">
                    </div>
                </div>
                <!-- END TEST CASE SECTION -->

            </div>

            <!-- TABS -->
            <div class="block block-rounded block-bordered">
                <ngb-tabset class="nav nav-tabs nav-tabs-alt js-tabs-enabled custom-sm">

                    <!-- DEFINITION TAB -->
                    <ngb-tab title="Definition" class="nav-item">
                        <ng-template ngbTabContent>
                            <div class="block-content tab-content">
                                <div class="row">

                                    <!-- SHORT DESCRIPTION -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="ShortDescription">Short Description</label>
                                            <input type="text" class="form-control form-control-sm"
                                                id="sideContent_ShortDescription" name="ShortDescription"
                                                placeholder="Test Case Short Description" formControlName="shortDesc">
                                        </div>
                                    </div>
                                    <!-- END SHORT DESCRIPTION -->

                                    <!-- APPLICATION -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ShortDescription">Application</label>
                                            <ng-select name="Application" class="custom-sm" [items]="applicationsList"
                                                bindLabel="application" bindValue="application"
                                                formControlName="application" (change)="getFromSystem()"
                                                placeholder="You must define an application">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <!-- END APPLICATION -->

                                    <!-- STATUS -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Status">Status</label>
                                            <select class="form-control form-control-sm" formControlName="status">
                                                <option *ngFor="let status of statusList" [value]="status.value">
                                                    {{ status.value }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- END STATUS -->

                                    <!-- TYPE -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Type">Type</label>
                                            <select class="form-control form-control-sm" formControlName="group">
                                                <option *ngFor="let type of typesList" [value]="type.value">
                                                    {{ type.value }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- END TYPE -->

                                    <!-- PRIORITY -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Priority">Priority</label>
                                            <select class="form-control form-control-sm" formControlName="priority">
                                                <option *ngFor="let priority of priorityList" [value]="priority.value">
                                                    {{ priority.value }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- END PRIORITY -->

                                    <!-- FULL DESCRIPTION -->
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Detailed Description / Value Expected
                                                </span>
                                            </div>
                                            <textarea class="form-control"></textarea>
                                            <!--TODO-->
                                        </div>
                                    </div>
                                    <!-- END FULL DESCRIPTION -->

                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- END DEFINITION TAB -->

                    <ngb-tab title="Settings" class="nav-item">
                        <ng-template ngbTabContent>
                            <div class="block-content tab-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>

                <!-- OLD VERSION -->

                <!-- <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled" data-toggle="tabs" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': paneActive===1}"
                            (click)="paneActive = 1">Definition</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': paneActive===2}" (click)="paneActive = 2">Execution
                            Settings</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': paneActive===3}" (click)="paneActive = 3">Label</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link" [ngClass]="{'active': paneActive===4}" (click)="paneActive = 4">Bug
                            Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': paneActive===5}"
                            (click)="paneActive = 5">Dependency</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': paneActive===6}"
                            (click)="paneActive = 6">Tracability</a>
                    </li>
                </ul>


                <div class="block-content tab-content">

                    <div class="tab-pane" [ngClass]="{'active': paneActive===1}" role="tabpanel">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Test case short description</span>
                                    </div>
                                    <textarea class="form-control" formControlName="shortDesc"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Application</span>
                                    </div>
                                    <select class="form-control" formControlName="application"
                                        (change)="getFromSystem()">
                                        <option value=""></option>
                                        <option *ngFor="let application of applicationsList"
                                            [value]="application.application">
                                            {{ application.application }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Status</span>
                                    </div>
                                    <select class="form-control" formControlName="status">
                                        <option *ngFor="let status of statusList" [value]="status.value">
                                            {{ status.value }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Type</span>
                                    </div>
                                    <select class="form-control" formControlName="group">
                                        <option *ngFor="let type of typesList" [value]="type.value">{{ type.value }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Priority</span>
                                    </div>
                                    <select class="form-control" formControlName="priority">
                                        <option *ngFor="let priority of priorityList" [value]="priority.value">
                                            {{ priority.value }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Detailed Description / Value Expected </span>
                                    </div>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="tab-pane" [ngClass]="{'active': paneActive===2}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Global Activation</span>
                                    </div>
                                    <select class="form-control" formControlName="active">
                                        <option *ngFor="let boolean of booleanList" [value]="boolean.value">
                                            {{ boolean.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Active QA</span>
                                    </div>
                                    <select class="form-control" formControlName="activeQA">
                                        <option *ngFor="let boolean of booleanList" [value]="boolean.value">
                                            {{ boolean.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Active UAT</span>
                                    </div>
                                    <select class="form-control" formControlName="activeUAT">
                                        <option *ngFor="let boolean of booleanList" [value]="boolean.value">
                                            {{ boolean.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Active PROD</span>
                                    </div>
                                    <select class="form-control" formControlName="activeProd">
                                        <option *ngFor="let boolean of booleanList" [value]="boolean.value">
                                            {{ boolean.text }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="block block-rounded block-bordered">
                                    Countries
                                </div>
                            </div>

                            <div class="block block-rounded block-bordered">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">From Sprint</span>
                                            </div>
                                            <select class="form-control" formControlName="fromSprint">
                                                <option *ngFor="let sprint of sprintsList" [value]="sprint.versionName">
                                                    {{ sprint.versionName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">From Rev</span>
                                            </div>
                                            <select class="form-control" formControlName="fromRev">
                                                <option *ngFor="let rev of revsList" [value]="rev.versionName">
                                                    {{ rev.versionName }}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">To Sprint</span>
                                            </div>
                                            <select class="form-control" formControlName="toSprint">
                                                <option *ngFor="let sprint of sprintsList" [value]="sprint.versionName">
                                                    {{ sprint.versionName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">To Rev</span>
                                            </div>
                                            <select class="form-control" formControlName="toRev">
                                                <option *ngFor="let rev of revsList" [value]="rev.versionName">
                                                    {{ rev.versionName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Target Sprint</span>
                                            </div>
                                            <select class="form-control" formControlName="targetSprint">
                                                <option *ngFor="let sprint of sprintsList" [value]="sprint.versionName">
                                                    {{ sprint.versionName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Target Rev</span>
                                            </div>
                                            <select class="form-control" formControlName="targetRev">
                                                <option *ngFor="let rev of revsList" [value]="rev.versionName">
                                                    {{ rev.versionName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block block-rounded block-bordered">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Condition Operator</span>
                                            </div>
                                            <select class="form-control" formControlName="conditionOper">
                                                <option *ngFor="let condition of conditionsList"
                                                    [value]="condition.value">
                                                    {{ condition.value }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Condition Value 1</span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="conditionVal1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Condition Value 2</span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="conditionVal2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block block-rounded">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">User Agent</span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="userAgent">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Screen Size</span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="screenSize">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" [ngClass]="{'active': paneActive===3}" role="tabpanel">
                        <div class="block block-rounded block-bordered">
                            <ul class="nav nav-tabs nav-tabs-alt js-tabs-enabled" data-toggle="tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': labelTab===1}"
                                        (click)="labelTab = 1">Batteries</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': labelTab===2}"
                                        (click)="labelTab = 2">Requirements</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" [ngClass]="{'active': labelTab===3}"
                                        (click)="labelTab = 3">Stickers</a>
                                </li>
                            </ul>

                            <div class="block-content tab-content">
                                <div class="tab-pane" [ngClass]="{'active': labelTab===1}" role="tabpanel"
                                    *ngIf="labelList">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let label of labelList.batteries"
                                            [ngClass]="{'active' :label.state.selected}" (click)="toggleLabel(label)">
                                            <span class="badge badge-primary"
                                                [style.background-color]="label.label.color">{{ label.label.label }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" [ngClass]="{'active': labelTab===2}" role="tabpanel"
                                    *ngIf="labelList">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let label of labelList.requirements"
                                            [ngClass]="{'active' : label.state.selected}" (click)="toggleLabel(label)">
                                            <span class="badge badge-primary"
                                                [style.background-color]="label.label.color">{{ label.label.label }}</span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="tab-pane" [ngClass]="{'active': labelTab===3}" role="tabpanel"
                                    *ngIf="labelList">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let label of labelList.stickers"
                                            [ngClass]="{'active' : label.state.selected}" (click)="toggleLabel(label)">
                                            <span class="badge badge-primary"
                                                [style.background-color]="label.label.color">{{ label.label.label }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" [ngClass]="{'active': paneActive===4}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Bug ID</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="bugId">
                                </div>
                            </div>
                            <div class="col-md-8">Bug Link</div>
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Comment</span>
                                    </div>
                                    <textarea class="form-control" formControlName="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" [ngClass]="{'active': paneActive===5}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Select a Test</span>
                                    </div>
                                    <select class="form-control" (change)="onTestChange($event.target.value)">
                                        <option value="">---</option>
                                        <option *ngFor="let test of testsList" [value]="test.test">
                                            {{ test.test }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="testcaseList.length>0" class="col-md-6">
                                <select class="form-control" (change)="onTestCaseChange($event.target.value)">
                                    <option value="">---</option>
                                    <option *ngFor="let testcase of testcaseList; let index = index" [value]="index">
                                        {{ testcase.testCase }}
                                    </option>
                                </select>
                            </div>
                            <button type="button" *ngIf="dependencySelectedTestCase"
                                (click)="addToDependencyTable(dependencySelectedTestCase)"
                                class="btn btn-info col-md-12">Add
                                test case</button>
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Actions</th>
                                            <th>Test Cases</th>
                                            <th>Activate</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dependency of dependencyTestCaseList; let index = index">
                                            <td><button class="btn btn-danger" (click)="removeDependency(index)"><i
                                                        class="fa fa-trash"></i></button></td>
                                            <td>{{ dependency.test }} - {{ dependency.testcase }}</td>
                                            <td><input type="checkbox" name="activate" [(ngModel)]="dependency.active"
                                                    [ngModelOptions]="{standalone: true}"></td>
                                            <td><input type="text" name="description"
                                                    [(ngModel)]="dependency.description"
                                                    [ngModelOptions]="{standalone: true}"></td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="tab-pane" [ngClass]="{'active': paneActive===6}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Implementers</span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="implementer">
                                </div>
                            </div>
                            <div class="col-md-6 tracability-list-item">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item bg-secondary text-light">Version</li>
                                    <li class="list-group-item">{{ testCase.testCaseVersion }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item bg-secondary text-light">Creation Date</li>
                                    <li class="list-group-item">{{ testCase.dateCreated | date:'d MMMM y   HH:mm' }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item bg-secondary text-light">Created By</li>
                                    <li class="list-group-item">{{ testCase.usrCreated }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item bg-secondary text-light">Modification Date</li>
                                    <li class="list-group-item">{{ testCase.dateModif | date:'d MMMM y   HH:mm' }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item bg-secondary text-light">Modified by</li>
                                    <li class="list-group-item">{{ testCase.usrModif }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div> -->
            </div>

        </div>
    </div>
</form>