<div class="data-table">
    <ngx-datatable #dataTable class="material fullscreen fixed-header expandable" style="height: 68vh;" 
        [rows]="rows"
        [columns]="columns" 
        [columnMode]="'flex'" 
        [rowHeight]="50" 
        [headerHeight]="50" 
        [loadingIndicator]="isLoading"
        [selected]="(selected)? selected :  ''" 
        [selectionType]="(selection)? 'checkbox' : ''"
        [selectAllRowsOnPage]="false" 
        [scrollbarH]="false" 
        [scrollbarV]="true" 
        [externalSorting]="true"
        (select)='onSelect($event)' 
        [externalPaging]="true" 
        [count]="page.totalCount" 
        [offset]="page.number"
        (sort)="onSort($event)" 
        (page)="onPage($event)">


        <!--CheckBox Column-->
        <ngx-datatable-column *ngIf="selection" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true" [width]="80">
            
        </ngx-datatable-column>

        <!--Column from column array-->
        <ng-template ngFor let-column let-index="index" [ngForOf]="columns">
            <ngx-datatable-column *ngIf="column.active" [name]="column.displayName" [prop]="column.contentName"
                [flexGrow]="(column.flexGrow)? column.flexGrow : 150" [draggable]="true" [sortable]="column.sortable"
                [resizeable]="false">

                <!-- Header row -->
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper">
                        <span class="datatable-header-cell-label draggable"
                            (click)="sort(index)">{{ column.displayName }}</span>
                        <i *ngIf="column.searchable" class="fa fa-filter btn filter-btn"
                            [ngClass]="(column.dropActive)? 'btn-success' : 'btn-warning'"
                            (click)="addFilter(column)"></i>

                        <i *ngIf="column.like" class="fa fa-filter btn filter-btn"
                            [ngClass]="(column.fieldActive)? 'btn-success' : 'btn-warning'"
                            (click)="addFilterLike(column)"></i>
                    </span>
                </ng-template>

                <ng-template let-row='row' let-value="value" ngx-datatable-cell-template>

                    <span *ngIf="column.displayContentFunction" class="cell"
                        [style.maxWidth]="column.width">{{ column.displayContentFunction(row) }}</span>

                    <div *ngIf="column.type=='list'">
                        <a *ngFor="let item of value | keyvalue" [style.maxWidth]="column.width">
                            <b>{{item.value}} </b>
                        </a>
                    </div>


                    <div *ngIf="column.type=='label'">
                        <div *ngIf="row[column.contentName]" class="cell-label" [style.maxWidth]="column.width">

                            <span class="label" *ngFor="let item of row[column.contentName].slice(0,3)"
                                [style.background-color]="item.color">
                                {{ item?.name }}</span>
                            <div class="badge badge-info" *ngIf="row[column.contentName].length>3"
                                style="cursor: pointer;" placement="right" [ngbPopover]="labelPopoverTemplate"
                                triggers="mouseenter:mouseleave" container="body">More :
                                {{row[column.contentName].length-3}}</div>
                            <ng-template #labelPopoverTemplate>
                                <div class="label" *ngFor="let item of row[column.contentName].slice(3)"
                                    [style.background-color]="item.color">{{ item?.name }}</div>
                            </ng-template>
                        </div>
                    </div>

                    <div *ngIf="column.type==='boolean'">
                        <i class="fa fa-check" *ngIf="value==='Y'"></i>
                        <i class="fa fa-times" *ngIf="value==='N'"></i>
                    </div>

                    <div *ngIf="column.type==='script'">
                        <code>{{value}}</code>
                    </div>

                    <div *ngIf="!column.type || column.type==='none'" class="cell" [style.maxWidth]="column.width">
                        {{ value }}</div>

                    <div *ngIf="column.type==='longtext'" class="cell" [style.maxWidth]="column.width" placement="top"
                        [ngbPopover]="value" triggers="mouseenter:mouseleave" container="body">{{ value }}</div>

                </ng-template>
            </ngx-datatable-column>
        </ng-template>

        <!-- Action column -->
        <ngx-datatable-column *ngIf="name!='none'" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [width]="1">
            <ng-template let-row="row" let-index="index" ngx-datatable-cell-template>
                <div class="row-menu" *ngIf="name=='testcaselist'">
                    <div class="actions-section">
                        <button class="btn btn-outline-danger">
                            <i class="fa fa-trash-alt"></i>
                        </button>

                        <button class="btn btn-outline-success">
                            <i class="fa fa-play"></i>
                        </button>

                        <button class="btn btn-outline-info">
                            <i class="fa fa-pen"></i>
                        </button>

                        <button class="btn btn-outline-primary">
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div class="row-menu" *ngIf="name=='datalib'">
                        <div class="actions-section">
                            <button class="btn btn-outline-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
    
                            <button class="btn btn-outline-info">
                                <i class="fa fa-pen"></i>
                            </button>
    
                            <button class="btn btn-outline-primary">
                                <i class="fa fa-copy"></i>
                            </button>
                            <button class="btn btn-outline-primary" (click)="openTCList(row)">
                                <i class="far fa-list-alt"></i>
                            </button>

                        </div>
                    </div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>