<!-- 
This component contains :
- the mandatory columns (selection, actions)
- all the global templates for different types of fields (boolean, list, etc.)
The field type depends on the column.type attribute (refer to column model 4 more info) 
-->

<div class="data-table d-flex align-items-stretch">

    <ngx-datatable #dataTable class="material fixed-header expandable d-flex align-items-stretch" [rows]="rows || []"
        [columns]="columns" [columnMode]="'flex'" [rowHeight]="50" [headerHeight]="50" [footerHeight]="50"
        [selected]="(selected)? selected :  ''" [selectionType]="(selection)? 'checkbox' : ''"
        [selectAllRowsOnPage]="false" [scrollbarH]="false" [scrollbarV]="true" [externalSorting]="true"
        [externalPaging]="true" (select)='onSelect($event)' [count]="page.totalCount" [offset]="page.number"
        (activate)="onActivate($event)" (sort)="onSort($event)" (page)="onPage($event)">

        <!-- ROW SELECTION CHECKBOX -->
        <ngx-datatable-column *ngIf="selection" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true" [width]="80">
        </ngx-datatable-column>
        <!-- END ROW SELECTION CHECKBOX -->

        <!-- LOOP ON EVERY COLUMNS -->
        <ng-template ngFor let-column let-index="index" [ngForOf]="columns">
            <ngx-datatable-column *ngIf="column.active" [name]="column.displayName" [prop]="column.contentName"
                [flexGrow]="(column.flexGrow)? column.flexGrow : 150" [draggable]="true" [sortable]="column.sortable"
                [resizeable]="false">

                <!-- ROW HEADER -->
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper">
                        <span class="datatable-header-cell-label draggable"
                            (click)="sort(index)">{{ column.displayName }}</span>

                        <i *ngIf="column.filterable" class="fa fa-filter btn filter-btn"
                            [ngClass]="(column.filterDisplayed) ? 'filterActive' : ''" (click)="addFilter(column)"></i>
                    </span>
                </ng-template>
                <!-- END ROW HEADER -->

                <!-- -->
                <ng-template let-row='row' let-value="value" ngx-datatable-cell-template>

                    <!-- OPTIONNAL DISPLAY FUNCTION-->
                    <span *ngIf="column.displayContentFunction" class="cell"
                        [style.maxWidth]="column.width">{{ column.displayContentFunction(row) }}
                    </span>
                    <!-- END OPTIONNAL DISPLAY FUNCTION-->

                    <!-- LIST COLUMN TYPE -->
                    <div *ngIf="column.type=='list'">
                        <a *ngFor="let item of value | keyvalue" [style.maxWidth]="column.width">
                            <b>{{item.value}} </b>
                        </a>
                    </div>
                    <!-- END LIST COLUMN TYPE -->

                    <!-- LABEL COLUMN TYPE -->
                    <div *ngIf="column.type=='label'">
                        <div *ngIf="row[column.contentName]" class="cell-label" [style.maxWidth]="column.width">

                            <span class="label" *ngFor="let item of row[column.contentName].slice(0,3)"
                                [style.background-color]="item.color">
                                {{ item?.label }}
                            </span>

                            <div class="badge badge-info" *ngIf="row[column.contentName].length>3"
                                style="cursor: pointer;" placement="right" [ngbPopover]="labelPopoverTemplate"
                                triggers="mouseenter:mouseleave" container="body">More :
                                {{row[column.contentName].length-3}}
                            </div>

                            <ng-template #labelPopoverTemplate>
                                <div class="label" *ngFor="let item of row[column.contentName].slice(3)"
                                    [style.background-color]="item.color">{{ item?.label }}
                                </div>
                            </ng-template>

                        </div>
                    </div>
                    <!-- END LABEL COLUMN TYPE -->

                    <!-- COUNTRIES COLUMN TYPE -->
                    <div *ngIf="column.type=='countries'">
                        <div *ngIf="row[column.contentName]" class="cell-label" [style.maxWidth]="column.width">

                            <span class="label" *ngFor="let item of row[column.contentName].slice(0,3)">
                                {{ item?.value }}
                            </span>

                            <div class="badge badge-info" *ngIf="row[column.contentName].length > 3"
                                style="cursor: pointer;" placement="right" [ngbPopover]="labelPopoverTemplate"
                                triggers="mouseenter:mouseleave" container="body">
                                More : {{row[column.contentName].length-3}}
                            </div>

                            <ng-template #labelPopoverTemplate>
                                <div class="label" *ngFor="let item of row[column.contentName].slice(3)">
                                    {{ item?.value }}
                                </div>
                            </ng-template>

                        </div>
                    </div>
                    <!-- END COUNTRIES COLUMN TYPE -->

                    <!-- BOOLEAN COLUMN TYPE -->
                    <div *ngIf="column.type==='boolean'">
                        <i class="fa fa-check" *ngIf="value === true"></i>
                        <i class="fa fa-times" *ngIf="value === false"></i>
                    </div>
                    <!-- END BOOLEAN COLUMN TYPE -->

                    <!-- CERBERUS BOOLEAN COLUMN TYPE -->
                    <div *ngIf="column.type==='cerberusboolean'">
                        <i class="fa fa-check" *ngIf="value === 'Y'"></i>
                        <i class="fa fa-times" *ngIf="value === 'N'"></i>
                    </div>
                    <!-- END CERBERUS BOOLEAN COLUMN TYPE -->

                    <!-- SCRIPT COLUMN TYPE -->
                    <div *ngIf="column.type==='script'">
                        <code>{{value}}</code>
                    </div>
                    <!-- END SCRIPT COLUMN TYPE -->

                    <!-- NO COLUMN TYPE -->
                    <div *ngIf="!column.type || column.type==='none'" class="cell" [style.maxWidth]="column.width">
                        {{ value }}
                    </div>
                    <!-- END NO COLUMN TYPE -->

                    <!-- LONG TEXT COLUMN TYPE -->
                    <div *ngIf="column.type==='longtext'" class="cell" [style.maxWidth]="column.width" placement="top"
                        [ngbPopover]="value" triggers="mouseenter:mouseleave" container="body">
                        {{ value }}
                    </div>
                    <!-- LONG TEXT COLUMN TYPE -->

                </ng-template>
            </ngx-datatable-column>
        </ng-template>

        <!-- END OF ROW ACTION  -->
        <ngx-datatable-column *ngIf="endLineActionTemplate" [sortable]="false" [canAutoResize]="false"
            [draggable]="false" [resizeable]="false" [width]="1">

            <ng-template let-row="row" let-index="index" ngx-datatable-cell-template>
                <ng-template *ngIf="row.activate" [ngTemplateOutlet]="endLineActionTemplate"
                    [ngTemplateOutletContext]="{ row: row }">
                </ng-template>
            </ng-template>

        </ngx-datatable-column>
        <!-- END END OF ROW ACTION  -->

    </ngx-datatable>
</div>