<div *ngIf="testcase" class="btn-group btn-group-sm" role="group" aria-label="testCaseShortcuts">

    <!-- GO TO BUG REPORT BUTTON -->
    <button type="button" class="btn btn-primary" id="bug-button"
        (click)="bugsTestCaseHeader(testcase.test, testcase.testCase)" ngbPopover="Go to Bug Report" placement="bottom"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-bug"></i>
    </button>
    <!-- END GO TO BUG REPORT BUTTON -->

    <!-- GO TO LABELS BUTTON -->
    <button type="button" class="btn btn-primary" id="labels-button"
        (click)="tagTestCaseHeader(testcase.test,testcase.testCase)" ngbPopover="Go to Labels" placement="bottom"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-tag"></i>
    </button>
    <!-- END GO TO LABELS BUTTON -->

    <!-- GO TO SETTINGS BUTTON -->
    <button type="button" class="btn btn-primary" id="settings-button"
        (click)="settingTestCaseHeader(testcase.test,testcase.testCase)" ngbPopover="Go to Settings" placement="bottom"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-cog"></i>
    </button>
    <!-- END GO TO SETTINGS BUTTON -->

    <!-- SAVE SCRIPT BUTTON -->
    <button type="button" class="btn btn-primary" id="saveButton" (click)="saveScript()" ngbPopover="Save the script"
        placement="bottom" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-save"></i>
    </button>
    <!-- SAVE SCRIPT BUTTON -->

    <!-- GO TO DUPLICATE REPORT BUTTON -->
    <button type="button" class="btn btn-primary" id="duplicate-button"
        (click)="duplicateTestCaseHeader(testcase.test, testcase.testCase)" ngbPopover="Duplicate Test Case"
        placement="bottom" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-copy"></i>
    </button>
    <!-- GO TO DUPLICATE REPORT BUTTON -->

    <!-- GO TO DELETE REPORT BUTTON -->
    <button type="button" class="btn btn-primary" id="delete-button"
        (click)="deleteTestCase(testcase.test, testcase.testCase)" ngbPopover="Delete the Test Case" placement="left"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-trash"></i>
    </button>
    <!-- GO TO DELETE REPORT BUTTON -->

    <button type="button" class="btn btn-secondary" (click)="debug()">
        dbg
    </button>

</div>