<!-- TODO -->
<button class="btn btn-primary">+ Property</button>



<ngx-datatable 
    #propertyTable 
    class="material expandable fullscreen" 
    [rowHeight]="50" 
    [headerHeight]="50"
    [rows]="propertiesList" 
    [columnMode]="'force'" 
    (activate)="onActivate($event)">


    <ngx-datatable-column 
        [resizeable]="false" 
        [sortable]="false" 
        name="Name" 
        prop="property">

        <ng-template 
            let-rowIndex="rowIndex" 
            let-row="row" 
            let-value="value" 
            let-expanded="expanded"
            ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column 
        [resizeable]="false" 
        [sortable]="false" 
        name="Type" 
        prop="type">
        <ng-template 
            let-rowIndex="rowIndex" 
            let-row="row" 
            let-value="value" 
            let-expanded="expanded"
            ngx-datatable-cell-template>
            <span>{{value}}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column 
        [resizeable]="false" 
        [sortable]="false" 
        name="Value" 
        prop="value1">
        <ng-template 
            let-rowIndex="rowIndex" 
            let-row="row" 
            let-value="value" 
            let-expanded="expanded"
            ngx-datatable-cell-template>
            <span title="Double click to edit" (dblclick)="editing[rowIndex] = true"
                *ngIf="!editing[rowIndex]">{{value}}</span>
            <input class="inline-text-edit" autofocus (blur)="updateValue(rowIndex)" *ngIf="editing[rowIndex]"
                type="text" [value]="value" />
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column 
        [resizeable]="false" 
        [sortable]="false" 
        name="Country">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            {{row.country.join(' ')}}</ng-template>
    </ngx-datatable-column>


    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
        <ng-template let-property="row" let-rowIndex="rowIndex" let-expanded="expanded"
            ngx-datatable-row-detail-template>
            <ng-container *ngTemplateOutlet="templatePropertyInfo; context: {property:property, rowIndex:rowIndex}">
            </ng-container>

        </ng-template>
    </ngx-datatable-row-detail>


</ngx-datatable>

<!-- ? The version with group by name and row detail (currently incompatible) 
    <ngx-datatable
    #propertyTable
    [rows]="propertiesList"
    [groupExpansionDefault]="true"
    [headerHeight]="50"
    [footerHeight]="50"
    [scrollbarH]="false"
    [groupRowsBy]="'property'"
    [columnMode]="'force'"
    class="material expandable fullscreen" 
    [rowHeight]="50" 
    (activate)="onActivate($event)">

    <ngx-datatable-group-header
          [rowHeight]="50"
          #myGroupHeader
          (toggle)="onDetailToggle($event)"
        >
          <ng-template
            let-group="group"
            let-expanded="expanded"
            ngx-datatable-group-header-template
          >
            <div style="padding-left:5px;">
              <a
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Group"
                (click)="toggleExpandGroup(group)"
              >
                <b>Name: {{ group.value[0].property }}</b>
              </a>
            </div>
          </ng-template>
        </ngx-datatable-group-header>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Name" prop="property">
            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-expanded="expanded"
                ngx-datatable-cell-template><span (click)="onActivate(row)">{{value}}</span></ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Type" prop="type">
            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-expanded="expanded"
                ngx-datatable-cell-template><span>{{value}}</span></ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Value" prop="value1">
            <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-expanded="expanded"
                ngx-datatable-cell-template>
                <span title="Double click to edit" (dblclick)="editing[rowIndex] = true"
                    *ngIf="!editing[rowIndex]">{{value}}</span>
                <input class="inline-text-edit" autofocus (blur)="updateValue(rowIndex)" *ngIf="editing[rowIndex]"
                    type="text" [value]="value" />
            </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column [resizeable]="false" [sortable]="false" name="Country">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{row.country.join(' ')}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
            <ng-template let-property="row" let-rowIndex="rowIndex" let-expanded="expanded"
                ngx-datatable-row-detail-template>
                <ng-container *ngTemplateOutlet="templatePropertyInfo; context: {property:property, rowIndex:rowIndex}">
                </ng-container>
    
            </ng-template>
        </ngx-datatable-row-detail>

</ngx-datatable> -->

<!-- START PROPERTY TEMPLATE -->
<ng-template #templatePropertyInfo let-property="property" let-rowIndex="rowIndex">
    <div class="block block-rounded block-bordered block-rounded">
        <div class="block-header block-header-default">
            <form [formGroup]="propertyForms[rowIndex]">
                <div class="row">
                    <!-- START LEFT SIDE -->
                    <div class="col-md-4">
                        <!-- START TYPE INPUT -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Type</span>
                            </div>
                            <select class="custom-select" formControlName="type">
                                <option *ngFor="let type of propertyType">{{type.value}}</option>
                            </select>
                        </div>
                        <!-- END TYPE INPUT -->
                        <!-- START DATATABLE INPUT -->
                        <div class="input-group mb-3"
                            *ngIf="propertyForms[rowIndex].controls.type.value==='getFromSql'">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DataBase</span>
                            </div>
                            <select class="custom-select" formControlName="database">
                                <option *ngFor="let database of propertyDatabase">{{database.value}}</option>
                            </select>
                        </div>
                        <!-- END DATATABLE INPUT -->
                    </div>
                    <!-- END LEFT SIDE -->
                    <div class="col-md-8">
                        <div class="row">
                            <!-- START COUNTRY LIST CONTAINER -->
                            <div class="col-md-6" style="margin-bottom: 10px;">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item input-group-text">CountryList</li>
                                    <li class="list-group-item country-list">
                                        <div *ngFor="let country of property.selectableCountries"
                                            class="custom-control custom-checkbox custom-control-primary mb-1"
                                            (click)="toggleChk(property, country)">
                                            <input type="checkbox" class="custom-control-input"
                                                [checked]="property.country.includes(country)">
                                            <label class="custom-control-label">{{country}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- END COUNTRY LIST CONTAINER -->
                            <!-- START DESCRIPTION INPUT -->
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <input type="text" class="form-control" [placeholder]="property.description"
                                        formControlName="description">
                                </div>
                            </div>
                            <!-- END DESCRIPTION INPUT -->
                        </div>
                        <!-- START VALUE INPUT -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Value</span>
                            </div>
                            <textarea type="text" class="form-control" [placeholder]="property.value1"
                                formControlName="value"></textarea>
                        </div>
                        <!-- END VALUE INPUT -->
                        <div class="row">
                            <!-- START LENGTH INPUT -->
                            <div class="col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Length</span>
                                    </div>
                                    <input type="text" class="form-control" [placeholder]="property.length"
                                        formControlName="length">
                                </div>
                            </div>
                            <!-- END LENGTH INPUT -->
                            <!-- START NATURE INPUT -->
                            <div class="col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nature</span>
                                    </div>
                                    <select class="custom-select" formControlName="nature">
                                        <option *ngFor="let nature of propertyNature" [value]="nature.value">
                                            {{nature.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- END NATURE INPUT -->
                            <!-- START CACHE DURATION INPUT -->
                            <div class="col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Cache Duration</span>
                                    </div>
                                    <input type="text" class="form-control" [placeholder]="property.cacheExpire"
                                        formControlName="cacheExpire">
                                </div>
                            </div>
                            <!-- END CACHE DURATION INPUT -->
                            <!-- START RANK INPUT -->
                            <div class="col-md-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rank</span>
                                    </div>
                                    <input type="text" class="form-control" [placeholder]="property.rank"
                                        formControlName="rank">
                                </div>
                            </div>
                            <!-- END RANK INPUT -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<!-- END PROPERTY TEMPLATE -->