.property-collapse {
    margin-left: 20px;
}
.activate-row {
    color: #0077ff;
}
.material {
    margin: 20px;
}
.inline-text-edit {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #0077ff;
}
.custom-checkbox {
    display: inline-block;
    margin: 0 10px;
}
.country-list {
    max-width: 70%;
    white-space: normal;
    overflow: hidden;
}