.property-collapse {
    margin-left: 20px;
}
.activate-row {
    color: #0077ff;
}
.material {
    margin: 20px;
}
.inline-text-edit {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #0077ff;
}