.alert-success {
    background-color: #e6f0db;
    color: #445e27;
  }
  
  .alert-info {
    background-color: #d8e9f9;
    color: #1f4b74;
  }
  
  .alert-warning {
    background-color: #ffefd1;
    color: #855c0d;
  }
  
  .alert-danger {
    background-color: #f9dcd1;
    color: #74290e;
  }