.custom-control-label { padding: 0.35rem; }
.block-options { padding-left: 0.5rem !important; }
.info_block_options { color: #495057; }
.full-width { width: 100%; }
.toDelete { background-color: #f2dede !important; }
