<div class="block block-rounded block-bordered mb-2">
  <div class="block-header block-header-default" role="tab" [id]="'step'+step.sort" [ngClass]="step.toDelete ? 'toDelete' : '' ">
    <div class="input-group" (click)="focusOnStep()">
      <div class="input-group-prepend" (mousedown)="showActionList = false">
        <!-- waiting for angular dev : https://github.com/angular/material2/issues/13784 -->
        <!-- current workaround : move cdkDragHandle out of child component -->
        <ng-content select="[slot=drag-step]"></ng-content>
      </div>
      <div class="input-group-prepend">
        <span class="input-group-text"> {{step.sort}} </span>
      </div>
      <div class="input-group-prepend">
        <a class="input-group-text" data-toggle="collapse" data-parent="#stepList" [href]="'#step'+step.sort+'toggle'"
          aria-expanded="false" [attr.aria-controls]="'step'+step.sort+'toggle'" (click)="showActionList = !showActionList">
          <i class="si" [ngClass]="showActionList ? 'si-arrow-down' : 'si-arrow-right'"></i>
        </a>
      </div>
      <input type="text" [(ngModel)]="step.description" class="form-control" [id]="'step'+step.sort+'description'"
        [name]="'step'+step.sort+'description'" placeholder="Step Description" [readonly]="stepIsReadOnly">
    </div>
    <div class="block-options">
      <button *ngIf="step.loop != 'onceIfConditionTrue' && step.loop != 'onceIfConditionFalse'" type="button" class="btn-block-option info_block_options"
        ngbPopover="This step execution is looped" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-redo"></i>
      </button>
      <button *ngIf="step.conditionOper != 'always'" type="button" class="btn-block-option info_block_options"
        [ngbPopover]="step.conditionOper == 'never' ? 'This step is disabled' : 'This step execution is conditioned'"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw" [ngClass]="step.conditionOper == 'never' ? 'fa-times' : 'fa-question' "></i>
      </button>
      <button *ngIf="step.forceExe == 'Y'" type="button" class="btn-block-option info_block_options" ngbPopover="This step execution is forced"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa fa-arrow-down"></i>
      </button>
      <button *ngIf="libraryState() == 'locked'" type="button" class="btn-block-option info_block_options" ngbPopover="This step is imported from Library"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-lock"></i>
      </button>
      <button *ngIf="libraryState() == 'reference'" type="button" class="btn-block-option info_block_options"
        ngbPopover="This step is a library step" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-book"></i>
      </button>
      <button *ngIf="libraryState() == 'clear'" type="button" class="btn-block-option" ngbPopover="Save this step in Library"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-book"></i>
      </button>
      <button type="button" class="btn-block-option" (click)="step.toDelete = !step.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <!-- STEP CONTENT -->
  <div *ngIf="showActionList" [id]="'step'+step.sort+'toggle'" class="collapse" role="tabpanel" [attr.aria-labelledby]="'step'+step.sort">
    <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm text-right">
      <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="showControls = false">
        <i class="si fa-fw si-arrow-right mr-1"></i> Collapse All
      </button>
      <button type="button" class="btn btn-sm btn-secondary mr-1" (click)="showControls = true">
        <i class="si fa-fw si-arrow-down mr-1"></i> Expand All
      </button>
    </div>
    <div>
      <div *ngIf="step.actionList.length > 0" cdkDropList [cdkDropListData]="step.actionList" (cdkDropListDropped)="dropAction($event)" class="actionList">
        <div *ngFor="let action of step.actionList" class="actionDrag" cdkDrag cdkDragLockAxis="y">
          <app-action [action]="action" [readonly]="stepIsReadOnly" [showContent]="showControls">
            <button slot="drag-action" type="button" [id]="'action' + action.sort +'dragAction'" class="btn-block-option"
              cdkDragHandle>
              <i class="fa fa-arrows-alt-v"></i>
            </button>
          </app-action>
        </div>
      </div>
    </div>
    <div *ngIf="step.actionList.length == 0" class="push mt-2">
      <div class="col-md-12 text-center">
        <p>The step is empty <i class="far fa-frown-open"></i></p>
      </div>
    </div>
  </div>
</div>