<!-- Page Container -->
<div id="page-container"
  class="sidebar-o sidebar-mini enable-page-overlay side-scroll page-header-fixed page-header-dark main-content-narrow" [ngClass]="(nightMode)? 'sidebar-dark':''">

  <!-- MENU SIDE BAR -->
  <app-sidebar [nightMode]="nightMode" (nightModeOutput)="toggleNightMode()"></app-sidebar>
  <!-- END MENU SIDE BAR -->

  <!-- HEADER TOP BAR -->
  <app-headerbar></app-headerbar>
  <!-- END HEADER TOP BAR -->

  <app-sideblock></app-sideblock>

  <!-- Main Container -->
  <main id="main-container">
    <router-outlet></router-outlet>
  </main>

  <!-- FOOTER -->
  <!-- <app-footer></app-footer> -->
  <!-- END FOOTER -->

</div>
<!-- END Page Container -->