<div class="block block-bordered block-rounded">
  <div class="block-header block-header-default">
    <h3 class="block-title">Tag <small>detail</small></h3>
  </div>
  <div class="block-content">
    <!-- START Main part-->
    <div class="row">
      <!-- START Start group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              Start
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="StartTime">
            <i class="fa fa-calendar-alt mr-1"></i> {{ tagDetail.start | date:'d MMMM yyyy   H:mm' }} </span>
        </div>
      </div>
      <!-- END Start group -->

      <!-- START End group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              End
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="StartTime">
            <i class="fa fa-calendar-alt mr-1"></i> {{ tagDetail.end | date:'d MMMM yyyy   H:mm' }} </span>
        </div>
      </div>
      <!-- END End group -->

      <!-- START Duration group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              Duration
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="StartTime">
            <i class="fa fa-stopwatch mr-1"></i> {{ tagDetail.duration }} min.</span>
        </div>
      </div>
      <!-- END Duration group -->

      <!-- START CI Result group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              CI Result
            </span>
          </div>
          <span type="text" style="color: green;" class="form-control form-control-alt text-center" id="CIResult">
            <i class="fa fa-check mr-1"></i> {{ tagDetail.ciResult }} </span>
        </div>
      </div>
      <!-- END CI Result group -->
    </div>
    <!-- END Main part-->
    

    <!-- START Advance part-->
    <div *ngIf="collapse" class="row">
      <!-- START Launched by group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              Launched by
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="StartTime">
            <i class="fa fa-user mr-1"></i> {{ tagDetail.usrCreated }} </span>
        </div>
      </div>
      <!-- END Launched by group -->

      <!-- START Campaign group -->
      <div class="form-group col-md-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              Campaign
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="LatestExecution">
            {{ tagDetail.campaign }} </span>
        </div>
      </div>
      <!-- END Campaign group -->

      <!-- START Latest group -->
      <div class="form-group col-md-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text input-group-text-alt">
              Latest
            </span>
          </div>
          <span type="text" class="form-control form-control-alt text-center" id="LatestExecution">
            <i class="fa fa-calendar-alt mr-1"></i> {{ tagDetail.lastExecution | date:'d MMMM yyyy   H:mm' }} </span>
        </div>
      </div>
      <!-- END Latest group -->

    </div>
    <!-- END Advance part-->

    <button class="col-md-12 btn btn-info" (click)="collapse = !collapse"><span
        *ngIf="collapse; else closeAdvance">Close Advance</span></button>
    <ng-template #closeAdvance>Advance</ng-template>

  </div>
</div>