<div *ngIf="propertyGroups" class="push">

    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center push">

        <!-- TITLE -->
        <div class="form-check form-check-inline">
            <label class="d-block">
                <i class="fa fa-fw mr-1 ml-1" [ngClass]="inherited ? 'fa-lock' : 'fa-lock-open'"></i>
                {{ getTitle() }}
            </label>
        </div>
        <!-- END TITLE -->

        <!-- ADD PROPERTY BUTTON -->
        <div class="form-check form-check-inline">
            <button *ngIf="inherited == false" type="button" class="btn btn-sm btn-primary"
                (click)="addAPropertyGroup()">
                <i class="fa fa-fw fa-plus mr-1"></i> Property
            </button>
        </div>
        <!-- END ADD PROPERTY BUTTON -->
    </div>

    <div *ngIf="propertyGroups.length !== 0">

        <div class="block block-bordered mb-0">

            <!-- TABLE HEADER -->
            <div class="block-header block-header-default pt-2 pb-2" style="background-color:#e7eaf2;">
                <div class="row full-width">
                    <div class="col-3">
                        <h3 class="block-title" style="color: #495057; font-weight: 600; font-size: 1rem;">property name
                        </h3>
                    </div>
                    <div class="col-2">
                        <h3 class="block-title" style="color: #495057; font-weight: 600; font-size: 1rem;">type</h3>
                    </div>
                    <div class="col-3">
                        <h3 class="block-title" style="color: #495057; font-weight: 600; font-size: 1rem;">value</h3>
                    </div>
                    <div class="col-4">
                        <h3 class="block-title" style="color: #495057; font-weight: 600; font-size: 1rem;">countries
                        </h3>
                    </div>
                </div>
            </div>
            <!-- END TABLE HEADER -->

        </div>

        <!-- LIST OF PROPERTY GROUP -->
        <app-propertygroup *ngFor="let propertygroup of propertyGroups" [propertygroup]="propertygroup"
            [testcase]="testcase" [propertyGroups]="propertyGroups" [inherited]="inherited">
        </app-propertygroup>
        <!-- END LIST OF PROPERTY GROUP -->

    </div>

    <div *ngIf="propertyGroups.length === 0">
        <p class="font-w600">
            No property defined
            <i class="far fa-frown"></i>
        </p>
    </div>

</div>