<div [id]="DragAndAdropAreaId" class="controlList" cdkDropList [cdkDropListData]="action.controls"
  [cdkDropListConnectedTo]="DragAndDropControlIDList" (cdkDropListDropped)="dropControl($event)"
  (cdkDropListEntered)="controlEntered()" (cdkDropListExited)="controlExited()">

  <div class="block block-bordered action mb-0" *ngIf="action" [id]="'step'+parentStepIndex+'action'+action.sort">

    <!-- HEADER -->
    <div class="block-header custom-sm" (mouseenter)="showActionAddButtons = true"
      (mouseleave)="showActionAddButtons = false"
      [ngClass]="[action.toDelete ? 'toDelete' : '',  isFocused ? 'focused' : '']">

      <div class="input-group cursor-pointer" (click)="focusOnAction()">

        <div name="dragControl" class="input-group-prepend drag-action-area" (mousedown)="showControlList = false">
          <!-- waiting for angular dev : https://github.com/angular/material2/issues/13784 -->
          <!-- current workaround : move cdkDragHandle out of child component -->
          <ng-content select="[slot=drag-action]"></ng-content>
        </div>

        <!-- HIDE SHOW CONTROLS LIST -->
        <button type="button" name="showControlList" class="btn-block-option"
          (click)="showControlList = !showControlList" [disabled]="!action.controls.length > 0">
          <i class="fa fa-fw" [ngClass]="showControlList ? 'fa-angle-down' : 'fa-angle-right'"></i>
        </button>
        <!-- END HIDE SHOW CONTROLS LIST -->

        <!-- ACTION INDEX -->
        <div class="input-group-prepend">
          <span name="actionIndex" class="input-group-text custom"> {{action.sort}} </span>
        </div>
        <!-- END ACTION INDEX -->

        <!-- ACTION ICON -->
        <div class="input-group-prepend" *ngIf="findActionCrossReference(action.action).icon"
          [ngbPopover]="action.action" triggers="mouseenter:mouseleave">
          <span class="input-group-text custom custom-transparent">
            <i [ngClass]="findActionCrossReference(action.action).icon"></i>
          </span>
        </div>
        <!-- END ACTION ICON -->

        <!-- ACTION DESCRIPTION -->
        <h3 [id]="'step'+parentStepIndex+'action'+action.sort+'description'"
          class="input-group-text custom-transparent">
          {{action.description}}
        </h3>
        <!-- END ACTION DESCRIPTION -->

      </div>

      <!-- ADD ACTION OR CONTROLS BUTTONS -->
      <div *ngIf="showActionAddButtons && !readonly" class="block-options">

        <button type="button" name="addActionFromAction" class="btn btn-sm btn-primary mr-1"
          (click)="addAction(action.sort)"> A<i class="fa fa-fw fa-plus"></i>
        </button>

        <button type="button" name="addControlFromAction" class="btn btn-sm btn-success mr-1"
          (click)="addControl(action.controls.length+1)"> C<i class="fa fa-fw fa-plus"></i>
        </button>

      </div>
      <!-- END ADD ACTION OR CONTROLS BUTTONS -->

      <!-- ACTIONS & ICONS -->
      <div class="block-options">

        <!-- CONDITION ICON -->
        <button type="button" name="conditionOper" *ngIf="action.conditionOper != 'always'"
          class="btn-block-option info_block_options"
          [ngbPopover]="action.conditionOper == 'never' ? 'This action is disabled' : 'This action execution is conditioned'"
          triggers="mouseenter:mouseleave">
          <i class="fa fa-fw" [ngClass]="action.conditionOper == 'never' ? 'fa-times' : 'fa-question' "></i>
        </button>
        <!-- END CONDITION ICON -->

        <!-- FORCE ICON -->
        <button type="button" name="forceExeStatus" *ngIf="action.forceExeStatus == 'PE'"
          class="btn-block-option info_block_options" ngbPopover="This action execution is forced"
          triggers="mouseenter:mouseleave">
          <i class="fa fa-fw fa fa-arrow-down"></i>
        </button>
        <!-- END FORCE ICON -->

        <!-- DELETE ACTION -->
        <button *ngIf="!readonly" type="button" name="delete" class="btn-block-option"
          (click)="action.toDelete = !action.toDelete">
          <i class="far fa-fw fa-trash-alt"></i>
        </button>
        <!-- DELETE ACTION -->

      </div>
      <!-- END ACTIONS & ICONS -->
    </div>
    <!-- END HEADER -->

  </div>
  <!-- END HEADER -->

  <!-- CONTROL LIST -->
  <div *ngIf="showControlList">
    <div *ngFor="let control of action.controls" class="controlDrag" cdkDrag cdkDragLockAxis="y">
      <app-control [control]="control" [readonly]="readonly" [parentStepIndex]="parentStepIndex"
        [parentActionIndex]="action.sort" (controlAdded)="addControl($event)"
        (actionAddedFromControl)="addAction($event)">

        <!-- CONTROL DRAG CONTROL -->
        <button *ngIf="!readonly" type="button" name="dragControl" class="btn-block-option control-color"
          slot="drag-control" cdkDragHandle>
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <!-- END CONTROL DRAG CONTROL -->

      </app-control>
    </div>
  </div>
  <!-- END CONTROL LIST -->

</div>