
  <div class="block block-bordered block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">Report <small>by label</small></h3>      
      <button type="button" class="btn-block-option" (click)="expand = !expand">
          <i class="si" [ngClass]="{'si-arrow-down': !expand, 'si-arrow-up': expand}"></i>
        </button>
    </div>
    <div class="block-content" style="width: 100%;" *ngIf="expand">
      <div class="block block-rounded block-bordered">
        <div class="block-content block-content-full">
          <div class="js-nestable-connected-treeview dd" style="width: 100%;">
            <ol class="dd-list" style="width: 100%;">
              <li class="dd-item" data-id="21" *ngFor="let label of labelTree">
                
                <app-label-progress [label]="label"></app-label-progress>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
