<div class="form-group">
    <div class="input-group" [ngSwitch]="fieldType">

        <!-- INVARIANTS SELECT -->
        <ng-select *ngSwitchCase="MassActionType.Invariants" [attr.name]="'new'+fieldName" class="custom-sm"
            [items]="itemsList" bindLabel="value" bindValue="value" [placeholder]="'Select the new '+fieldName"
            [clearable]="false" [(ngModel)]="selectedItem">
            <ng-template ng-label-tmp let-item="item">
                {{item.value}} : {{item.description}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                {{item.value}}
            </ng-template>
        </ng-select>
        <!-- END INVARIANTS SELECT -->

        <!-- APPLICATIONS SELECT -->
        <ng-select *ngSwitchCase="MassActionType.Applications" [attr.name]="'new'+fieldName" class="custom-sm"
            [items]="itemsList" bindLabel="application" bindValue="application"
            [placeholder]="'Select the new '+fieldName" [clearable]="false" [(ngModel)]="selectedItem">
            <ng-template ng-label-tmp let-item="item">
                {{item.application}} : {{item.description}}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                {{item.application}}
            </ng-template>
        </ng-select>
        <!-- END APPLICATIONS SELECT -->

        <!-- TEXT INPUT -->
        <input *ngSwitchCase="MassActionType.Text" type="text" class="form-control form-control-sm"
            [id]="'new'+fieldName" [name]="'new'+fieldName" [placeholder]="'Type the new '+fieldName"
            [(ngModel)]="selectedItem">
        <!-- END TEXT INPUT -->

        <!-- UPDATE BUTTON -->
        <div class="input-group-append">
            <button type="button" class="btn btn-sm btn-alt-dark" (click)="massUpdate()"
                [disabled]="selectedItem ? '' : 'true'">update</button>
        </div>
        <!-- END UPDATE BUTTON -->

    </div>
</div>