<!-- STEP LIST -->
<div *ngIf="testcase.steps.length != 0" id="steps" role="tablist" aria-multiselectable="true" class="stepList"
  cdkDropList [cdkDropListData]="testcase.steps" (cdkDropListDropped)="dropStep($event)">
  <div *ngFor="let step of testcase.steps" class="stepDrag" cdkDrag cdkDragLockAxis="y">
    <app-step [step]="step" [testcase]="testcase">

      <!-- STEP DRAG CONTROL -->
      <button slot="drag-step" type="button" id="step{{ index | trueindex }}drag"
        class="btn-block-option ml-1 drag-cursor btn-drag-step step-color" cdkDragHandle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <!-- END STEP DRAG CONTROL -->

    </app-step>
  </div>
</div>
<!-- END STEP LIST -->

<div *ngIf="testcase.steps.length == 0" class="push">
  <p>The test case is empty <i class="far fa-frown-open"></i></p>
</div>

<!-- ADD STEP BUTTONS -->
<div class="push">
  <div>
    <button type="button" class="btn btn-primary btn-sm mr-3" (click)="addAStep()">
      <i class="fa fa-fw fa-plus mr-1"></i>New Step
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="openLibraryStepsModal()">
      <i class="fa fa-fw fa-plus mr-1"></i>Used Step
    </button>
  </div>
</div>
<!-- END ADD STEP BUTTONS -->