<ng-select class="custom"
           [items]="dataList"
           [selectableGroup]="true"
           [multiple]="column.param.multiple"
           [closeOnSelect]="false"
           [bindValue]="id"
           placeholder="{{column.param.placeholder}}"
           [(ngModel)]='model'
           (open)="updateModel()"
           (add)="onAdd($event)"
           (remove)="remove($event)"
           (change)="onChange($event)"
           [clearable]="true"
           (close)="applyFilter()"
           (search)="onSearch($event)"
           (keyup.enter)="onKeyUpEnter($event)">
           
  <ng-template *ngIf="column.type==='label'" ng-option-tmp let-item="item" let-index="index">
    <div class="label" [style.background-color]="item.color">{{item.label}}</div>
  </ng-template>

    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <span *ngIf="column.param.multiple; else uniq">{{column.displayName | titlecase }} : {{column.sSearch.length}}</span>
          <ng-template #uniq>{{column.displayName | titlecase }} : {{column.sSearch[0]}}</ng-template>
            
    </ng-template>
    <ng-template ng-header-tmp>
      <button class="btn btn-outline-info" (click)="onSelectAll()">Select All</button>
      <button class="btn btn-outline-info" (click)="onClearAll()">Clear All</button>
  </ng-template>
</ng-select>
