<div class="block block-rounded block-bordered">
    <div class="block-header block-header-default">
        <h3 class="block-title">Report <small>by status</small></h3>
        <button type="button" class="btn-block-option" (click)="expand = !expand">
                <i class="si" [ngClass]="{'si-arrow-down': !expand, 'si-arrow-up': expand}"></i>
              </button>
    </div>
    <div class="block-content block-content-full text-center" *ngIf="expand">
        <div class="row">
            <div class="col-md-12 push">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                        style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="font-size-sm font-w600">90%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 block">
                <div class="block block-rounded">
                    <div class="block-content">
                        <!-- START active Status -->
                        <div class="form-group" *ngFor="let status of activeState">
                            <div class="input-group push">
                                <div class="input-group-prepend" ngbPopover="Successful execution"
                                    triggers="mouseenter:mouseleave">
                                    <span 
                                        class="input-group-text input-group-text-alt text-white" 
                                        [style.backgroundColor]="status.color"
                                        [style.borderColor]="status.color">
                                        {{status.label}}
                                    </span>
                                </div>
                                <span 
                                    class="form-control form-control-alt text-center"
                                    [style.color]="status.color">
                                    {{status.data}}<i class="fa ml-2" [ngClass]="status.icon"></i>
                                </span>
                                <div class="input-group-append">
                                    <span 
                                        class="input-group-text input-group-text-alt text-center"
                                        [style.color]="status.color">
                                        {{round((status.data/selectedTag.nbExeUsefull)*100)}}%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END active Status -->
                    </div>
                </div>
            </div>
            <div>
                <canvas
                    baseChart 
                    height="250" 
                    [data]="data" 
                    [labels]="labels" 
                    [chartType]="'pie'" 
                    [options]="options"
                    [colors]="colors">
                </canvas>
            </div>
        </div>
    </div>
</div>