<div *ngIf="control" [id]="'step'+ parentStepIndex +'action'+ parentActionIndex +'control' + control.sort"
  class="block block-bordered control mb-0"
  [ngClass]="[control.toDelete ? 'toDelete' : '',  isFocused ? 'focused' : '']">

  <!-- HEADER -->
  <div class="block-header custom-sm ml-5" (mouseenter)="showControlAddButtons = true"
    (mouseleave)="showControlAddButtons = false">

    <div class="input-group cursor-pointer" (click)="focusOnControl()">

      <div name="dragControl" class="input-group-prepend drag-control-area">
        <!-- waiting for angular dev : https://github.com/angular/material2/issues/13784 -->
        <!-- current workaround : move cdkDragHandle out of child component -->
        <ng-content select="[slot=drag-control]"></ng-content>
      </div>

      <!-- INDEX -->
      <div class="input-group-prepend">
        <span name="controlIndex" class="input-group-text custom"> {{control.sort}} </span>
      </div>
      <!-- END INDEX -->

      <!-- CONTROL ICON -->
      <div class="input-group-prepend" *ngIf="findControlCrossReference(control.control).icon"
        [ngbPopover]="control.control" triggers="mouseenter:mouseleave">
        <span class="input-group-text custom">
          <i [ngClass]="findControlCrossReference(control.control).icon"></i>
        </span>
      </div>
      <!-- END CONTROL ICON -->

      <!-- CONTROL DESCRIPTION -->
      <div class="input-group-prepend" style="width:80%">
        <input type="text" name="controlDescription" class="form-control form-control-sm full-height no-background"
          placeholder="No control description" [(ngModel)]="control.description">
      </div>
      <!-- END CONTROL DESCRIPTION -->

    </div>

    <!-- ADD ACTION OR CONTROLS BUTTONS -->
    <div *ngIf="showControlAddButtons && !readonly" class="block-options">

      <button type="button" name="addActionFromControl" class="btn btn-sm btn-primary mr-1"
        (click)="addAction(parentActionIndex+1)"> A<i class="fa fa-fw fa-plus"></i>
      </button>

      <button type="button" name="addControlFromControl" class="btn btn-sm btn-success mr-1"
        (click)="addControl(control.sort)"> C<i class="fa fa-fw fa-plus"></i>
      </button>

    </div>
    <!-- END ADD ACTION OR CONTROLS BUTTONS -->

    <div class="block-options">

      <!-- CONDITION ICON -->
      <button *ngIf="control.conditionOper != 'always'" type="button" name="conditionOper"
        class="btn-block-option info_block_options"
        [ngbPopover]="control.conditionOper == 'never' ? 'This control is disabled' : 'This control execution is conditioned'"
        triggers="mouseenter:mouseleave">
        <i class="fa fa-fw" [ngClass]="control.conditionOper == 'never' ? 'fa-times' : 'fa-question' "></i>
      </button>
      <!-- END CONDITION ICON -->

      <!-- FATAL ICON -->
      <button *ngIf="control.fatal == 'Y'" type="button" name="fatal" class="btn-block-option info_block_options"
        ngbPopover="This control is fatal" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-exclamation"></i>
      </button>
      <!-- END FATAL ICON -->

      <!-- DELETE CONTROL -->
      <button *ngIf="!readonly" type="button" name="delete" class="btn-block-option"
        (click)="control.toDelete = !control.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
      <!-- END DELETE CONTROL -->

    </div>

  </div>
  <!-- END HEADER -->
</div>