<div class="data-table">
    <ngx-datatable class="material fullscreen" 
        [rows]="rows" 
        [columns]="columns" 
        [columnMode]="'force'"
        [rowHeight]="'auto'" 
        [footerHeight]="50" 
        [headerHeight]="50" 
        [loadingIndicator]="isLoading"
        [selected]="selected" 
        [selectionType]="'checkbox'" 
        [selectAllRowsOnPage]="true" 
        [scrollbarH]="false"
        [count]="page.totalCount" 
        [offset]="page.number" 
        [externalPaging]="true" 
        [externalSorting]="true"
        (select)='onSelect($event)'
        (page)='setPage($event)'
        (sort)="onSort($event)">


        <!--CheckBox Column-->
        <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
            [headerCheckboxable]="true" [checkboxable]="true" [width]="80">
        </ngx-datatable-column>

        <!--Column from column array-->
        <ng-template ngFor let-column let-index="index" [ngForOf]="columns">
            <ngx-datatable-column *ngIf="column.active" [name]="column.displayName" [prop]="column.contentName"
                [width]="column.width" [draggable]="true" [sortable]="column.sortable" [resizeable]="false">

                <!-- Header row -->
                <ng-template ngx-datatable-header-template let-sort="sortFn">
                    <span class="datatable-header-cell-wrapper" >
                        <span class="datatable-header-cell-label draggable" (click)="sort(index)">{{ column.displayName }}</span>
                        <i *ngIf="column.searchable" class="fa fa-filter btn filter-btn" [ngClass]="(column.dropActive)? 'btn-success' : 'btn-warning'" (click)="addFilter(column)"></i>
                        <i *ngIf="column.like" class="fa fa-search btn filter-btn" [ngClass]="(column.fieldActive)? 'btn-success' : 'btn-info'" (click)="addFilterLike(column)"></i>
                    </span>
                </ng-template>

                <!--If the content need a function to be display-->
                <ng-template *ngIf="column.displayContentFunction" let-row='row' let-value ngx-datatable-cell-template>
                    {{ column.displayContentFunction(row) }}
                </ng-template>

                <!--Country column-->
                <ng-template *ngIf="column.contentName=='countryList'" let-value="value" ngx-datatable-cell-template>
                    <a *ngFor="let item of value | keyvalue">
                        <b>{{item.value}} </b>
                    </a>
                </ng-template>

                <!--Label column-->
                <ng-template *ngIf="column.type==='label'" let-row='row' let-value="value" ngx-datatable-cell-template>
                    <div *ngIf="row[column.contentName]">
                        <div class="label" *ngFor="let item of row[column.contentName]"
                            [style.background-color]="item.color">{{ item?.name }}</div>
                    </div>
                </ng-template>
                <ng-template *ngIf="column.type==='boolean'" let-value="value" ngx-datatable-cell-template>
                     <!--{{ value }}--> <i class="fa fa-check" *ngIf="value==='Y'"></i><i class="fa fa-times" *ngIf="value==='N'"></i>
                </ng-template>

            </ngx-datatable-column>
        </ng-template>

    </ngx-datatable>
</div>