<div [id]="DragAndAdropAreaId" class="controlList" cdkDropList [cdkDropListData]="action.controlList"
  [cdkDropListConnectedTo]="DragAndDropControlIDList" (cdkDropListDropped)="dropControl($event)"
  (cdkDropListEntered)="controlEntered()" (cdkDropListExited)="controlExited()">

  <div class="block block-bordered action mb-0" *ngIf="action" [id]="'step'+parentStepIndex+'action'+actionIndex">

    <!-- HEADER -->
    <div class="block-header" (mouseenter)="showActionAddButtons = true" (mouseleave)="showActionAddButtons = false"
      [ngClass]="[action.toDelete ? 'toDelete' : '',  isFocused ? 'focused' : '']">

      <!-- HIDE SHOW CONTROLS LIST -->
      <div class="block-options">
        <button name="showControlList" type="button" class="btn-block-option"
          (click)="showControlList = !showControlList" [disabled]="!action.controlList.length > 0">
          <i class="si" [ngClass]="showControlList ? 'si-arrow-down' : 'si-arrow-right'"></i>
        </button>
      </div>
      <!-- END HIDE SHOW CONTROLS LIST -->

      <div class="input-group" (click)="focusOnAction()">

        <!-- ACTION INDEX -->
        <div class="input-group-prepend">
          <span name="actionIndex" class="input-group-text custom">
            {{actionIndex}}
          </span>
        </div>
        <!-- END ACTION INDEX -->

        <!-- ACTION ICON -->
        <div class="input-group-prepend" *ngIf="findActionCrossReference(action.action).icon"
          [ngbPopover]="action.action" triggers="mouseenter:mouseleave">
          <span class="input-group-text custom">
            <i [ngClass]="findActionCrossReference(action.action).icon"></i>
          </span>
        </div>
        <!-- END ACTION ICON -->

        <!-- ACTION DESCRIPTION -->
        <input type="text" [(ngModel)]="action.description" class="form-control br-lr-1 bg-transparent b-0"
          [id]="'step'+parentStepIndex+'action'+actionIndex+'description'" placeholder="Action Description"
          [readonly]="readonly">
        <!-- END ACTION DESCRIPTION -->

      </div>

      <!-- ADD ACTION OR CONTROLS BUTTONS -->
      <div *ngIf="showActionAddButtons && !readonly" class="block-options">

        <button type="button" name="addActionFromAction" class="btn btn-sm btn-outline-primary mr-1"
          (click)="addAction(actionIndex)"> <i class="fa fa-fw fa-plus"></i>
        </button>

        <button type="button" name="addControlFromAction" class="btn btn-sm btn-outline-success mr-1"
          (click)="addControl(action.controlList.length+1)"> <i class="fa fa-fw fa-plus"></i>
        </button>

      </div>
      <!-- END ADD ACTION OR CONTROLS BUTTONS -->

      <!-- ACTIONS & ICONS -->
      <div class="block-options">

        <!-- CONDITION ICON -->
        <button type="button" name="conditionOper" *ngIf="action.conditionOper != 'always'"
          class="btn-block-option info_block_options"
          [ngbPopover]="action.conditionOper == 'never' ? 'This action is disabled' : 'This action execution is conditioned'"
          triggers="mouseenter:mouseleave">
          <i class="fa fa-fw" [ngClass]="action.conditionOper == 'never' ? 'fa-times' : 'fa-question' "></i>
        </button>
        <!-- END CONDITION ICON -->

        <!-- FORCE ICON -->
        <button type="button" name="forceExeStatus" *ngIf="action.forceExeStatus == 'PE'"
          class="btn-block-option info_block_options" ngbPopover="This action execution is forced"
          triggers="mouseenter:mouseleave">
          <i class="fa fa-fw fa fa-arrow-down"></i>
        </button>
        <!-- END FORCE ICON -->

        <!-- DELETE ACTION -->
        <button *ngIf="!readonly" type="button" name="delete" class="btn-block-option"
          (click)="action.toDelete = !action.toDelete">
          <i class="far fa-fw fa-trash-alt"></i>
        </button>
        <!-- DELETE ACTION -->

        <!-- waiting for angular dev : https://github.com/angular/material2/issues/13784 -->
        <!-- current workaround : move cdkDragHandle out of child component -->
        <ng-content select="[slot=drag-action]"></ng-content>

      </div>
      <!-- END ACTIONS & ICONS -->
    </div>
    <!-- END HEADER -->

  </div>
  <!-- END HEADER -->

  <!-- CONTROL LIST -->
  <div *ngIf="showControlList">
    <div *ngFor="let control of action.controlList; let index = index" class="controlDrag" cdkDrag cdkDragLockAxis="y">
      <app-control [control]="control" [readonly]="readonly" [parentStepIndex]="parentStepIndex"
        [parentActionIndex]="actionIndex" [controlIndex]="index | trueindex" (controlAdded)="addControl($event)"
        (actionAddedFromControl)="addAction($event)">
        <button *ngIf="!readonly" type="button" name="dragControl" class="btn-block-option" slot="drag-control"
          cdkDragHandle>
          <i class="fa fa-arrows-alt-v"></i>
        </button>
      </app-control>
    </div>
  </div>
  <!-- END CONTROL LIST -->

</div>