<div *ngIf="step || action || control" id="settings"
  class="block block-bordered block-rounded sticky-top sticky-offset custom-z">

  <!-- SETTING HEADER -->
  <div class="block-header block-header-default" [ngClass]="getBackgroundColorClass()">
    <h3 class="block-title">
      <span>{{ getTitle() }}</span>
      <small class="ml-1">Settings</small>
    </h3>
    <div class="block-options">
      <button class="btn-block-option" ngbPopover="Duplicate" triggers="mouseenter:mouseleave">
        <i class="fa fa-fw fa-copy"></i>
      </button>
    </div>
  </div>
  <!-- END SETTING HEADER -->

  <!-- SETTING CONTENT -->
  <div class="block-content">

    <app-step-settings *ngIf="step" [step]="step" [testcase]="testcase"></app-step-settings>

    <app-action-settings *ngIf="action" [action]="action" [readonly]="readonly"></app-action-settings>

    <app-control-settings *ngIf="control" [control]="control" [readonly]="readonly"></app-control-settings>

  </div>
  <!-- END SETTING CONTENT -->

  <!-- BREADCRUMB -->
  <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pt-0 pb-0">
        <!-- If a step is selected -->
        <li id="stepIndex" class="breadcrumb-item" *ngIf="step">step #{{ step.sort }}</li>
        <!-- If an action is selected -->
        <li id="stepIndex" class="breadcrumb-item" *ngIf="action">step #{{ parentStepIndex }}</li>
        <li id="actionIndex" class="breadcrumb-item" *ngIf="action">action #{{ action.sort }}</li>
        <!-- If a control is selected -->
        <li id="stepIndex" class="breadcrumb-item" *ngIf="control">step #{{ parentStepIndex }}</li>
        <li id="actionIndex" class="breadcrumb-item" *ngIf="control">action #{{ parentActionIndex }}</li>
        <li id="controlIndex" class="breadcrumb-item" *ngIf="control">control #{{ control.sort}}</li>
      </ol>
    </nav>
  </div>
  <!-- END BREADCRUMB -->

</div>