.nav-tabs-block {
  flex-direction: row;
  overflow: hidden;
}

.nav-item {
  display: flex;
  flex-direction: row;
  cursor: grab;
}

.nav-item.default-cursor {
  cursor: default !important;
}

.nav-tabs-block.cdk-drop-list-dragging .nav-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.is-invalid {
  color: #e04f1a;
}

i.fa.fa-ellipsis-v {
  font-size: 0.8em;
}