<div class="row" [formGroup]="definition">

    <!-- SHORT DESCRIPTION -->
    <div class="col-md-12">
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control form-control-sm" id="description" name="description"
                placeholder="Test Case Short Description" formControlName="description">
        </div>
    </div>
    <!-- END SHORT DESCRIPTION -->

    <!-- APPLICATION -->
    <div class="col-md-6">
        <div class="form-group">
            <label for="application">Application</label>
            <ng-select name="Application" class="custom-sm" id="application" [items]="applications"
                bindLabel="application" bindValue="application" formControlName="application" (change)="getFromSystem()"
                placeholder="You must define an application">
            </ng-select>
        </div>
    </div>
    <!-- END APPLICATION -->

    <!-- STATUS -->
    <div class="col-md-6">
        <div class="form-group">
            <label for="Status">Status</label>
            <select class="form-control form-control-sm" id="status" formControlName="status">
                <option *ngFor="let status of statusList" [value]="status.value">
                    {{ status.value }}
                </option>
            </select>
        </div>
    </div>
    <!-- END STATUS -->

    <!-- TYPE -->
    <div class="col-md-6">
        <div class="form-group">
            <label for="Type">Type</label>
            <select class="form-control form-control-sm" id="type" formControlName="type">
                <option *ngFor="let type of types" [value]="type.value">
                    {{ type.value }}
                </option>
            </select>
        </div>
    </div>
    <!-- END TYPE -->

    <!-- PRIORITY -->
    <div class="col-md-6">
        <div class="form-group">
            <label for="Priority">Priority</label>
            <select class="form-control form-control-sm" id="priority" formControlName="priority">
                <option *ngFor="let priority of priorities" [value]="priority.value">
                    {{ priority.value }}
                </option>
            </select>
        </div>
    </div>
    <!-- END PRIORITY -->

    <!-- FULL DESCRIPTION -->
    <div class="col-md-12">
        <div class="form-group">
            <label for="FullDescription">Full Description</label>
            <ckeditor name="FullDescription" [editor]="Editor" formControlName="behaviorOrValueExpected">
            </ckeditor>
        </div>
    </div>
    <!-- END FULL DESCRIPTION -->

</div>