<div class="col-md-12" style="width: 50%;">
    <div class="block block-bordered block-rounded">
      <div class="block-header block-header-default">
        <h3 class="block-title">Report <small>by Test Folder</small></h3>
      </div>
      <div class="block-content row">
          <canvas baseChart
          [datasets]="chart.datasets"
          [labels]="chart.label"
          [options]="chart.options"
          [plugins]="chart.plugin"
          [legend]="chart.legend"
          [chartType]="'bar'">
        </canvas>
      </div>
    </div>
  </div>