.dynamic-block {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100000;
    width: 40%;
    background-color: #fff;

    .close-icon {
        width: 45px;
        height: 45px;
        text-align: center;
        font-size: 35px;
        border: 2px solid;
        border-radius: 50%;
        line-height: 45px;
        cursor: pointer;

    }
    .block-content {
        height: 100%;
    }
}

:host {
        margin-top: 70px;
        border: 1px solid #dadeec;
        width:40%;
        position: absolute;
        background-color: #ffffff;
        z-index:1000;
        right: -50%;
        top:0;
        bottom: 0;
        transition: 1s;
        //overflow-y: scroll;
        overflow: visible;

    .hide-icon{
      border-radius: 2px;
      padding: 25px 4px 25px 4px;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      overflow: visible;
      position: absolute;
      margin: -7px;
      left: 0;
      bottom: 18%;
      color: #ffffff;
      background: #3b5998;
      z-index: 10;
      cursor: pointer;
      clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
    }

    .close-icon {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        cursor: pointer;

    }
    .block-content {
        height: 100%;
    }
}


:host.is-open {
    right: 0;
}

:host.is-hidden {
  right: -38%;
}

