<div [id]="'filter_'+column.contentName" *ngIf="column.filterDisplayed" class="block block-rounded block-bordered">
  <div class="block-header block-header-default">

    <!-- LEFT SECTION-->
    <div class="input-group">

      <!-- COLUMN NAME-->
      <div class="input-group-prepend">
        <h3 class="block-title">
          <div class="form-group mb-0">
            <div class="form-check form-check-inline">
              <small>{{column.displayName}}</small>
            </div>
          </div>
        </h3>
      </div>
      <!-- END COLUMN NAME-->

      <!-- SEARCH TEXT FILED -->
      <div *ngIf="column.filterMode==='SEARCH_FIELD'" class="input-group-prepend" style="width: 70%">
        <div class="form-check form-check-inline full-width">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="column.sSearch"
            [placeholder]="column.placeholder">
        </div>
      </div>
      <!-- END SEARCH TEXT FILED -->

      <div *ngIf="column.filterMode==='DROPDOWN'" class="input-group-prepend" style="min-width: 50%">

        <!-- DROPDOWN FIELD -->
        <div *ngIf="column.multiple === true" class="form-check form-check-inline" style="min-width: 50%;">
          <ng-select class="custom custom-icon custom-sm" [items]="dataList" [selectableGroup]="true"
            [multiple]="column.multiple" [closeOnSelect]="!column.multiple" [bindValue]="id" [bindLabel]="label"
            [(ngModel)]='column.sSearch' [clearable]="true" [placeholder]="column.placeholder">

            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear" let-search="searchTerm">

              <span *ngIf="column.multiple === true" class="nav-main-link-badge badge badge-pill badge-primary mr-2">
                {{ items.length }}
              </span>

              <span *ngIf="column.multiple === false" class="nav-main-link-badge badge badge-pill badge-primary mr-2">
                {{ items[0] }}
              </span>
            </ng-template>

            <ng-template ng-header-tmp>
              <div *ngIf="column.multiple === true" class="row ml-1 mr-1">

                <!-- CLEAR ALL BUTTON -->
                <button class="col btn btn-danger btn-sm" (click)="clearFilterValues()">
                  <i class="fa fa-fw fa-times mr-1"></i>
                  Clear all
                </button>
                <!-- END CLEAR ALL BUTTON -->

              </div>
            </ng-template>

          </ng-select>
        </div>
        <!-- END DROPDOWN FIELD -->

        <!-- CHOICES BUTTON -->
        <div *ngIf="column.multiple === false && dataList">
          <div *ngFor="let filterValue of dataList"
            class="custom-control block custom-block custom-control-info custom-sm custom-control-inline mb-0">
            <input type="checkbox" class="custom-control-input" [id]="column.contentName + '_' + filterValue"
              [name]="column.contentName + '_' + filterValue" (click)=setUniqueFilterValue(filterValue)
              [checked]="isFilterValueSelected(filterValue)">
            <label class="custom-control-label" [for]="column.contentName + '_' + filterValue">
              <span class="d-block text-center">
                {{ filterValue }}
              </span>
            </label>
          </div>
        </div>
        <!-- END CHOICES BUTTON -->

      </div>
      <!-- END SELECT, TEXT OR  CHOICES -->

      <div *ngIf="column.filterMode==='SWITCH'" class="input-group-prepend" style="min-width: 50%">
        <div class="form-check form-check-inline full-width">

          <div class="custom-control custom-switch custom-control-primary">
            <input id="filter_active" type="checkbox" class="custom-control-input" name="filter_active"
              [(ngModel)]="column.sSearch[0]">
            <label class="custom-control-label" for="filter_active">{{column.sSearch[0]}}</label>
          </div>

        </div>
      </div>

    </div>
    <!-- END LEFT SECTION-->

    <!-- RIGHT SECTION-->
    <div class="block-options">
      <button [id]="'filter_'+column.contentName+'_remove'" type="button" class="btn-block-option"
        (click)="removeFilter()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    <!-- END RIGHT SECTION-->

  </div>

  <!-- CONTENT SECTION -->
  <div *ngIf="column.filterMode==='DROPDOWN' && column.multiple === true && column.sSearch.length > 0"
    class="block-content row" [id]="'filter_'+column.contentName+'_values'">

    <!-- SELECTED VALUES LIST -->
    <span *ngIf="column.type !== 'label'">
      <span *ngFor="let filterValue of column.sSearch" [attr.name]="'filter_value_'+column.contentName"
        class="badge badge-pill badge-primary push mr-1">
        {{filterValue}}
      </span>
    </span>
    <span *ngIf="column.type === 'label'">
      <span *ngFor="let label of column.sSearch" [attr.name]="'filter_value_'+column.contentName"
        class="badge badge-pill badge-primary push mr-1" [ngStyle]="{'background-color': label.color}">
        {{label.label}}
      </span>
    </span>
    <!-- END SELECTED VALUES LIST -->

  </div>
  <!-- END CONTENT SECTION -->

</div>