<div *ngIf="column.filterDisplayed" class="block block-rounded block-bordered">
  <div class="block-header block-header-default">
    <h3 class="block-title">
      <div class="form-group mb-0">
        <div class="form-check form-check-inline">
          <small>{{column.displayName}}</small>
        </div>

        <!-- TEXT SEARCH FIELD -->
        <div *ngIf="column.filterMode==='SEARCH_FIELD'" class="form-check form-check-inline" style="min-width: 50%;">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="column.sSearch"
            [placeholder]="column.placeholder">
        </div>
        <!-- END TEXT SEARCH FIELD -->

      </div>
    </h3>
    <div class="block-options">
      <button type="button" class="btn-block-option" (click)="removeFilter()">
        <i class="si si-close"></i>
      </button>
    </div>
  </div>
  <div *ngIf="column.filterMode==='DROPDOWN'" class="block-content row">

    <!-- DROPDOWN TYPE FIELD -->
    <p class="col-4">
      <ng-select class="custom custom-icon custom-sm" [items]="dataList" [selectableGroup]="true"
        [multiple]="column.multiple" [closeOnSelect]="!column.multiple" [bindValue]="id" [bindLabel]="label"
        [(ngModel)]='column.sSearch' [clearable]="true">

        <!-- <ng-template *ngIf="column.type=='label'" ng-option-tmp let-item="item" let-index="index">
          <div class="label" [style.background-color]="item.color">{{item.label}}</div>
        </ng-template> -->

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear" let-search="searchTerm">
          <span class="nav-main-link-badge badge badge-pill badge-primary mr-2">
            {{ items.length }}
          </span>
        </ng-template>

        <ng-template ng-header-tmp>
          <div class="row ml-1 mr-1">

            <!-- CLEAR ALL BUTTON -->
            <button class="col btn btn-danger btn-sm" (click)="clearFilterValues()">
              <i class="fa fa-fw fa-times mr-1"></i>
              Clear all
            </button>
            <!-- END CLEAR ALL BUTTON -->

          </div>
        </ng-template>

      </ng-select>
    </p>

    <!-- SELECTED VALUES LIST -->
    <p class="col-8" *ngIf="column.multiple">
      <span *ngFor="let filterValue of column.sSearch"
        class="badge badge-pill badge-primary mr-1">{{filterValue}}</span>
    </p>
    <!-- END SELECTED VALUES LIST -->
    <!-- END DROPDOWN TYPE FIELD -->

  </div>
</div>