<div class="block block-rounded mb-0">
    <div class="block-content text-center pt-5">
        <div class="row">

            <!-- ICON SECTION -->
            <div id="icon" class="col-12 push op-0">
                <!-- <i class="si fa-4x si-close" style="color: #f27474;"></i> -->
                <i *ngIf="modalType === 'confirm'" class="si fa-4x si-question animated rubberBand"
                    style="color: #f8bb86;"></i>
            </div>
            <!-- END ICON SECTION -->

            <!-- CONTENT SECTION -->
            <div id="content" class="col-12 op-0">
                <h2 class="font-w300 text-gray-darker">{{title}}</h2>
                <p>{{subtitle}}</p>
                <p>{{subtitle2}}</p>
            </div>
            <!-- END CONTENT SECTION -->

            <!-- ACTION BUTTONS -->
            <div id="actions" class="col-12 push op-0">

                <button type="button" class="btn btn-danger m-1" style="display: inline-block;" (click)="confirm()">
                    Yes
                </button>

                <button type="button" class="btn btn-secondary m-1" style="display: inline-block;" (click)="close()">
                    No
                </button>
            </div>
            <!-- END ACTION BUTTONS -->

        </div>
    </div>
</div>