<div [id]="modalId" class="block block-rounded mb-0">
    <div class="block-content text-center pt-5">
        <div class="row">

            <!-- ICON SECTION -->
            <div id="icon" class="col-12 push op-0">
                <i *ngIf="modalType === 'error'" class="si fa-4x si-close  animated rubberBand"
                    style="color: #f27474;"></i>
                <i *ngIf="modalType === 'confirm'" class="si fa-4x si-question animated rubberBand"
                    style="color: #f8bb86;"></i>
            </div>
            <!-- END ICON SECTION -->

            <!-- CONTENT SECTION -->
            <div id="content" class="col-12 op-0">
                <h2 class="font-w300 text-gray-darker">{{title}}</h2>
                <p *ngIf="subtitle">{{subtitle}}</p>
                <p *ngIf="subtitle2">{{subtitle2}}</p>

                <div class="push" *ngIf="itemsList && itemsType === ItemsType.Step">
                    <div *ngFor="let step of itemsList" class="block-header custom-sm block-header-default">
                        <h3 class="block-title">{{step.test}}
                            <small class="ml-1">{{step.testCase}} (position {{step.sort}})</small>
                        </h3>
                    </div>
                </div>

                <p *ngIf="itemsList">The following fields have been modified:</p>
                <div class="push" *ngIf="itemsList && itemsType === ItemsType.TestCaseDifferences">
                    <div *ngFor="let field of itemsList" class="block-header custom-sm block-header-default">
                        <h3 class="block-title">{{field}}</h3>
                    </div>
                </div>

            </div>
            <!-- END CONTENT SECTION -->

            <!-- ACTION BUTTONS -->
            <div class="col-12 push op-0">

                <button id="confirmModal" *ngIf="modalType === 'confirm'" type="button" class="btn btn-danger m-1"
                    style="display: inline-block;" (click)="confirm()">
                    Yes
                </button>

                <button id="dismissModal" *ngIf="modalType === 'confirm'" type="button" class="btn btn-secondary m-1"
                    style="display: inline-block;" (click)="close()">
                    No
                </button>

                <button id="closeModal" *ngIf="modalType === 'error'" type="button" class="btn btn-secondary m-1"
                    style="display: inline-block;" (click)="close()">
                    Ok
                </button>
            </div>
            <!-- END ACTION BUTTONS -->

        </div>
    </div>
</div>