<div class="data-table">
  <ngx-datatable class="material"
                 [rows]="rows"
                 [columns]="columns"
                 [columnMode]="'force'"
                 [rowHeight]="'auto'"
                 [limit]="10"
                 [footerHeight]="50"
                 [headerHeight]="50"
                 [loadingIndicator]="isLoading"
                 [selected]="selected"
                 [selectionType]="'checkbox'"
                 [selectAllRowsOnPage]="false"
                 (select)='onSelect($event)'>
      <!--(activate)="onActivate($event)"-->
    <ngx-datatable-column
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
            [width]="80">
    </ngx-datatable-column>
    <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" [width]="100">
    </ngx-datatable-column>
      <ngx-datatable-column *ngIf="testcaseslist" name="CountryList">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{column.name}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              <a *ngFor="let item of value | keyvalue">
                 <b>{{item.value}} </b></a>
          </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="testcaseslist" [width]="200" name="LABELS">
          <ng-template let-column="column" ngx-datatable-header-template>
              {{column.name}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="label" *ngFor="let item of value" [style.background-color]="item.color">{{item.name}}</div>
          </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
</div>
