<form *ngIf="testFolderForm && testfolders" [formGroup]="testFolderForm" (ngSubmit)="onSubmit(testFolderForm.value)">
    <div id="testFolderInteraction" class="block no-shadow">

        <!--  SIDE CONTENT HEADER -->
        <div class="block-header block-header-default">

            <!-- SIDE CONTENT TITLE -->
            <h3 class="block-title" [ngSwitch]="mode">
                <span id="createTestFolderTitle" *ngSwitchCase="'CREATE'">Create Test Folder</span>
                <span id="editTestFolderTitle" *ngSwitchCase="'EDIT'">Edit Test Folder</span>
            </h3>
            <!-- END SIDE CONTENT TITLE -->

            <!-- SAVE / CLOSE BUTTON -->
            <div class="block-options">
                <button type="submit" id="submitInteraction" class="btn btn-sm btn-primary mr-1"
                    [disabled]="testFolderNameExists(testFolderForm.get('test').value) ? 'true' : ''">
                    {{saveButtonTitle}}
                </button>
                <button type="button" id="closeInteraction" class="btn btn-sm btn-secondary"
                    (click)="closeSideContent()">Close</button>
            </div>
            <!-- END SAVE / CLOSE BUTTON -->

        </div>
        <!--  END SIDE CONTENT HEADER -->

        <!-- SIDE CONTENT CONTENT -->
        <div class="block-content">
            <div class="row">

                <!-- TEST FOLDER NAME -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="testFolderLabel" for="testFolderNameInput" class="font-sm">
                            Test Folder Name
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="Name of the test folder (unique)" triggers="mouseenter:mouseleave"></i>
                        </label>
                        <input id="testFolderNameInput" type="text" class="form-control form-control-sm"
                            name="TestFolderName" placeholder="Test Folder Name" formControlName="test"
                            [ngClass]="testFolderNameExists(testFolderForm.get('test').value) ? 'is-invalid' : ''">
                        <div *ngIf="testFolderNameExists(testFolderForm.get('test').value)"
                            id="testFolderNameAlreadyInUseFeeback" class="invalid-feedback">
                            test folder name already in use</div>
                    </div>
                </div>
                <!-- END TEST FOLDER NAME -->

                <!-- TEST FOLDER DESCRIPTION  -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label id="testFolderDescriptionLabel" for="testFolderDescriptionInput" class="font-sm">
                            Description
                            <i class="fa fa-info-circle ml-0 info" placement="bottom"
                                ngbPopover="A short description for the test folder"
                                triggers="mouseenter:mouseleave"></i>
                        </label>
                        <input type="text" id="testFolderDescriptionInput" class="form-control form-control-sm"
                            name="TestFolderDescription" placeholder="Test Folder Description"
                            formControlName="description">
                    </div>
                </div>
                <!-- END TEST FOLDER DESCRIPTION -->

                <!-- TEST FOLDER ACTIVE -->
                <div class="col-md-12">
                    <div class="custom-control custom-switch custom-control-primary mb-1">
                        <input id="testFolderActive" type="checkbox" class="custom-control-input"
                            name="TestFolderActive" formControlName="active">
                        <label id="testFolderActiveInput" class="custom-control-label" for="testFolderActive">Active</label>
                    </div>
                </div>
                <!-- END TEST FOLDER ACTIVE -->

                <!-- TRACEABILITY -->
                <div *ngIf="mode === InteractionMode.EDIT" class="row ml-1 mr-1">

                    <!-- CREATION LABEL -->
                    <div class="col-md-12">
                        <div id="createdLabel" class="form-group mb-0">
                            <label class="d-block" class="font-sm">Creation</label>
                        </div>
                    </div>
                    <!-- END CREATION LABEL -->

                    <!-- DATE CREATED -->
                    <div class="form-group col-md-6">
                        <div class="input-group custom-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date</span>
                            </div>
                            <span class="form-control text-center form-control-sm" id="createdDate" type="text">
                                <i class="fa fa-calendar-day mr-1"></i>
                                {{testfolder.dateCreated}}
                            </span>
                        </div>
                    </div>
                    <!-- END DATE CREATED-->

                    <!-- USER CREATED -->
                    <div class="form-group col-md-6">
                        <div class="input-group custom-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Issuer</span>
                            </div>
                            <span class="form-control text-center form-control-sm" id="createdUser" type="text">
                                <i class="fa fa-user-edit mr-1"></i>
                                {{testfolder.usrCreated}}
                            </span>
                        </div>
                    </div>
                    <!-- END USER CREATED -->

                    <!-- LAST UPDATE TITLE -->
                    <div class="col-md-12">
                        <div id="lastUpdatedLabel" class="form-group mb-0">
                            <label class="d-block" class="font-sm">Last Update</label>
                        </div>
                    </div>
                    <!-- END LAST UPDATE TITLE -->

                    <!-- LAST UPDATE DATE -->
                    <div class="form-group col-md-6">
                        <div class="input-group custom-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Date</span>
                            </div>
                            <span class="form-control text-center form-control-sm" id="dateModif" type="text">
                                <i class="fa fa-calendar-day mr-1"></i>
                                {{testfolder.dateModif}}
                            </span>
                        </div>
                    </div>
                    <!-- END LAST UPDATE DATE -->

                    <!-- LAST UPDATE USER -->
                    <div class="form-group col-md-6">
                        <div class="input-group custom-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Issuer</span>
                            </div>
                            <span class="form-control text-center form-control-sm" id="userModif" type="text">
                                <i class="fa fa-user-edit mr-1"></i>
                                {{testfolder.usrModif}}
                            </span>
                        </div>
                    </div>
                    <!-- END LAST UPDATE USER -->

                </div>
                <!-- END TRACEABILITY -->

            </div>
        </div>
        <!-- END SIDE CONTENT CONTENT -->

    </div>
</form>