<!-- title section -->
<div class="bg-body-light">
  <div class="content content-full">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
      <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Dashboard</h1>
    </div>
  </div>
</div>
<!-- END title section -->

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-header block-header-default text-center">
          <h3 class="block-title">Coming <small>soon</small></h3>
        </div>
        <div class="block-content text-center">
          <p>We are sorry, but this page hasn't been developed yet.. <i class="far fa-frown"></i></p>
          <button type="button" class="btn btn-primary mr-1 mb-3">
            <i class="si si-share-alt"></i> Go back to current Cerberus
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-header block-header-default text-center">
          <h3 class="block-title">Cerberus <small>analytics</small></h3>
        </div>
        <div class="row block-content text-center">
          <div class="col-md-3">
            <a class="block block-rounded block-link-shadow bg-success" href="javascript:void(0)">
              <div class="block-content block-content-full d-flex align-items-center justify-content-between">
                <div>
                  <i class="si fa-2x si-reload text-success-light"></i>
                </div>
                <div class="ml-3 text-right">
                  <p class="text-white font-size-h3 font-w300 mb-0">
                    Latest Launch
                  </p>
                  <p class="text-white-75 mb-0">
                    2018-12-31 (1 day ago)
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-9">
            <app-executionsperweek></app-executionsperweek>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>