.info { cursor: pointer; }
.info:hover { color: #35579c; }
.toDelete { background-color: #f2dede !important; }
.block-options {padding-left: 0.5rem !important;}
.info_block_options { color: #495057; }
.custom-control-label { padding: 0.35rem; }
.actionHeaderSort {
    color: #fff;
    background-color: #3c90df;
    border-color: #3c90df;
}