<div class="block-header block-header-default">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        {{ action.sort }}
      </span>
    </div>
    <input type="text" [(ngModel)]="action.description" class="form-control" name="test" placeholder="Action Description">
  </div>
  <div class="block-options">
    <button type="submit" class="btn-block-option" *ngIf="action.conditionOper != 'always'">
      <i class="fa fa-fw fa-question"></i>
    </button>
    <button type="button" class="btn btn-primary mr-1 ml-1" (click)="showedActionHeader = !showedActionHeader">
      <i class="fa fa-fw" [ngClass]="showedActionHeader ? 'fa-angle-up' : 'fa-angle-down'"></i>
    </button>
    <button type="button" class="btn mr-1" [ngClass]="action.forceExeStatus == 'PE' ? 'btn-dark' : ''" (click)="action.forceExeStatus == 'PE' ? action.forceExeStatus = '' : action.forceExeStatus = 'PE'">
      <i class="fa fa-fw fa-level-down-alt"></i>
    </button>
    <button type="button" class="btn btn-danger mr-1">
      <i class="far fa-fw fa-trash-alt"></i>
    </button>
  </div>
</div>
<div class="block-content">
  <div name="actionHeader" *ngIf="showedActionHeader">
    <div class="row">
      <div class="col-md-12" *ngIf="inv_condition_oper">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Condition</span>
            </div>
            <select class="form-control br-tp-0" id="active_step_condition" name="activeStepCondition" [(ngModel)]="action.conditionOper">
              <option *ngFor='let condition of inv_condition_oper' [ngValue]='condition.value'>{{condition.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="hasConditionCrossReference(action.conditionOper)">
      <div [ngClass]="findConditionCrossReference(action.conditionOper).value1 && findConditionCrossReference(action.conditionOper).value2 ? 'col-md-6' : 'col-md-12'"
        *ngIf="findConditionCrossReference(action.conditionOper).value1">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{
                findConditionCrossReference(action.conditionOper).value1 }}</span>
            </div>
            <input type="text" class="form-control" id="activeStepParameter1" name="activeStepParameter1" [(ngModel)]="action.conditionVal1">
          </div>
        </div>
      </div>
      <div [ngClass]="findConditionCrossReference(action.conditionOper).value1 && findConditionCrossReference(action.conditionOper).value2 ? 'col-md-6' : 'col-md-12'"
        *ngIf="findConditionCrossReference(action.conditionOper).value2">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{
                findConditionCrossReference(action.conditionOper).value2 }}</span>
            </div>
            <input type="text" class="form-control" id="activeStepParameter2" name="activeStepParameter2" [(ngModel)]="action.conditionVal2">
          </div>
        </div>
      </div>
    </div>
    <h4 class="content-heading" style="padding-top: 0px;"></h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Action</span>
          </div>
          <select class="form-control br-tp-0" [id]="'action'+action.sort+'select'" [name]="'action'+action.sort+'select'"
            [(ngModel)]="action.action">
            <option *ngFor='let action of inv_action' [ngValue]='action.value'>{{action.value}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="hasActionCrossReference(action.action)">
      <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value1">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{
                findActionCrossReference(action.action).value1 }}</span>
            </div>
            <input type="text" class="form-control" [id]="'action'+action.sort+'value1'" [name]="'action'+action.sort+'value1'"
              [(ngModel)]="action.conditionVal1">
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value2">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{
                findActionCrossReference(action.action).value2 }}</span>
            </div>
            <input type="text" class="form-control" [id]="'action'+action.sort+'value2'" [name]="'action'+action.sort+'value2'"
              [(ngModel)]="action.conditionVal2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-content block-content-full block-content-sm bg-body-light text-right">
  <button type="button" class="btn btn-sm btn-success mr-1">
    <i class="fa fa-plus"></i> Control
  </button>
  <button type="button" class="btn btn-sm btn-primary ml-1">
    <i class="fa fa-plus"></i> Action
  </button>
</div>