<div class="block block-bordered action mb-0" [id]="'action' + action.sort" [ngClass]="action.toDelete ? 'toDelete' : ''">
  <div class="block-header block-header-default" [ngClass]="action.toDelete ? 'toDelete' : ''">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text actionHeaderSort"> {{ action.sort }} </span>
      </div>
      <input type="text" [(ngModel)]="action.description" class="form-control" name="test" placeholder="Action Description">
    </div>
    <div class="block-options">
      <button *ngIf="action.conditionOper != 'always'" type="button" class="btn-block-option info_block_options"
        [ngbPopover]="action.conditionOper == 'never' ? 'This action is disabled' : 'This action execution is conditioned'">
        <i class="far fa-fw" [ngClass]="action.conditionOper == 'never' ? 'fa-times-circle' : 'fa-question-circle' "></i>
      </button>
      <button *ngIf="action.forceExeStatus == 'PE'" type="button" class="btn-block-option info_block_options"
        ngbPopover="This action execution is forced">
        <i class="far fa-fw fa-arrow-alt-circle-down"></i>
      </button>
      <button type="button" class="btn-block-option" (click)="showedActionHeader = !showedActionHeader">
        <i class="far fa-fw" [ngClass]="showedActionHeader ? 'fa-minus-square' : 'fa-plus-square'"></i>
      </button>
      <button type="button" class="btn-block-option" (click)="action.toDelete = !action.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <div class="block-content">
    <div name="actionHeader" *ngIf="showedActionHeader">
      <div class="row">
        <div class="col-md-6">
          <div class="custom-control custom-block custom-control-info push">
            <input type="checkbox" class="custom-control-input" [id]="'action'+action.sort+'forceExeStatus'" [name]="'action'+action.sort+'forceExeStatus'"
              [checked]="action.forceExeStatus == 'PE'" (change)="action.forceExeStatus = $event.target.checked ? 'PE' : ''">
            <label class="custom-control-label" [for]="'action'+action.sort+'forceExeStatus'">
              <span class="d-block text-center"> Force Execution </span>
            </label>
            <span class="custom-block-indicator"> <i class="fa fa-check"></i> </span>
          </div>
        </div>
        <div class="col-md-6" *ngIf="inv_condition_oper">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Condition</span>
              </div>
              <select class="form-control br-tp-0" id="active_step_condition" name="activeStepCondition" [(ngModel)]="action.conditionOper">
                <option *ngFor='let condition of inv_condition_oper' [ngValue]='condition.value'>{{condition.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12" *ngIf="findConditionCrossReference(action.conditionOper).value1">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{
                    findConditionCrossReference(action.conditionOper).value1 }}</span>
                </div>
                <input type="text" class="form-control" id="activeStepParameter1" name="activeStepParameter1"
                  [(ngModel)]="action.conditionVal1">
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="findConditionCrossReference(action.conditionOper).value2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{
                    findConditionCrossReference(action.conditionOper).value2 }}</span>
                </div>
                <input type="text" class="form-control" id="activeStepParameter2" name="activeStepParameter2"
                  [(ngModel)]="action.conditionVal2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="content-heading" style="padding-top: 0px;"></h4>
    </div>
    <div class="row">
      <div class="col-md-4" *ngIf="inv_action">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Action</span>
            </div>
            <select class="form-control br-tp-0" [id]="'action'+action.sort+'select'" [name]="'action'+action.sort+'select'"
              [(ngModel)]="action.action">
              <option *ngFor='let action of inv_action' [ngValue]='action.value'>{{action.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="hasActionCrossReference(action.action)">
        <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value1">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i *ngIf="findActionCrossReference(action.action).info_title1 && findActionCrossReference(action.action).description1"
                    class="fa fa-fw fa-question-circle info mr-1" [ngbPopover]="findActionCrossReference(action.action).description1"
                    [popoverTitle]="findActionCrossReference(action.action).info_title1" placement="top"></i>
                  {{ findActionCrossReference(action.action).value1 }}
                </span>
              </div>
              <input type="text" class="form-control" [id]="'action'+action.sort+'value1'" [name]="'action'+action.sort+'value1'"
                [(ngModel)]="action.value1">
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findActionCrossReference(action.action).value2 }}</span>
              </div>
              <input type="text" class="form-control" [id]="'action'+action.sort+'value2'" [name]="'action'+action.sort+'value2'"
                [(ngModel)]="action.value2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-content block-content-full block-content-sm text-right">
  <button type="button" class="btn btn-sm btn-success mr-1" (click)="addControl()">
    <i class="fa fa-plus"></i> Control
  </button>
  <button type="button" class="btn btn-sm btn-primary ml-1">
    <i class="fa fa-plus"></i> Action
  </button>
</div>
<!-- TODO : add a pipe to order by sequence -->
<app-control *ngFor="let control of action.controlList" [control]="control"></app-control>