<div class="block block-bordered action mb-0" *ngIf="action">
  <div class="block-header" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">
    <div class="block-options">
      <button type="button" class="btn-block-option" (click)="showControlList = !showControlList">
        <i class="si" [ngClass]="showControlList ? 'si-arrow-down' : 'si-arrow-right'"></i></button>
    </div>
    <div class="input-group" (click)="focusOnAction()">
      <div class="input-group-prepend">
        <span class="input-group-text custom">
          {{action.sort}}
        </span>
      </div>
      <div class="input-group-prepend" *ngIf="findActionCrossReference(action.action).icon">
        <span class="input-group-text custom">
          <i [ngClass]="findActionCrossReference(action.action).icon"></i>
        </span>
      </div>
      <input type="text" [(ngModel)]="action.description" class="form-control br-lr-1 bg-transparent b-0" [id]="'step'+action.step+'action'+action.sort"
        name="activeStepDescription" placeholder="Action Description">
    </div>
    <div class="block-options">
      <button type="button" [id]="'action' + action.sort +'conditionOper'" *ngIf="action.conditionOper != 'always'"
        class="btn-block-option info_block_options" [ngbPopover]="action.conditionOper == 'never' ? 'This action is disabled' : 'This action execution is conditioned'">
        <i class="far fa-fw" [ngClass]="action.conditionOper == 'never' ? 'fa-times-circle' : 'fa-question-circle' "></i>
      </button>
      <button type="button" [id]="'action' + action.sort +'forceExeStatus'" *ngIf="action.forceExeStatus == 'PE'" class="btn-block-option info_block_options"
        ngbPopover="This action execution is forced">
        <i class="far fa-fw fa-arrow-alt-circle-down"></i>
      </button>
      <button type="button" [id]="'action' + action.sort +'deleteAction'" class="btn-block-option" (click)="action.toDelete = !action.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
    </div>
    <div *ngIf="showActionAddButtons" class="block-options">
      <button type="button" class="btn btn-sm btn-outline-success mr-1"> <i class="fa fa-fw fa-plus"></i> </button>
      <button type="button" class="btn btn-sm btn-outline-primary mr-1"> <i class="fa fa-fw fa-plus"></i> </button>
    </div>
  </div>
</div>
<!-- OLD
<div class="block block-bordered action mb-1" [id]="'action' + action.sort" [ngClass]="action.toDelete ? 'toDelete' : ''"
  (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()">
  <div class="block-header block-header-default" [ngClass]="action.toDelete ? 'toDelete' : ''">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text actionHeaderSort"> {{ action.sort }} </span>
      </div>
      <input type="text" [(ngModel)]="action.description" class="form-control" [id]="'action' + action.sort +'description'"
        [name]="'action' + action.sort +'description'" placeholder="Action Description">
    </div>
    <div class="block-options">
      <button type="button" [id]="'action' + action.sort +'conditionOper'" *ngIf="action.conditionOper != 'always'"
        class="btn-block-option info_block_options" [ngbPopover]="action.conditionOper == 'never' ? 'This action is disabled' : 'This action execution is conditioned'">
        <i class="far fa-fw" [ngClass]="action.conditionOper == 'never' ? 'fa-times-circle' : 'fa-question-circle' "></i>
      </button>
      <button type="button" [id]="'action' + action.sort +'forceExeStatus'" *ngIf="action.forceExeStatus == 'PE'" class="btn-block-option info_block_options"
        ngbPopover="This action execution is forced">
        <i class="far fa-fw fa-arrow-alt-circle-down"></i>
      </button>
      <button type="button" [id]="'action' + action.sort +'showActionHeader'" class="btn-block-option" (click)="showedActionHeader = !showedActionHeader">
        <i class="far fa-fw" [ngClass]="showedActionHeader ? 'fa-minus-square' : 'fa-plus-square'"></i>
      </button>
      <button type="button" [id]="'action' + action.sort +'deleteAction'" class="btn-block-option" (click)="action.toDelete = !action.toDelete">
        <i class="far fa-fw fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <div class="block-content">
    <div name="actionHeader" *ngIf="showedActionHeader">
      <div class="row">
        <div class="col-md-6">
          <div class="custom-control custom-block custom-control-info push">
            <input type="checkbox" [id]="'action'+action.sort+'forceExeStatus'" class="custom-control-input" [name]="'action'+action.sort+'forceExeStatus'"
              [checked]="action.forceExeStatus == 'PE'" (change)="action.forceExeStatus = $event.target.checked ? 'PE' : ''">
            <label class="custom-control-label" [for]="'action'+action.sort+'forceExeStatus'">
              <span class="d-block text-center"> Force Execution </span>
            </label>
            <span class="custom-block-indicator"> <i class="fa fa-check"></i> </span>
          </div>
        </div>
        <div class="col-md-6" *ngIf="inv_condition_oper">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Condition</span>
              </div>
              <select [id]="'action'+action.sort+'conditionOper'" [name]="'action'+action.sort+'conditionOper'" class="form-control br-tp-0"
                [(ngModel)]="action.conditionOper">
                <option *ngFor='let condition of inv_condition_oper' [ngValue]='condition.value'>{{condition.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12" *ngIf="findConditionCrossReference(action.conditionOper).value1">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{
                    findConditionCrossReference(action.conditionOper).value1 }}</span>
                </div>
                <input type="text" [id]="'action'+action.sort+'conditionVal1'" class="form-control" id="activeStepParameter1"
                  [name]="'action'+action.sort+'conditionVal1'" [(ngModel)]="action.conditionVal1">
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="findConditionCrossReference(action.conditionOper).value2">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{
                    findConditionCrossReference(action.conditionOper).value2 }}</span>
                </div>
                <input type="text" [id]="'action'+action.sort+'conditionVal2'" class="form-control" [name]="'action'+action.sort+'conditionVal2'"
                  [(ngModel)]="action.conditionVal2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="content-heading" style="padding-top: 0px;"></h4>
    </div>
    <div class="row">
      <div class="col-md-4" *ngIf="inv_action">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Action</span>
            </div>
            <select class="form-control br-tp-0" [id]="'action'+action.sort+'action'" [name]="'action'+action.sort+'action'"
              [(ngModel)]="action.action">
              <option *ngFor='let action of inv_action' [ngValue]='action.value'>{{action.value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-8" *ngIf="hasActionCrossReference(action.action)">
        <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value1">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i *ngIf="findActionCrossReference(action.action).info_title1 && findActionCrossReference(action.action).description1"
                    class="fa fa-fw fa-question-circle info mr-1" [ngbPopover]="findActionCrossReference(action.action).description1"
                    [popoverTitle]="findActionCrossReference(action.action).info_title1" placement="top"></i>
                  {{ findActionCrossReference(action.action).value1 }}
                </span>
              </div>
              <input type="text" class="form-control" [id]="'action'+action.sort+'value1'" [name]="'action'+action.sort+'value1'"
                [(ngModel)]="action.value1">
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="findActionCrossReference(action.action).value2">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{
                  findActionCrossReference(action.action).value2 }}</span>
              </div>
              <input type="text" class="form-control" [id]="'action'+action.sort+'value2'" [name]="'action'+action.sort+'value2'"
                [(ngModel)]="action.value2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showedActionFooter" class="block-content block-content-full block-content-sm text-right">
    <button type="button" [id]="'action'+action.sort+'addControl'" class="btn btn-sm btn-success mr-1" (click)="addControl()">
      <i class="fa fa-plus"></i> Control
    </button>
    <button type="button" [id]="'action'+action.sort+'addAction'" class="btn btn-sm btn-primary ml-1">
      <i class="fa fa-plus"></i> Action
    </button>
  </div>
</div>
-->
<!-- TODO : add a pipe to order by sequence -->
<div *ngIf="showControlList">
  <app-control *ngFor="let control of action.controlList; let last = last" [control]="control" [isLast]="last"></app-control>
</div>