<!-- STEP LIST -->
<div *ngIf="testcase.stepList.length != 0" id="stepList" role="tablist" aria-multiselectable="true" class="stepList"
  cdkDropList [cdkDropListData]="testcase.stepList" (cdkDropListDropped)="dropStep($event)">
  <div *ngFor="let step of testcase.stepList; let index = index" class="stepDrag" cdkDrag cdkDragLockAxis="y">
    <app-step [step]="step" [stepIndex]="index | trueindex">
      <button slot="drag-step" type="button" id="step{{ index | trueindex }}drag"
        class="btn btn-sm btn-light drag-cursor btn-drag-step" cdkDragHandle>
        <i class="fa fa-ellipsis-v"></i>
      </button>
    </app-step>
  </div>
</div>
<!-- END STEP LIST -->

<div *ngIf="testcase.stepList.length == 0" class="push">
  <p>The test case is empty <i class="far fa-frown-open"></i></p>
</div>

<div class="push">
  <div>
    <button type="button" class="btn btn-outline-primary btn-sm mr-3" (click)="addAStep()">
      <i class="fa fa-fw fa-plus mr-1"></i>Step
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm">
      <i class="fa fa-fw fa-plus mr-1"></i>Used Step
    </button>
  </div>
</div>