/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.mlr-1 {
    margin: 0px 5px !important;
  }

body {
    background-color: #ebedf5;
}

.label{
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    background: #0b0b0b;
    padding: 2px 4px 2px;
    max-width: fit-content;
    margin: 2px;
    cursor: pointer;
}
ng-select.auto-width .ng-dropdown-panel { 
    width: auto !important; 
    max-width: 550px; 
} 

/* .ngx-datatable .datatable-footer {
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.ngx-datatable .datatable-header {
  position: absolute;
  top: 50px;
}

.ngx-datatable .datatable-body {
  margin-top: 100px;
} */