/* You can add global styles to this file, and also import other style files */
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import "~@swimlane/ngx-datatable/release/assets/icons.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.mlr-1 {
  margin: 0px 5px !important;
}

body {
  background-color: #ebedf5;
  overflow-x: hidden;
}

.label {
  display: inline-block;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  background: #0b0b0b;
  padding: 2px 4px 2px;
  max-width: fit-content;
  margin: 2px;
  cursor: pointer;
}
ng-select.auto-width .ng-dropdown-panel {
  width: auto !important;
  max-width: 550px;
}

.no-border {
  border: 0;
}

ng-select.system-select {
  display: inline-block;
}

ng-select.system-select .ng-select-container {
  position: relative;
  display: inline-flex;
  width: 330px;
  border-color: #fff;
  background-color: transparent !important;
  color: #fff;
  margin-left: 20px;
  
}
ng-select.system-select .ng-select-container .ng-placeholder {
  color: #fff !important;
}
ng-select.system-select .ng-dropdown-panel {
  width: 330px;
  position: absolute !important;
  left: 20px;
}

.to-delete {
  background-color: #f9dcd1;
}

.nav-item {
  cursor: pointer;
}