<!-- Header -->
<header id="page-header">
  <!-- Header Content -->
  <div class="content-header">
    <!-- Left Section -->
    <div>
      <div class="d-inline-block" style="color:white;">
        <i class="fa fa-angle-right"></i>
        Page Title
      </div>

    </div>
    <!-- END Left Section -->

    <!-- Right Section -->
    <div class="d-inline-block">

      <div class="d-inline-block">
        <button type="button" class="btn btn-dual p-0 system-select-width text-left">

          <!-- SYSTEM SELECTION -->
          <ng-select class="custom" [items]="systemsList" [closeOnSelect]="false" multiple="true"
            (clear)="systemsList_OnClear()" (change)="systemsList_OnChange()" [(ngModel)]="selectedSystemsList"
            [dropdownPosition]="'bottom'" placeholder="No system selected" [searchFn]="customSearchSystem">

            <!-- SELECTED VALUE(S) TEMPLATE -->
            <ng-template ng-multi-label-tmp let-items="items" let-search="searchTerm">
              <i class="fa fa-fw fa-folder-open mr-2" style="color:#495057;"></i>
              <span *ngIf="selectedSystemsList" class="nav-main-link-badge badge badge-pill badge-primary mr-2">
                <span *ngIf="selectedSystemsList.length == 1"> {{ selectedSystemsList[0].value }}</span>
                <span *ngIf="selectedSystemsList.length > 1"> {{ selectedSystemsList.length }} </span>
              </span>
            </ng-template>
            <!-- END SELECTED VALUE(S) TEMPLATE -->

            <!-- OPTION(S) TEMPLATE -->
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <b>
                <span *ngIf="!isASystemSelected(item.value)">{{item.value}}</span>
                <span *ngIf="isASystemSelected(item.value)" class="text-primary-dark bold">{{item.value}}</span>
                <i *ngIf="isASystemSelected(item.value)" class="ml-1 fa fa-check-circle text-primary-dark"></i>
              </b>
            </ng-template>
            <!-- END OPTION(S) TEMPLATE -->

            <!-- TOP BUTTONS : CLEAR / SELECT ALL -->
            <ng-template ng-header-tmp>
              <div class="row ml-1 mr-1">
                <!-- SELECT ALL BUTTON -->
                <button class="col mr-2 btn btn-info btn-sm" (click)="selectAllSystems()"
                  [disabled]="areAllSystemsSelected()">
                  <i class="fa fa-fw fa-check mr-1"></i>
                  Select all
                </button>
                <!-- CLEAR ALL BUTTON -->
                <button class="col btn btn-danger btn-sm" (click)="clearAllSystems()"
                  [disabled]="numberOfSelectedSystems() === 0">
                  <i class="fa fa-fw fa-times mr-1"></i>
                  Clear all
                </button>
              </div>
            </ng-template>
            <!-- END TOP BUTTONS : CLEAR / SELECT ALL -->

          </ng-select>
          <!-- END SYSTEM SELECTION -->

        </button>
      </div>

      <!-- User Dropdown -->
      <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-dual" id="page-header-user-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-user mr-1"></i>
          <span class="d-none d-sm-inline-block">{{ userFullName }}</span>
          <i class="fa fa-fw fa-angle-down ml-1 d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="page-header-user-dropdown"
          x-placement="bottom-end"
          style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-90px, 38px, 0px);">
          <div class="bg-primary-darker rounded-top font-w600 text-white text-center p-3">
            User Options
          </div>
          <div class="p-2">
            <a class="dropdown-item link-cursor" (click)="openUserSettingsPage()">
              <i class="far fa-fw fa-building mr-1"></i> Settings
            </a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item link-cursor" (click)="logout()">
              <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> Sign Out
            </a>
          </div>
        </div>
      </div>
      <!-- END User Dropdown -->

      <button type="button" class="btn btn-dual" (click)="debug()">
        <i class="fa fa-fw fa-bug"></i>
      </button>

      <button type="button" class="btn btn-dual" (click)="debug2()">
        <i class="fa fa-fw fa-info"></i>
      </button>

    </div>
    <!-- END Right Section -->

  </div>
  <!-- END Header Content -->

  <!-- Header Loader -->
  <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
  <div id="page-header-loader" class="overlay-header bg-primary-darker">
    <div class="content-header">
      <div class="w-100 text-center">
        <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
      </div>
    </div>
  </div>
  <!-- END Header Loader -->

</header>
<!-- END Header -->