<!-- Header -->
<header id="page-header">
  <!-- Header Content -->
  <div class="content-header">
    <!-- Left Section -->
    <div>
      <div class="d-inline-block">
        <i class="fa fa-folder-open"></i>
        <ng-select class="custom system-select" [items]="systemsList" bindLabel="value" bindValue="value"
          [closeOnSelect]="false" multiple="true" (clear)="onClear()" (change)="change()" [(ngModel)]="systemModel"
          [dropdownPosition]="'bottom'" [hideSelected]="true" placeholder="Select System" (close)="onClose()">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <span *ngFor="let item of items | slice:0:2" style="margin-right :5px;">{{item.value}},</span>
            <span class="ng-value-label" *ngIf="items.length > 2">{{items.length - 2}} more...</span>
          </ng-template>
          <ng-template ng-header-tmp>
            <button class="btn btn-outline-primary select-btn" (click)="selectAll()"
              [innerHTML]="(this.toggleSelectAll || this.systemModel.length===0)? 'Select all' : 'Unselect All'"></button>
            <!-- <div class="selected-container"><div *ngFor="let system of systemModel" (click)="deleteSystem(system)" class="selected-system">{{ system }}</div></div> -->
          </ng-template>
        </ng-select>
      </div>
    </div>
    <!-- END Left Section -->

    <!-- Right Section -->
    <div class="dropdown d-inline-block">
      <!-- <span *ngFor='let badge of selectedSystems' style="cursor: pointer" class="badge badge-pill badge-light"
        (click)="deleteSystem(badge)">
        x {{ badge }}
      </span> -->


      <!-- User Dropdown -->
      <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-dual" id="page-header-user-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-user mr-1"></i>
          <span class="d-none d-sm-inline-block">{{ userFullName }}</span>
          <i class="fa fa-fw fa-angle-down ml-1 d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="page-header-user-dropdown"
          x-placement="bottom-end"
          style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-90px, 38px, 0px);">
          <div class="bg-primary-darker rounded-top font-w600 text-white text-center p-3">
            User Options
          </div>
          <div class="p-2">
            <a class="dropdown-item link-cursor" (click)="openUserSettingsPage()">
              <i class="far fa-fw fa-building mr-1"></i> Settings
            </a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item link-cursor" (click)="logout()">
              <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> Sign Out
            </a>
          </div>
        </div>
      </div>
      <!-- END User Dropdown -->

      <button type="button" class="btn btn-dual" (click)="debug()">
        <i class="fa fa-fw fa-bug"></i>
      </button>

    </div>
    <!-- END Right Section -->

  </div>
  <!-- END Header Content -->

  <!-- Header Loader -->
  <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
  <div id="page-header-loader" class="overlay-header bg-primary-darker">
    <div class="content-header">
      <div class="w-100 text-center">
        <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
      </div>
    </div>
  </div>
  <!-- END Header Loader -->

</header>
<!-- END Header -->