<!-- Header -->
<header id="page-header">
  <!-- Header Content -->
  <div class="content-header">
    <!-- Left Section -->
    <div>
      <!-- Toggle Sidebar -->
      <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
      <button type="button" class="btn btn-dual mr-1" data-toggle="layout" data-action="sidebar_toggle">
        <i class="fa fa-fw fa-bars"></i>
      </button>
      <!-- END Toggle Sidebar -->
    </div>
    <!-- END Left Section -->

    <!-- Right Section -->
    <div class="dropdown d-inline-block">
      <span *ngFor='let badge of selectedSystems' style="cursor: pointer" class="badge badge-pill badge-light"
        (click)="deleteSystem(badge)">
        x {{ badge }}
      </span>
      <button type="button" class="btn btn-dual" id="page-header-user-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="d-none d-sm-inline-block">Systems</span>
        <i class="fa fa-fw fa-angle-down ml-1 d-none d-sm-inline-block"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="page-header-user-dropdown">
        <div class="bg-primary-darker rounded-top font-w600 text-white text-center p-3">
          Select system
        </div>
        <div class="p-2">
          <a class="dropdown-item">
            <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> All
          </a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" *ngFor='let system of systemsList' (click)="addSystem(this.system.value)">
            {{system.value}}
          </a>
          <!-- END Side Overlay -->
        </div>
      </div>

      <!-- User Dropdown -->
      <div class="dropdown d-inline-block">
        <button type="button" class="btn btn-dual" id="page-header-user-dropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-user d-sm-none"></i>
          <span class="d-none d-sm-inline-block">{{ userFullName }}</span>
          <i class="fa fa-fw fa-angle-down ml-1 d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="page-header-user-dropdown">
          <div class="p-2">
            <a *ngIf="user" class="dropdown-item link-cursor" [href]="user.menu.accountLink" target="_blank">
              <i class="far fa-fw fa-user mr-1"></i> Profile
            </a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item link-cursor" (click)="logout()">
              <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> Sign Out
            </a>
          </div>
        </div>
      </div>
      <!-- END User Dropdown -->

      <button type="button" class="btn btn-dual" (click)="debug()">
        <i class="fa fa-fw fa-bug"></i>
      </button>
    </div>
    <!-- END Right Section -->
  </div>
  <!-- END Header Content -->

  <!-- Header Search -->
  <!-- 
  <div id="page-header-search" class="overlay-header bg-primary">
    <div class="content-header">
      <form class="w-100" action="be_pages_generic_search.html" method="post">
        <div class="input-group">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-primary" data-toggle="layout" data-action="header_search_off">
              <i class="fa fa-fw fa-times-circle"></i>
            </button>
          </div>
          <input type="text" class="form-control border-0" placeholder="Search or hit ESC.." id="page-header-search-input"
            name="page-header-search-input">
        </div>
      </form>
    </div>
  </div>
  -->
  <!-- END Header Search -->

  <!-- Header Loader -->
  <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
  <div id="page-header-loader" class="overlay-header bg-primary-darker">
    <div class="content-header">
      <div class="w-100 text-center">
        <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
      </div>
    </div>
  </div>
  <!-- END Header Loader -->
</header>
<!-- END Header -->