.dropdown-menu {
  // position: fixed;
}

.dropdown-menu:hover {
  display: block;
}

.link-cursor {
  cursor: pointer;
}

.selected-system {
  cursor: pointer;
  background-color: rgb(209,229,247);
  border: 2px solid rgb(60, 144, 223);
  margin: 5px;
  text-align: center;
  color: black;
  padding: 3px;
  i {
    color: #3b5998;
  }
}
.select-btn {
  width: 100%;
}

.selected-container {
  max-height: 220px;
  overflow-y: scroll;
}