.link-cursor {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.system-select-width {
  width: 19rem;
}

.ng-select.custom {
  .ng-select-container {
    .ng-value-container {
      padding-top: 0px !important;
    }
  }
}