.dropdown-menu {
  // position: fixed;
}

.dropdown-menu:hover {
  display: block;
}

.link-cursor {
  cursor: pointer;
}

.selected-system {
  cursor: pointer;
  color: #222;
  border-bottom: 1px solid #3b5998;
  margin-bottom: 5px;
  i {
    color: #3b5998;
  }
}
.select-btn {
  width: 110px;
  &:nth-child(2) {
    float: right;
  }
}