.block-options { padding-left: 0.5rem !important; }
.info_block_options { color: #495057; }
.toDelete { background-color: #f2dede !important; }
.custom-control-label { padding: 0.35rem; }
.controlHeaderSort {
    color: #fff;
    background-color: #82b54b;
    border-color: #82b54b;
}