.block-options { padding-left: 0.5rem !important; }
.info_block_options { color: #495057; }
.toDelete { background-color: #f2dede !important; }
.custom-control-label { padding: 0.35rem; }
.controlHeaderSort {
    color: #fff;
    background-color: #82b54b;
    border-color: #82b54b;
}
.control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.input-group-text.custom {
    border: 0;
    background-color: transparent;
    color: #82b54b;
}
.b-0 {
    border:0;
}
.bg-transparent{
    background-color: transparent;
}
.br-lr-1 {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}