<div class="row" [formGroup]="settings">
    <div class="col-md-12">

        <!-- ENVIRONMENT GROUP ACTIVATION -->
        <div id="sideContent_globalActivation" class="form-group">

            <!-- ENVIRONMENT ACTIVATION -->
            <label class="d-block font-sm">Environment Activation</label>

            <!-- GLOBAL ACTIVATION -->
            <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="isActive" name="isActive"
                    formControlName="isActive" [ngClass]="settings.get('isActive').value ? 'selected' : 'notselected'">
                <label class="custom-control-label font-sm" for="isActive">
                    Global
                    <i class="fa fa-info-circle ml-0 info popover-custom-width-1" placement="bottom"
                        ngbPopover="This field define if the test is active or not. A test case that is not active cannot be executed."
                        popoverTitle="Global Activation" triggers="mouseenter:mouseleave"></i>
                </label>
            </div>
            <!-- END GLOBAL ACTIVATION -->

            <!-- QA ACTIVATION -->
            <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" id="isActiveQA" class="custom-control-input" name="isActiveQA"
                    formControlName="isActiveQA"
                    [ngClass]="settings.get('isActiveQA').value ? 'selected' : 'notselected'">
                <label class="custom-control-label font-sm" for="isActiveQA">
                    QA
                    <i class="fa fa-info-circle ml-0 info popover-custom-width-1" placement="bottom"
                        ngbPopover="This field define if the test is active or in the QA environment group."
                        popoverTitle="Active QA" triggers="mouseenter:mouseleave"></i>
                </label>
            </div>
            <!-- END QA ACTIVATION -->

            <!-- UAT ACTIVATION -->
            <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" id="isActiveUAT" class="custom-control-input" name="isActiveUAT"
                    formControlName="isActiveUAT"
                    [ngClass]="settings.get('isActiveUAT').value ? 'selected' : 'notselected'">
                <label class="custom-control-label font-sm" for="isActiveUAT">
                    UAT
                    <i class="fa fa-info-circle ml-0 info popover-custom-width-1" placement="bottom"
                        ngbPopover="This field define if the test is active or in the UAT environment group."
                        popoverTitle="Active UAT" triggers="mouseenter:mouseleave"></i>
                </label>
            </div>
            <!-- END UAT ACTIVATION -->

            <!-- PROD ACTIVATION -->
            <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" id="isActivePROD" class="custom-control-input" name="isActivePROD"
                    formControlName="isActivePROD"
                    [ngClass]="settings.get('isActivePROD').value ? 'selected' : 'notselected'">
                <label class="custom-control-label font-sm" for="isActivePROD">
                    PROD
                    <i class="fa fa-info-circle ml-0 info popover-custom-width-1" placement="bottom"
                        ngbPopover="This field define if the test is active or in the PROD environment group."
                        popoverTitle="Active PROD" triggers="mouseenter:mouseleave"></i>
                </label>
            </div>
            <!-- END PROD ACTIVATION -->

        </div>
        <!-- END ENVIRONMENT GROUP ACTIVATION -->

        <!-- COUNTRY ACTIVATION -->
        <div class="form-group">
            <label class="d-block font-sm">Country Activation</label>
            <div *ngFor="let country of countries"
                class="custom-control block custom-block custom-control-info custom-sm custom-control-inline">
                <input type="checkbox" class="custom-control-input" [id]="country.value" [name]="country.value"
                    [checked]="isCountryDefinedForTestCase(country.value)" (click)="toggleCountry(country)">
                <label class="custom-control-label" [for]="country.value">
                    <span class="d-block text-center">
                        {{ country.value }}
                    </span>
                </label>
            </div>
        </div>
        <!-- END COUNTRY ACTIVATION -->

        <!-- VERSION ACTIVATION -->
        <div class="form-group mb-0">
            <label class="d-block font-sm">Version Activation
                <i class="fa" [ngClass]="showVersionActivation ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="showVersionActivation = !showVersionActivation">
                </i>
            </label>

            <div *ngIf="!sprintsAndRevAreDefined()">
                <p>
                    <i class="fa fa-fw fa-times mr-1"></i>
                    No sprint or revision found
                    <!-- for the system {{testcaseheader.system}} -->
                </p>
            </div>

        </div>

        <div *ngIf="sprintsAndRevAreDefined() && showVersionActivation" class="row">
            <div class="col-4">

                <!-- FROM SPRINT -->
                <div class="form-group custom-form-group-sm">
                    <label for="fromMajor" class="fw-400 font-sm">From Major</label>
                    <select *ngIf="builds.length > 0" class="form-control form-control-sm" formControlName="fromMajor"
                        name="fromMajor">
                        <option *ngFor="let build of builds" [value]="build.versionName" [id]="build.versionName">
                            {{ build.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END FROM SPRINT -->

                <!-- FROM REV -->
                <div class="form-group custom-form-group-sm">
                    <label for="fromMinor" class="fw-400 font-sm">From Minor</label>
                    <select class="form-control form-control-sm" formControlName="fromMinor" name="fromMinor">
                        <option *ngFor="let minor of minors" [value]="minor.versionName" [id]="minor.versionName">
                            {{ minor.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END FROM REV -->

            </div>

            <div class="col-4">

                <!-- TO MAJOR -->
                <div class="form-group custom-form-group-sm">
                    <label for="example-select" class="fw-400 font-sm">To Major</label>
                    <select class="form-control form-control-sm" formControlName="toMajor" name="toMajor">
                        <option *ngFor="let build of builds" [value]="build.versionName" [id]="build.versionName">
                            {{ build.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END TO MAJOR -->

                <!-- TO MINOR -->
                <div class="form-group custom-form-group-sm">
                    <label for="toMinor" class="fw-400 font-sm">To Minor</label>
                    <select class="form-control form-control-sm" formControlName="toMinor" name="toMinor">
                        <option *ngFor="let minor of minors" [value]="minor.versionName" [id]="minor.versionName">
                            {{ minor.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END TO MINOR -->
            </div>

            <div class="col-4">

                <!-- TARGET MAJOR -->
                <div class="form-group custom-form-group-sm">
                    <label for="targetMajor" class="fw-400 font-sm">Target Major</label>
                    <select class="form-control form-control-sm" formControlName="targetMajor" name="targetMajor">
                        <option *ngFor="let build of builds" [value]="build.versionName" [id]="build.versionName">
                            {{ build.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END TARGET MAJOR -->

                <!-- TARGET REV -->
                <div class="form-group custom-form-group-sm">
                    <label for="targetMinor" class="fw-400 font-sm">Target Minor</label>
                    <select class="form-control form-control-sm" formControlName="targetMinor" name="targetMinor">
                        <option *ngFor="let minor of minors" [value]="minor.versionName" [id]="minor.versionName">
                            {{ minor.versionName }}
                        </option>
                    </select>
                </div>
                <!-- END TARGET REV -->
            </div>

        </div>
        <!-- END VERSION ACTIVATION -->

        <!-- CONDITION ACTIVATION -->
        <div class="form-group mb-0">
            <label class="d-block font-sm">Condition Activation
                <i class="fa" [ngClass]="showConditionActivation ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="showConditionActivation = !showConditionActivation">
                </i>
            </label>
        </div>

        <div class="row" *ngIf="showConditionActivation">

            <!-- CONDITION OPER -->
            <div class="col-4">
                <div class="form-group">
                    <label for="example-select" class="fw-400 font-sm">Condition</label>
                    <select class="form-control form-control-sm" formControlName="conditionOperator">
                        <option *ngFor="let condition of conditionOperators" [value]="condition.value"
                            [id]="condition.value">
                            {{ condition.value }}
                        </option>
                    </select>
                </div>
            </div>
            <!-- END CONDITION OPER  -->

            <!-- CONDITION VAL 1 -->
            <div class="col-4" *ngIf="hasConditionCrossReference(settings.get('conditionOperator').value)">
                <div class="form-group"
                    *ngIf="findConditionCrossReference(settings.get('conditionOperator').value).value1">
                    <label for="ConditionValue1" class="fw-400">
                        {{ findConditionCrossReference(settings.get('conditionOperator').value).value1 }}
                    </label>
                    <input type="text" class="form-control form-control-sm" name="ConditionValue1"
                        formControlName="conditionVal1">
                </div>
            </div>
            <!-- END CONDITION VAL 1 -->

            <!-- CONDITION VAL 2 -->
            <div class="col-4" *ngIf="hasConditionCrossReference(settings.get('conditionOperator').value)">
                <div class="form-group"
                    *ngIf="findConditionCrossReference(settings.get('conditionOperator').value).value2">
                    <label for="ConditionValue2" class="fw-400">
                        {{ findConditionCrossReference(settings.get('conditionOperator').value).value2 }}
                    </label>
                    <input type="text" class="form-control form-control-sm" name="ConditionValue2"
                        formControlName="conditionVal2">
                </div>
            </div>
            <!-- END CONDITION VAL 2 -->

        </div>
        <!-- END CONDITION ACTIVATION -->

        <!-- ROBOT CONSTRAINTS -->
        <div class="form-group mb-0">
            <label class="d-block font-sm">Robot Constraints
                <i class="fa" [ngClass]="showRobotConstraints ? 'fa-eye-slash' : 'fa-eye'"
                    (click)="showRobotConstraints = !showRobotConstraints">
                </i>
            </label>
        </div>

        <div class="row" *ngIf="showRobotConstraints">

            <!-- USER AGENT -->
            <div class="col-6">
                <div class="form-group">
                    <label for="userAgent" class="fw-400 font-sm">User Agent</label>
                    <input type="text" class="form-control form-control-sm" name="userAgent"
                        formControlName="userAgent">
                </div>
            </div>
            <!-- END USER AGENT -->

            <!-- SCREEN SIZE -->
            <div class="col-6">
                <div class="form-group">
                    <label for="screenSize" class="fw-400 font-sm">Screen Size</label>
                    <input type="text" class="form-control form-control-sm" name="screenSize"
                        formControlName="screenSize">
                </div>
            </div>
            <!-- END SCREEN SIZE -->

        </div>
        <!-- END ROBOT CONSTRAINTS -->

    </div>
</div>