<div class="bg-body-light">
  <div class="content content-full full-width pb-3 m-0 pt-3">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">

      <!-- TEST CASE SELECTOR COMPONENT -->
      <app-testcaseselector [selectedTest]='selectedTest' [selectedTestCase]='selectedTestCase'
        (SelectedTestChange)='receiveTest($event)' (SelectedTestCaseChange)='receiveTestCase($event)'
        [testcase]="testcase">
      </app-testcaseselector>
      <!-- END TEST CASE SELECTOR COMPONENT -->

      <!-- SHORTCUTS BUTTON -->
      <app-shortcuts [selectedTest]='selectedTest' [selectedTestCase]='selectedTestCase' [testcase]="testcase">
      </app-shortcuts>
      <!-- END SHORTCUTS BUTTON -->

    </div>
  </div>
</div>

<!-- SCRIPT PAGE CONTENT -->
<app-testcasecontent *ngIf='testcase' [testcase]="testcase">
</app-testcasecontent>
<!-- END SCRIPT PAGE CONTENT -->