<!-- <div class="content content-full full-width">
  <button class="btn btn-outline-danger" *ngIf="(selectedRows.length>0)" placement="top" ngbPopover="Delete TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-trash-alt"></i>
  </button> 

  <button class="btn btn-outline-success" *ngIf="(selectedRows.length>0)" (click)="runTestCases(selectedRows)" placement="top" ngbPopover="Run TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-play"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>0)" placement="top" ngbPopover="Edit TestCase Header" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-pen"></i>
  </button> 

  <button class="btn btn-outline-primary" *ngIf="(selectedRows.length==1)" placement="top" ngbPopover="Duplicate TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-copy"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Label" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-tag"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Status" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-check-circle"></i>
  </button>

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Priority" triggers="mouseenter:mouseleave" container="body">
      <i class="fa fa-exclamation"></i>
  </button>
</div> -->


<div *ngIf="(selectedRows.length>0)" class="btn-group btn-group-sm" data-toggle="buttons" role="group"
  aria-label="Icons Text group">
  <button type="button" class="btn btn-outline-secondary">
    <i class="fa fa-fw fa-pen"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <i class="fa fa-fw fa-tag"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <i class="fa fa-fw fa-copy"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <i class="fa fa-fw fa-play"></i>
  </button>
  <button type="button" class="btn btn-outline-secondary">
    <i class="fa fa-fw fa-trash"></i>
  </button>
</div>