<!-- <div class="content content-full full-width">
  <button class="btn btn-outline-danger" *ngIf="(selectedRows.length>0)" placement="top" ngbPopover="Delete TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-trash-alt"></i>
  </button> 

  <button class="btn btn-outline-success" *ngIf="(selectedRows.length>0)" (click)="runTestCases(selectedRows)" placement="top" ngbPopover="Run TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-play"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>0)" placement="top" ngbPopover="Edit TestCase Header" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-pen"></i>
  </button> 

  <button class="btn btn-outline-primary" *ngIf="(selectedRows.length==1)" placement="top" ngbPopover="Duplicate TestCase" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-copy"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Label" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-tag"></i>
  </button> 

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Status" triggers="mouseenter:mouseleave" container="body">
    <i class="fa fa-check-circle"></i>
  </button>

  <button class="btn btn-outline-info" *ngIf="(selectedRows.length>1)" placement="top" ngbPopover="Edit Priority" triggers="mouseenter:mouseleave" container="body">
      <i class="fa fa-exclamation"></i>
  </button>
</div> -->


<div *ngIf="getSelection()" class="btn-group btn-group-sm" data-toggle="buttons" role="group"
  aria-label="Icons Text group">

  <!-- EDIT SINGLE RAW BUTTON -->
  <button *ngIf="getSelection().length == 1" type="button" class="btn btn-outline-secondary"
    ngbPopover="Edit Testcase Header" triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-pen"></i>
  </button>
  <!-- END EDIT SINGLE RAW BUTTON -->

  <!-- EDIT LABELS BUTTON -->
  <button *ngIf="getSelection().length == 1" type="button" class="btn btn-outline-secondary" ngbPopover="Edit Labels"
    triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-tag"></i>
  </button>
  <!-- END EDIT LABELS BUTTON -->

  <!-- DUPLICATE BUTTON -->
  <button *ngIf="getSelection().length == 1" type="button" class="btn btn-outline-secondary"
    ngbPopover="Duplicate Testcase" triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-copy"></i>
  </button>
  <!-- END DUPLICATE BUTTON -->

  <!-- RUN BUTTON -->
  <button type="button" class="btn btn-outline-secondary" ngbPopover="Run Testcase(s)" triggers="mouseenter:mouseleave"
    placement="top">
    <i class="fa fa-fw fa-play"></i>
  </button>
  <!-- END RUN BUTTON -->

  <!-- DELETE BUTTON -->
  <button *ngIf="getSelection().length == 1" type="button" class="btn btn-outline-secondary"
    ngbPopover="Delete Testcase" triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-trash"></i>
  </button>
  <!-- END DELETE BUTTON -->

  <!-- MASS UPDATE STATUS BUTTON -->
  <button *ngIf="getSelection().length > 1" type="button" class="btn btn-outline-secondary" ngbPopover="Update Status"
    triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-check-circle"></i>
  </button>
  <!-- END MASS UPDATE STATUS BUTTON -->

  <!-- MASS UPDATE APPLICATION BUTTON -->
  <button *ngIf="getSelection().length > 1" type="button" class="btn btn-outline-secondary"
    ngbPopover="Update Applications" triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-cube"></i>
  </button>
  <!-- END MASS UPDATE APPLICATION BUTTON -->

  <!-- MASS UPDATE PRIORITY BUTTON -->
  <button *ngIf="getSelection().length > 1" type="button" class="btn btn-outline-secondary"
    ngbPopover="Update Priorities" triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-exclamation"></i>
  </button>
  <!-- END MASS UPDATE PRIORITY BUTTON -->

  <!-- MASS UPDATE LABELS BUTTON -->
  <button *ngIf="getSelection().length > 1" type="button" class="btn btn-outline-secondary" ngbPopover="Update Labels"
    triggers="mouseenter:mouseleave" placement="top">
    <i class="fa fa-fw fa-tag"></i>
  </button>
  <!-- END MASS UPDATE LABELS BUTTON -->

  <!-- <button type="button" class="btn btn-outline-secondary" (click)="debug()">
    <i class="fa fa-fw fa-bug"></i>
  </button> -->

</div>