<div class="input-group mr-2 mb-2">
    <div class="input-group-prepend link-cursor" (mouseenter)="mouseOverOnFilter = true"
        (mouseleave)="mouseOverOnFilter = false" (click)="removeFilter()">
        <span class="input-group-text">
            <i class="fa fa-fw mr-2" [ngClass]="mouseOverOnFilter ? 'fa-trash' : 'fa-search'"
                style="color:#495057;"></i>
            {{column.displayName}}
        </span>
    </div>
    <input type="text" class="form-control" (keyup.enter)="validField()" (blur)="validField()" [(ngModel)]="data"
        [placeholder]="column.placeholder">
</div>